
<div class="bottomSpace NFCeHide">
    <h2 class="bottomSpace">
        Faturas e duplicatas
        <a href="ajuda: Clique para editar as duplicatas" id="link_editarDuplicatas" class="linkBox">Editar duplicatas</a>
    </h2>
    <div id="lista_duplicatas" class="tableList fullBox bottomSpace">
        <table>
            <thead>
                <tr>
                    <td>Núm</td>
                    <td>Venc</td>
                    <td>Valor</td>
                    <td>Núm</td>
                    <td>Venc</td>
                    <td>Valor</td>
                    <td>Núm</td>
                    <td>Venc</td>
                    <td>Valor</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="9"><i>Nenhuma duplicata preenchida</i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <table>
        <tbody>
            <tr>
                <td class="boxField" id="YnFat_rcpt"><label for="YnFat"> <span>Número da fatura</span></label><input type="text" id="YnFat" class="undefined ui-widget-content ui-corner-all" name="YnFat" autocomplete="off" especialtype="integer"></td>
                <td class="boxField" id="YvOrig_rcpt"><label for="YvOrig"> <span>Valor original fat.</span></label><input type="text" id="YvOrig" class="undefined ui-widget-content ui-corner-all" name="YvOrig" autocomplete="off" especialtype="money"></td>
                <td class="boxField" id="YvDesc_rcpt"><label for="YvDesc"> <span>Valor desconto</span></label><input type="text" id="YvDesc" class="undefined ui-widget-content ui-corner-all" name="YvDesc" autocomplete="off" especialtype="money"></td>
                <td class="boxField" id="YvLiq_rcpt"><label for="YvLiq"> <span>Valor líquido fat.</span></label><input type="text" id="YvLiq" class="undefined ui-widget-content ui-corner-all" name="YvLiq" autocomplete="off" especialtype="money"></td>
            </tr>
        </tbody>
    </table>
</div>
