<div id="quadroTransporte" class="bottomSpace NFCeHide">
    <h2>Dados do transporte</h2>

    <div class="row">

        <div class="col-sm-4">
            <label for="exampleInputPassword1">Modalidade do frete</label>
            <div class="row ">
                <span class="ui-select">
                <select ng-model="tributacao.icms.motDesoneracao.id">
                    <option value="0">0 - Emitente</option>
                    <option value="1">1 - Destinatário</option>
                    <option value="2">2 - Terceiros</option>
                    <option value="9">9 - Sem frete</option>
                </select>
            </span>
            </div>
        </div>
        <div class="col-sm-6">
            <label for="exampleInputPassword1">Nome transportador</label>
            <div class="row ">
                <div class="input-group">
                    <select name="book[0].produto" class="col-sm-12 selectProduto produto"></select>
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-question-sign"></i></button>
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">CNPJ/CPF transport.</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Inscr. Est. transp.</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Placa veículo</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">UF veículo</label>

                <div class="row ">
                    <div class="input-group">
                        <span class="input-group-addon fa fa-list-ol"></span>
                        <span class="ui-select">
                <select ng-model="tributacao.icms.motDesoneracao.id">
                    <option value="0">0 - Emitente</option>
                    <option value="1">1 - Destinatário</option>
                    <option value="2">2 - Terceiros</option>
                    <option value="9">9 - Sem frete</option>
                </select>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Endereco -->
    <div ng-include="'views/util/apps/endereco.html'"></div>

    <!--          TELEFONE  -->

    <div ng-include="'views/util/apps/telefone.html'"></div>

    <!--          Email Empresa  -->

    <div ng-include="'views/util/apps/email.html'"></div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Reg. Nac. Trans. Carga</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Identificação vagão</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Identificação balsa</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <label for="BindFinal"><input type="checkbox" id="BindFinal" class="destDados ui-widget-content ui-corner-all" name="BindFinal" autocomplete="off" value="1"> <span>Informar retenções de ICMS de transporte</span></label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Valor do serviço</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">BC retenção ICMS</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Alíq. da retenção</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">CFOP transp</label>

                <div class="row ">
                    <div class="input-group">
                        <span class="input-group-addon fa fa-list-ol"></span>
                        <span class="ui-select">
                <select ng-model="tributacao.icms.motDesoneracao.id">
                    <option value="0">0 - Emitente</option>
                    <option value="1">1 - Destinatário</option>
                    <option value="2">2 - Terceiros</option>
                    <option value="9">9 - Sem frete</option>
                </select>
            </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">UF do ICMS</label>

                <div class="row ">
                    <div class="input-group">
                        <span class="input-group-addon fa fa-list-ol"></span>
                        <span class="ui-select">
                <select ng-model="tributacao.icms.motDesoneracao.id">
                    <option value="0">0 - Emitente</option>
                    <option value="1">1 - Destinatário</option>
                    <option value="2">2 - Terceiros</option>
                    <option value="9">9 - Sem frete</option>
                </select>
            </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Município do ICMS</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Quantidade de vol.</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Espécie dos vol.</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Marca dos volumes</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Numeração dos vol.</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Peso líquido</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Peso bruto</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Números dos lacres</label>
                <div class="input-group">
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
            </div>
        </div>
    </div>