<div class="row">
    <div class="col-sm-3">
        <label for="exampleInputPassword1">Nota de Empenho</label>
        <div class="input-group">
            <span class="input-group-addon">Nº</span>
            <input type="text" class="form-control nome-socio" name="book[0].quantidade" placeholder="0.00" />
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Pedido</label>
            <div class="input-group">
                <span class="input-group-addon">Nº</span>
                <input type="text" class="form-control nome-socio" name="book[0].quantidade" placeholder="0.00" />
                <span class="input-group-addon">,00</span>
            </div>

        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">

            <label for="exampleInputPassword1">Contrato</label>
            <div class="input-group">
                <span class="input-group-addon">Nº</span>
                <input type="text" class="form-control nome-socio" name="book[0].quantidade" placeholder="0.00" />
                <span class="input-group-addon">,00</span>
            </div>
            
        </div>
    </div>
</div>