<div ng-repeat="produto in produtos">
     <div class="teste">
        <div class="row" style="margin-top:3%">
            <div class="ng-cloak" ng-controller="ProdutoSelectController as ctrl">
                <div class="col-sm-3 ">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Produto <small ng-click="ctrl.addCfop()" class="adcionar">(Adicionar <i class="glyphicon glyphicon-plus"></i>)</small></label>
                        <div class="row">
                            <ui-select ng-model="produto.produto" theme="bootstrap" on-select="ctrl.onSelectCallback($item, $model)">
                                <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.prodId.produto}}</ui-select-match>
                                <ui-select-choices repeat="item in ctrl.produto | filter: $select.search">
                                  <div ng-bind-html="item.prodId.produto | highlight: $select.search"></div>
                                  <small ng-bind-html="item.codigo | highlight: $select.search"></small> -
                                </ui-select-choices>
                              </ui-select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ng-cloak" ng-controller="CfopSelectController as ctrl">
                <div class="col-sm-1 ">
                    <div class="form-group">
                        <label for="exampleInputPassword1">CFOP</label>
                        <div class="row" style="margin-left:0px">
                            <ui-select ng-model="produto.produto.tributacao.cfop" theme="bootstrap">
                                <ui-select-match placeholder="CFOP">{{$select.selected.cfop}}</ui-select-match>
                                <ui-select-choices repeat="item in ctrl.cfop | filter: $select.search">
                                  <div ng-bind-html="item.cfop | highlight: $select.search"></div>
                                  <small ng-bind-html="item.natureza | highlight: $select.search"></small> -
                                </ui-select-choices>
                              </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">

                    <label for="exampleInputPassword1">Quant.</label>
                    <div class="input-group">
                        <input type="text" class="form-control nome-socio" ng-init="produto.produto.quantidade=1" ng-model="produto.produto.quantidade" name="book[0].quantidade" placeholder="0.00" />
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">

                    <label for="exampleInputPassword1">Valor Unitario </label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control cota-socio" ng-init="produto.produto.precoList[0].valor=0" name="book[0].vlUnitario"  ng-model="produto.produto.precoList[0].valor" name="book[0].vlUnitario" placeholder="R$0,00" />
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

                <div class="form-group">
                <div class="col-sm-8">
                    <label for="exampleInputPassword1">Total prod.</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control cota-socio" ng-model="calcProd(produto.produto.quantidade,produto.produto.precoList[0].valor)" name="book[0].desconto" placeholder="R$0,00" />
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>
                    <div class="col-sm-4" style="margin-top:20px">
                    <input type="checkbox" class="toggle-ones" data-toggle="toggle" style="width: 100%" data-on="Editar" data-off="Fechar" data-onstyle="success" data-offstyle="danger" ng-true-value="'2'" ng-false-value="'1'" >
                    </div>
                </div>
            </div>
            <div class="col-xs-1" style="margin-top:20px">
                <button type="button" ng-click="createForm2()" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
            </div>

        </div>
        <div class="edit">
            <div ng-include="'views/produto/apps/tributacao.html'"></div>

    </div>
    </div>
    </div>
