<h2>Dados do destinatário</h2>


<div class="col-sm-8 ">
    <div class="form-group">
        <label for="exampleInputPassword1">Produto</label>
          <div class="padded-row">
          <angucomplete id="ex1" placeholder="Search clientes" pause="100" ng-model="produto.produto" selectedobject="empresa" localdata="clientes" searchfields="nome" titlefield="nome" minlength="1" inputclass="form-control form-control-small" matchclass="highlight" />
          </div>
        </div>
        <div class="" ng-show="empresa">
    </div>
</div>
{{empresa}}
<div ng-show="empresa.tipoPessoa == 1" ng-hide="empresa.tipoPessoa == 2" ng-include="'views/util/apps/documentosFisico.html'"></div>

<div ng-show="empresa.tipoPessoa == 2" ng-hide="empresa.tipoPessoa == 1" ng-include="'views/util/apps/documentosJuridicos.html'"></div>
<!-- Endereco -->
                        <div ng-include="'views/util/apps/endereco.html'"></div>

                        <!-- -------------------  TELEFONE ----------------- -->

                        <div ng-include="'views/util/apps/telefone.html'"></div>

                        <!-- -------------------  Email Empresa ----------------- -->

                        <div ng-include="'views/util/apps/email.html'"></div>