<h2>Totalizadores <span class="descr">(estes valores não podem ser alterados manualmente)</span></h2>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Total BC ICMS</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="exampleInputPassword1">Total ICMS</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Total BC ICMS ST</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Total ICMS ST</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Total bruto dos produtos</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Total ICMS desonerado</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Total de frete</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Total de seguro</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Total de desconto</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Total de IPI</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Total de PIS</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleInputPassword1">Total de PIS ST</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="exampleInputPassword1">Total de COFINS</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="exampleInputPassword1">Total de COFINS ST</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="exampleInputPassword1">Total de II</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="exampleInputPassword1">Total do FCP</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group">
            <label for="exampleInputPassword1">ICMS UF remet. </label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="exampleInputPassword1">ICMS UF destino</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
      </div>
    <div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="exampleInputPassword1">Total Outras Despesas</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="form-group">
            <label for="exampleInputPassword1">TOTAL DA NF</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-addon">,00</span>
            </div>
        </div>
    </div>
</div>

<div id="meuRetencoes_rcpt"><label for="meuRetencoes"><input type="checkbox" id="meuRetencoes" class="undefined ui-widget-content ui-corner-all" name="meuRetencoes" autocomplete="off" value="1"> 
    <span>Informar retenções de impostos</span></label>

    <h2>Retenções de impostos</h2>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Valor retido PIS</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon">,00</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Valor retido COFINS</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon">,00</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Valor retido CSLL</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon">,00</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">BC retido IRRF</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon">,00</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Valor retido IRRF</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon">,00</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">BC retido previdência</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon">,00</span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Valor retido previdência</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon">,00</span>
                </div>
            </div>
        </div>
    </div>
    <div id="quadroTribAprox" class="bottomSpace">
        <h2>Lei da Transparência</h2>
        <div class="descr">Esta lei mostra ao cliente a quantidade de impostos que ele está pagando para o governo ao adquirir a mercadoria. (<a href="ajuda: Clique para saber mais sobre a Lei da Transparência" id="link_infoTribAprox">saiba mais</a>)</div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="exampleInputPassword1">Impostos federais</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-addon">,00</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="exampleInputPassword1">Impostos estaduais</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-addon">,00</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="exampleInputPassword1">Impostos municipais</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-addon">,00</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="exampleInputPassword1">Total aproximado</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-addon">,00</span>
                    </div>
                </div>
            </div>
        </div>