
         <div class="modal fade">
          <div class="modal-dialog" style="width : 100%">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cadastro Nota Fiscal</h4>
              </div>
              <div class="modal-body">
                <form  class="nfSaidaForm">
                	<div ng-include="'views/notaFiscal/apps/cadNotaFiscal.html'"></div>
</form>
              </div>

              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                      <button type="submit"  ng-click="saveNFeNota()" class="btn btn-primary">Gravar</button>
              </div>

            </div>
          </div>
        </div>


