
         <div class="modal fade">
          <div class="modal-dialog" style="width : 100%">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cadastro Pedido Venda</h4>
              </div>
              <div class="modal-body">
                <form  id="pdVendasForm">
                	<div class="container" ng-app ng-init="tab=1">
                    <ul class="tabs-nav">
                      <li><a ng-click="tab=1" ng-class="{'active' : tab==1}"  data-i18n="dados da nfe-e"></a></li>
                      <li><a ng-click="tab=3" ng-class="{'active' : tab==3}" data-i18n="destinatario"></a></li>
                      <li><a ng-click="tab=4" ng-class="{'active' : tab==4}" data-i18n="produtos e servicos"></a></li>
                      <li><a ng-click="tab=5" ng-class="{'active' : tab==5}" data-i18n="totais"></a></li>
                      <li><a ng-click="tab=6" ng-class="{'active' : tab==6}" data-i18n="transporte"></a></li>
                      <li><a ng-click="tab=7" ng-class="{'active' : tab==7}" data-i18n="cobranca"></a></li>
                      <li><a ng-click="tab=8" ng-class="{'active' : tab==8}" data-i18n="Info. Adic."></a></li>
                      <li><a ng-click="tab=9" ng-class="{'active' : tab==9}" data-i18n="Export. e Compras"></a></li>
                      <li><a ng-click="tab=10" ng-class="{'active' : tab==10}" data-i18n="Cana"></a></li>
                    </ul>
                    <div class="tabs-container">
                      <div class="tab-content" ng-show="tab == 1">
                        <div ng-include="'views/notaFiscal/apps/nf_Dados.html'"></div>
                      </div>
                      <div class="tab-content" ng-show="tab == 3">
                      <div ng-include="'views/notaFiscal/apps/nf_Remetente.html'"></div>
                      </div>
                      <div class="tab-content" ng-show="tab == 4">
                        <div ng-include="'views/notaFiscal/apps/nf_Produto.html'"></div>
                      </div>
                      <div class="tab-content" ng-show="tab == 5">
                      <div ng-include="'views/notaFiscal/apps/nf_Totalizadores.html'"></div>
                      </div>
                      <div class="tab-content" ng-show="tab == 6">
                      <div ng-include="'views/notaFiscal/apps/nf_Info_Transp.html'"></div>
                      </div>
                      <div class="tab-content" ng-show="tab == 7">
                         <div ng-include="'views/notaFiscal/apps/nf_duplicata.html'"></div>
                      </div>
                      <div class="tab-content" ng-show="tab == 8">
                      <div ng-include="'views/notaFiscal/apps/nf_Outras_Info.html'"></div>
                      </div>
                      <div class="tab-content" ng-show="tab == 9">

                      </div>
                      <div class="tab-content" ng-show="tab == 10">

                      </div>
                    </div>
                  </div>
            	</form>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
              </div>
            </div>
          </div>
        </div>


