
			         <div class="modal fade">
			          <div class="modal-dialog" style="width : 80%">
			            <div class="modal-content">
			              <div class="modal-header">
			                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
			                <h4 class="modal-title">Cadastro Pedido Venda</h4>
			              </div>
			              <div class="modal-body">
			                <form  class="pdVendasForm">
	                                    <div class="col-sm-12" ng-include="'views/financeiro/apps/cliente.html'"></div>
	                                     <div class="row">
	                                        <div class="col-sm-3" ng-include="'views/util/apps/formaPg.html'"></div>
	                                        <div class="col-sm-3">
	                                            <label for="exampleInputEmail1">Tipo Frete</label>
	                                            <div class="row ">
		                                            <select id="XmodFrete" name="unidTributada" class=" form-group col-sm-12"  ng-model="cfop.natureza">
														<option value="0">0 - Emitente</option>
														<option value="1">1 - Destinatário</option>
														<option value="2">2 - Terceiros</option>
														<option value="9">9 - Sem frete</option>
													</select>
												 </div>
	                                        </div>
	                                        <div class="form-group col-sm-2">
	                                            <label for="exampleInputPassword1">Valor Frete</label>
	                                            <input type="password" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="0.00">
	                                        </div>
	                                        <div class="form-group col-sm-2">
	                                            <label for="exampleInputPassword1">Desconto</label>
	                                            <input type="password" class="form-control" ng-model="cfop.margemAgregadaST" name="password" placeholder="0.00">
	                                        </div>
	                                        <div class="form-group col-sm-2">
	                                            <label for="exampleInputPassword1">Valor Total</label>
	                                            <input type="password" class="form-control" ng-model="cfop.margemAgregadaST" name="password" placeholder="0.00">
	                                        </div>
	                                    </div>
	                                     <div class="row">
	                                     	<div  class="col-sm-6" ng-include="'views/util/apps/enderecoSelect.html'"></div>
                                		</div>
                                <div class="row " style="margin-top : 10px"></div>


								  	<div ng-include="'views/util/apps/produtoSelect.html'"></div>


			            </form>
			              </div>
			              <div class="modal-footer">
			                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
			              </div>
			            </div>
			          </div>
			        </div>


