<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">

<!-- ------------------------------------- -->
<!-- ------------------------------------- -->

<!-- -------------------  Email Empresa ----------------- -->
<div class="row">
    <div class="col-sm-4">
        <label for="exampleInputPassword1">Atividade Primaria</label>
        <select id="atividade2" name="atividade2" class="select col-sm-12"></select>
    </div>
    <div class="col-sm-4" style="margin-top:5px">

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-top: 7px;">
    Adicionar
    <span class="caret"></span>
  </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="javascript:;" class="addEmailButton2">Atividade Secundaria</a></li>
                <li><a href="javascript:;" class="addEmailButton2">Atividade Tercearia</a></li>
                <li><a href="javascript:;" class="addEmailButton2">Atividade Quarta</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="javascript:;" class="addEmailButton2">Outros Atividades</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Template for dynamic field -->
<div class="row" id="template-cnae" style="display: none;">
    <div class="col-sm-4">
        <label for="exampleInputPassword1" class="control-label">Cnae</label>
        <select id="atividade2"  class="select col-sm-12"></select>
    </div>
    <div class="col-sm-4" style="margin-top:15px">
        <button type="button" class="btn btn-link removeButton2">deletar</button>
    </div>
</div>

<script>
    $(document).ready(function() {

         $(".select").select2({
          placeholder: "Select a state",
          allowClear: true
        });

        $('.addEmailButton2').on('click', function() {
            var $that     = $(this),
                $template = $('#template-cnae'),
                $newRow   = $template.clone().removeAttr('id').insertBefore($template).show();

            $that.parent().addClass('disabled');

            // Set the label and field name
            var fieldName = $that.attr('data-name');
            $newRow
                .find('.control-label')
                    .html($that.html())
                    .end()
                .find('input')
                    .attr('name', fieldName)
                    .end()
                .on('click', '.removeButton2', function() {
                    // Remove field when clicking the Remove button
                    $('#empresaForm').formValidation('removeField', fieldName);

                    // Enable the Add button
                    $that.parent().removeClass('disabled');

                    // Remove element
                    $newRow.remove();
                });

            // Add new field
            $('#empresaForm').formValidation('addField', fieldName, {
                message: 'The phone number is not valid',
                validators: {
                    digits: {
                        message: 'The value can contain only digits'
                    }
                }
            });
        });

        //ajax call cnaes
        $.ajax({
      url: 'http://api.joind.in/v2.1/talks/10889',
      data: {
         format: 'json'
      },
      error: function() {
         $('#info').html('<p>An error has occurred</p>');
      },
      dataType: 'jsonp',
      success: function(data) {
         var $title = $('<h1>').text(data.talks[0].talk_title);
         var $description = $('<p>').text(data.talks[0].talk_description);
         $('#info')
            .append($title)
            .append($description);
      },
      type: 'GET'
   });

            });
    </script>