<div ng-repeat="email in emails  | filter:{ modelAction : 'INSERT',modelAction : 'UPDATE',modelAction : 'NONE' }">
    <hr/>
    <div class="row">


        <div ng-if="email.emailTypeEnum == 'PRINCIPAL'">
            <!-- code to render the regular video block -->
            <div class="col-sm-4">
                <label for="exampleInputPassword1">Email</label>
                <input type="text" class="form-control col-sm-4 hide input-id" name="id" placeholder="Email">
                <input type="text" class="form-control col-sm-4 hide input-type" name="type" value="1" placeholder="Email">
                <div class="input-group">
                    <span class="InputSign input-group-addon" target="contatos_emails"><span title="Apenas emails Validos" class="fa fa-envelope"></span></span>
                    <input type="email" class="form-control" placeholder="" aria-describedby="basic-addon2" ng-model="email.email">
                </div>
            </div>

            <div class="col-sm-4" style="margin-top:18px">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true" style="margin-top: 7px;">Adicionar<span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a ng-click="createFormEmail('NFE')" class="addEmailButton">NF-e</a></li>
                        <li><a ng-click="createFormEmail('COMPRAS')" class="addEmailButton">Compras</a></li>
                        <li><a ng-click="createFormEmail('VENDAS')" class="addEmailButton">Vendas</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="createFormEmail('OUTROS')" class="addEmailButton">Outros</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div ng-if="email.emailTypeEnum != 'PRINCIPAL'">
            <div class="col-sm-4">
                <label for="exampleInputPassword1" class="control-label">{{email.emailTypeEnum}}</label>
                <div class="input-group">
                    <span class="InputSign input-group-addon" target="contatos_emails"><span title="Apenas emails Validos" class="fa fa-envelope"></span></span>
                    <input type="text" class="form-control" ng-model="email.email" placeholder="" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="col-sm-4" style="margin-top:25px">
                <button type="button" ng-click="deleteFormEmail(email)" class="btn btn-link removeButton">deletar</button>
            </div>
        </div>
    </div>
</div>
