<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<!-- ------------------------------------- -->
<!-- ------------------------------------- -->

<!-- -------------------  Email Empresa ----------------- -->
<div class="row">
    <div class="col-sm-12">
        <label for="exampleInputPassword1">Forma de Pag. </label>
        <select  name="atividade2" ng-model="formaPg.id"  class="select1 cnaeList col-sm-12">
        </select>
    </div>
</div>


<script>
    $(document).ready(function() {


                var callbackBanco = function(res){
                var planos = "";
               if(res.operationSuccess == true)
               {

                   for(var x = 0 ;x < res.formaPgList.length;x++)
                   {
                       planos = planos + "<option value='"+res.formaPgList[x].id+"'> "+res.formaPgList[x].descricao+" </option>";
                   }

                    $('.cnaeList').append(planos);

                    $(".select1").select2({
                          placeholder: "Selecione o BANCO",
                          allowClear: true
                        });
               }
            }

            qat.model.select.util("financeiro/api/formaPg/fetchPage",true,new qat.model.planoInquiryRequest( 100/20, true, JSON.parse(localStorage.getItem("empresa")).id),callbackBanco);



            });
    </script>