
         <div class="modal fade">
          <div class="modal-dialog" style="width : 80%">
            <div class="modal-content">
              <form  class="agenciaForm">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cadastro Agência</h4>
              </div>
              <div class="modal-body">
                        <div ng-include="'views/financeiro/apps/agencia.html'"></div>

                           <!-- Endereco -->
                        <div ng-include="'views/util/apps/numeroConta.html'"></div>

                            <!-- Endereco -->
                        <div ng-include="'views/util/apps/endereco.html'"></div>

                        <!-- -------------------  TELEFONE ----------------- -->

                        <div ng-include="'views/util/apps/telefone.html'"></div>

                        <!-- -------------------  Email Empresa ----------------- -->

                        <div ng-include="'views/util/apps/email.html'"></div>

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="saveAgencia()" class="btn btn-primary">Gravar</button>
                </div>
                </form>
              </div>

            </div>
          </div>
