
         <div class="modal fade">
          <div class="modal-dialog" style="width : 80%">
            <div class="modal-content">
              <form  class="agenciaForm">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cadastro Agencia</h4>
              </div>
              <div class="modal-body">
                
                            <div class="row">
                            	 <div class="form-group col-sm-3">
                                    <label for="exampleInputEmail1">Banco</label>
                                    <select id="unidTributada" name="banco"  ng-model="agencia.banco" class="form-control">
      					                    <option value="01">Itau</option>
      					                    <option value="02">Caixa</option>
					                </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="exampleInputEmail1">Nº Agencia</label>
                                    <input type="text"  ng-model="agencia.numero" name="numero" class="form-control" placeholder="CFOP">
                                </div>
                                <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nome Gerente</label>
                                    <input type="text" class="form-control" ng-model="agencia.gerente" name="descricao" placeholder="Descrição">
                                </div>
                              </div> 
                             </div>
                             <div class="row">
                             
                                <div class="col-sm-12">
                                  <div class="form-group">
                                      <label for="exampleInputPassword1">Observação</label>
                                      <textarea class="form-control" ng-model="agencia.observacao" rows="5" ></textarea>
                                  </div>
                              </div>
                            
                            </div>

                           <!-- Endereco -->
                        <div ng-include="'views/util/apps/numeroConta.html'"></div>

                            <!-- Endereco -->
                        <div ng-include="'views/util/apps/endereco.html'"></div>

                        <!-- -------------------  TELEFONE ----------------- -->

                        <div ng-include="'views/util/apps/telefone.html'"></div>

                        <!-- -------------------  Email Empresa ----------------- -->

                        <div ng-include="'views/util/apps/email.html'"></div>
              	
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" ng-click="saveAgencia()" class="btn btn-primary">Gravar</button>
                </div>
                </form>
              </div>
              
            </div>
          </div>
    