<div class="modal fade">
    <div class="modal-dialog" style="width : 80%">
        <div class="modal-content">
            <form id="clienteForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cadastro Cliente</h4>
                </div>
                <div class="modal-body">
                    <form id="empresaForm">
                        <div class="row">
                            <dl class="dl-horizontal">
                                <dd>

                                    <label class="ui-radio"><input name="radio1" type="radio" ng-init="empresa.tipoPessoa=true" ng-model="empresa.pessoaTypeEnumValue" value="1" checked ><span>Cliente </span></label>
                                    <label class="ui-radio"><input name="radio2" type="radio" ng-model="empresa.pessoaTypeEnumValue" value="2" checked ><span>Fornecedor </span></label>
                                    <label class="ui-radio"><input name="radio3" type="radio" ng-model="empresa.pessoaTypeEnumValue" value="3" checked ><span>Transportador </span></label>
                                    <label class="ui-radio"><input name="radio4" type="radio" ng-model="empresa.pessoaTypeEnumValue" value="4" checked ><span>Consumidor final </span></label>

                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="dl-horizontal">
                                <dd>
                                    <label class="ui-radio"><input name="radio5" type="radio"  ng-model="empresa.tipoPessoa" ng-init="empresa.tipoPessoa=true" value="1" checked ><span>Pessoa Fisica </span></label>
                                    <label class="ui-radio"><input name="radio6" type="radio" ng-model="empresa.tipoPessoa" value="2" ><span>Pessoa Juridica </span></label>
                                </dd>
                            </dl>
                        </div>

                        <div ng-show="empresa.tipoPessoa == 1" ng-hide="empresa.tipoPessoa == 2" ng-include="'views/util/apps/documentosFisico.html'"></div>

                        <!-- telefone -->
                        <div ng-show="empresa.tipoPessoa == 2" ng-hide="empresa.tipoPessoa == 1" ng-include="'views/util/apps/documentosJuridicos.html'"></div>

                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label for="exampleInputEmail1">Nome do responsável</label>
                                <input type="text" class="form-control col-sm-3" ng-model="empresa.nomeResponsavel" name="nomeResponsavel" placeholder="Nome Responsavel">
                            </div>

                        </div>

                        <!-- Endereco -->
                        <div ng-include="'views/util/apps/endereco.html'"></div>

                        <!-- -------------------  TELEFONE ----------------- -->

                        <div ng-include="'views/util/apps/telefone.html'"></div>

                        <!-- -------------------  Email Empresa ----------------- -->

                        <div ng-include="'views/util/apps/email.html'"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" ng-click="saveCliente()" class="btn btn-primary">Gravar</button>
                </div>
                </form>
        </div>
    </div>
</div>