<div class="modal fade">
    <div class="modal-dialog" style="width : 80%">
        <div class="modal-content">
            <form name="clienteForm" ng-submit="saveCliente(clienteForm.$valid)" class="css-form" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cadastro Cliente</h4>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <dl class="dl-horizontal">
                                <dd>
                                    <input type="checkbox" name="cliente" id="clientes" ng-model="clientes" ng-disabled="true" ng-true-value="true" ng-false-value="false" ng-init='clientes=true' ng-checked='true' >
                                    <label class="ui-checkbox" type="checkbox"  for="{{song.label}}">Cliente</label>
                                    <label ng-repeat="song in pessoaTipos">
                                        <div ng-if="song.pessoaTypeEnum != 'CLIENTE'">
                                            <input type="checkbox" name="{{song.label}}" id="{{song.label}}" ng-model="confirmed" ng-click="changes($event,song)">
                                            <label class="ui-checkbox" type="checkbox" ng-true-value="'YES'" ng-false-value="'NO'" for="{{song.label}}">{{song.label}}</label>
                                        </div>
                                    </label>
                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="dl-horizontal">
                                <dd>
                                    <label class="ui-radio"><input name="radio5" type="radio"  ng-model="cliente.tipoPessoa" ng-init="cliente.tipoPessoa=1" value="1" ng-true-value="1" checked ><span>Pessoa Fisica </span></label>
                                    <label class="ui-radio"><input name="radio6" type="radio" ng-model="cliente.tipoPessoa" value="2" ng-true-value="2"><span>Pessoa Juridica </span></label>
                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-8">
                                <label for="exampleInputEmail1" ng-show="cliente.tipoPessoa == 1" ng-hide="cliente.tipoPessoa == 2">Nome <SUP class="help-block5">(*)</SUP></label>
                                <label for="exampleInputEmail1" ng-show="cliente.tipoPessoa == 2" ng-hide="cliente.tipoPessoa == 1">Razão social <SUP class="help-block5">(*)</SUP></label>
                                <input type="text" required ng-model="cliente.nome" name="razao" class="form-control" placeholder="Nome">
                                <p ng-show="clienteForm.razao.$invalid" class="help-block">Campo de preenchimento Obrigatorio.</p>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="exampleInputEmail1">Codigo Interno</label>
                                <div class="input-group">
                                    <input type="text" required ng-model="cliente.codigo" name="codigo" class="form-control" placeholder="Codigo">
                                </div>
                                <p ng-show="clienteForm.cnpj.$invalid" class="help-block">CNPJ Inválido.</p>
                            </div>
                        </div>

                        <div ng-show="cliente.tipoPessoa == 1" ng-hide="cliente.tipoPessoa == 2">
                            <div class="row">
                                <div ng-repeat="documento in cliente.documentos">
                                    <div ng-if="documento.documentoTypeEnumValue == 2">
                                        <div class="form-group col-sm-4">

                                            <label for="exampleInputEmail1">CPF <SUP class="help-block5">(*)</SUP></label>

                                            <div class="input-group">
                                                <span class="InputSign input-group-addon" target="contatos_cpfcnpj"><span title="Apenas Números" class="fa fa-credit-card"></span></span>
                                                <input type="text" ng-model="documento.numero" validcpf="cpf" tipoPessoa="{{cliente.tipoPessoa}}"  name="cpf" class="form-control" ui-mask="999.999.999-99" ui-mask-placeholder ui-mask-placeholder-char="_">
                                                <input type="text" ng-model="documento.documentoTypeEnumValue" name="cnpjs" value="2" class="form-control hide" placeholder="Nº Cart. Trab" ng-init="documento.documentoTypeEnumValue=2">
                                            </div>
                                            <p ng-show="clienteForm.cpf.$invalid" class="help-block">CPF Inválido.</p>
                                        </div>
                                    </div>
                                    <div ng-if="documento.documentoTypeEnumValue ==4">
                                        <div class="form-group col-sm-4">

                                            <label for="exampleInputEmail1">RG </label>
                                            <div class="input-group">
                                                <span class="InputSign input-group-addon" target="contatos_cpfcnpj"><span title="Apenas Números" class="fa fa-credit-card"></span></span>
                                                <input type="text" ng-model="documento.numero" name="IEST" class="form-control">
                                                <input type="text" ng-model="documento.documentoTypeEnumValue" name="IEST2" value="4" class="form-control hide" placeholder="Nº Cart. Trab" ng-init="documento.documentoTypeEnumValue=4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">Data Nascimento</label>

                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="cliente.dtInicio" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="false" close-text="Close" uib-datepicker-popup="{{format}}" />
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Documentos -->
                        <div ng-show="cliente.tipoPessoa == 2" ng-hide="cliente.tipoPessoa == 1">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="exampleInputEmail1">Nome Fantasia</label>
                                    <input type="text" ng-model="cliente.nomeFantasia" name="fantasia" class="form-control" placeholder="Nome Fantasia">
                                </div>

                            </div>
                            <div class="row">
                                <div ng-repeat="documento in cliente.documentos">
                                    <div ng-if="documento.documentoTypeEnumValue =='1'">
                                        <div class="form-group col-sm-3">
                                            <label for="exampleInputEmail1">CNPJ <SUP class="help-block5">(*)</SUP></label>
                                            <div class="input-group">
                                                <span class="InputSign input-group-addon" target="contatos_cpfcnpj"><span title="Apenas Números" class="fa fa-credit-card"></span></span>
                                                <input type="text" ng-model="documento.numero"  validcnpj="cnpj"   tipoPessoa="{{cliente.tipoPessoa}}" class="form-control" name="cnpj" ui-mask="99.999.999/9999-99" ui-mask-placeholder ui-mask-placeholder-char="_" ng-class="{ 'has-error' : !clienteForm.cnpj.$invalid}">
                                                <input type="text" ng-model="documento.documentoTypeEnumValue" name="cnpjs" value="1" class="form-control hide" placeholder="Nº Cart. Trab" ng-init="documento.documentoTypeEnumValue=1">
                                            </div>
                                            <p ng-show="clienteForm.cnpj.$invalid" class="help-block">CNPJ Inválido.</p>
                                        </div>
                                    </div>
                                    <div ng-if="documento.documentoTypeEnumValue =='12'">
                                        <div class="form-group col-sm-3">
                                            <label for="exampleInputEmail1">Inscr Est Subst Trib </label>
                                            <div class="input-group">
                                                <span class="InputSign input-group-addon" target="contatos_cpfcnpj"><span title="Apenas Números" class="fa fa-credit-card"></span></span>
                                                <input type="text" ng-model="documento.numero" name="IEST" class="form-control">
                                                <input type="text" ng-model="documento.documentoTypeEnumValue" name="IEST2" value="12" class="form-control hide" placeholder="Nº Cart. Trab" ng-init="documento.documentoTypeEnumValue=12">
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="documento.documentoTypeEnumValue =='14'">
                                        <div class="row col-sm-3">
                                            <label for="exampleInputPassword1">Indicador de IE</label>
                                            <div class="row">
                                                <ui-select ng-model="documento" theme="bootstrap">
                                                    <ui-select-match placeholder="Indicador de IE ...">{{$select.selected.descricao}}</ui-select-match>
                                                    <ui-select-choices repeat="item in endereco.indicadorIE | filter: $select.search">
                                                        <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-if="documento.documentoTypeEnumValue =='10'">
                                        <div class="form-group col-sm-3">
                                            <label for="exampleInputEmail1">Inscrição Estadual <SUP class="help-block5">(*)</SUP></label>
                                            <div class="input-group">
                                                <span class="InputSign input-group-addon" target="contatos_cpfcnpj"><span title="Apenas Números" class="fa fa-credit-card"></span></span>
                                                <input type="text" ng-model="documento.numero" name="incrEst" class="form-control" ng-class="{ 'has-error' : validationInsEst(cliente.tipoPessoa,documento.numero)}">
                                                <input type="text" ng-model="documento.documentoTypeEnumValue" name="incrEst2" value="10" class="form-control hide" ng-init="documento.documentoTypeEnumValue=10">
                                            </div>
                                            <p ng-show="validationInsEst(cliente.tipoPessoa,documento.numero)" class="help-block">Campo de preenchimento Obrigatorio.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-repeat="documento in cliente.documentos">
                                    <div ng-if="documento.documentoTypeEnumValue =='3'">
                                        <div class="form-group col-sm-3">
                                            <label for="exampleInputEmail1">Inscrição Municipal <SUP class="help-block5">(*)</SUP></label>
                                            <div class="input-group">
                                                <span class="InputSign input-group-addon" target="contatos_cpfcnpj"><span title="Apenas Números" class="fa fa-credit-card"></span></span>
                                                <input type="text" ng-model="documento.numero" name="incrMun" class="form-control" ng-class="{ 'has-error' : validationInsMun(cliente.tipoPessoa,documento.numero)}">
                                                <input type="text" ng-model="documento.documentoTypeEnumValue" name="incrMun2" value="3" class="form-control hide" ng-init="documento.documentoTypeEnumValue=3">
                                            </div>
                                            <p ng-show="validationInsMun(cliente.tipoPessoa,documento.numero)" class="help-block">Campo de preenchimento Obrigatorio.</p>
                                        </div>

                                    </div>
                                    <div ng-if="documento.documentoTypeEnumValue =='11'">
                                        <div class="form-group col-sm-3">
                                            <label for="exampleInputEmail1">Inscrição Suframa</label>
                                            <div class="input-group">
                                                <span class="InputSign input-group-addon" target="contatos_cpfcnpj"><span title="Apenas Números" class="fa fa-credit-card"></span></span>
                                                <input type="text" ng-model="documento.numero" name="suframa" class="form-control">
                                                <input type="text" ng-model="documento.documentoTypeEnumValue" name="suframa2" value="11" class="form-control hide" ng-init="documento.documentoTypeEnumValue=11">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-sm-3">
                                    <label for="exampleInputEmail1">Data Abertura</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="cliente.dtAbertura" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" uib-datepicker-popup="{{format}}" />
                                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="exampleInputEmail1">Nº Funcionarios</label>
                                    <input type="text" ng-model="cliente.numFunc" name="numFunc" class="form-control" placeholder="Nº Func">
                                </div>
                            </div>

                        </div>


                        <!-- Endereco -->
                        <div ng-include="'views/util/apps/endereco.html'"></div>

                        <!-- -------------------  TELEFONE ----------------- -->

                        <div ng-include="'views/util/apps/telefone.html'"></div>

                        <!-- -------------------  Email Empresa ----------------- -->

                        <div ng-include="'views/util/apps/email.html'"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Gravar</button>
                </div>
                </form>
        </div>
    </div>
</div>
