<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="col-sm-12">
	<div class="col-sm-6">
		<div id="col1" class="halfBox onLeft">
			<div id="dadosEmpresa" class="tableList bottomSpace">
				<table>
					<thead>
						<tr>
							<td colspan="2">Dados da empresa</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="right">Razão Social:</td>
							<td>tanguinha1</td>
						</tr>
						<tr>
							<td align="right">Nome Fantasia:</td>
							<td></td>
						</tr>
						<tr>
							<td align="right">CNPJ ou CPF:</td>
							<td></td>
						</tr>
						<tr>
							<td align="right">Inscr. Est.:</td>
							<td></td>
						</tr>
						<tr>
							<td align="right">Endereço:</td>
							<td>,  </td>
						</tr>
						<tr>
							<td align="right">Bairro:</td>
							<td></td>
						</tr>
						<tr>
							<td align="right">Cidade/UF:</td>
							<td> / MA</td>
						</tr>
						<tr>
							<td align="right">CEP:</td>
							<td>-</td>
						</tr>
						<tr>
							<td align="right">Telefone:</td>
							<td>999956656541</td>
						</tr>
						<tr>
							<td align="right">E-mail:</td>
							<td>tanguinha1@gmail.com</td>
						</tr>
						<tr>
							<td align="right">E-mail contabilidade:</td>
							<td></td>
						</tr>
						<tr>
							<td align="right">Inscr. Municipal:</td>
							<td></td>
						</tr>
						<tr>
							<td align="right">CNAE fiscal:</td>
							<td></td>
						</tr>
						<tr>
							<td align="right">Código Regime Tribut.:</td>
							<td><span class="rejeitada">{nenhum selecionado - necessário selecionar}</span></td>
						</tr>
						<tr>
							<td align="right">Cód.Reg.Trib. serviços:</td>
							<td>- Selecione o CRT de serviços -</td>
						</tr>
						<tr>
							<td colspan="2"><a href="javascript:configuracoes.detalharDadosEmpresa()" class="onRight">Editar dados</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="dadosCertificado" class="tableList bottomSpace">
				<table>
					<thead>
						<tr>
							<td colspan="2">Certificado Digital A1</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="right">CNPJ:</td>
							<td>10907937000107</td>
						</tr>
						<tr>
							<td align="right">Entidade:</td>
							<td>UBERABA LATICINIOS LTDA EPP</td>
						</tr>
						<tr>
							<td align="right">Empresa certificadora:</td>
							<td>AC Certisign RFB G4</td>
						</tr>
						<tr>
							<td align="right">Situação:</td>
							<td><span class="corHabil">Válido</span></td>
						</tr>
						<tr>
							<td align="right">Data de validade:</td>
							<td>03/10/2017 20:59:59</td>
						</tr>
						<tr>
							<td colspan="2"><a href="javascript:configuracoes.detalharDadosCertificado();" class="onRight">Enviar novo certificado</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="dadosUsuarios" class="tableList bottomSpace invisible"></div>
		</div>
	</div>
	<div class="col-sm-6">
		<div id="col2" class="halfBox onRight">
			<div id="dadosNFE" class="tableList bottomSpace">
				<table>
					<thead>
						<tr>
							<td colspan="2">Configurações da NFe</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="right" class="halfBox">Ambiente de envio:</td>
							<td><b>Para testes</b></td>
						</tr>
						<tr>
							<td align="right">Série de envio:</td>
							<td>001</td>
						</tr>
						<tr>
							<td align="right">Anexar XML no e-mail?</td>
							<td>Não</td>
						</tr>
						<tr>
							<td align="right">Serviços na mesma nota?</td>
							<td>Não permitido</td>
						</tr>
						<tr>
							<td align="right">Preencher data/hora saída?</td>
							<td>Sim</td>
						</tr>
						<tr>
							<td align="right">Presença comprador:</td>
							<td>Operação presencial</td>
						</tr>
						<tr>
							<td align="right">Consumidor final?</td>
							<td>Sim</td>
						</tr>
						<tr>
							<td align="right">ICMS padrão (%):</td>
							<td>0,00</td>
						</tr>
						<tr>
							<td align="right">IPI padrão (%):</td>
							<td>0,00</td>
						</tr>
						<tr>
							<td align="right">PIS padrão (%):</td>
							<td>0,00</td>
						</tr>
						<tr>
							<td align="right">COFINS padrão (%):</td>
							<td>0,00</td>
						</tr>
						<tr>
							<td align="right">UF sem desconto na BC ST:</td>
							<td></td>
						</tr>
						<tr>
							<td align="right">Inform. Adic. padrão:</td>
							<td></td>
						</tr>
						<tr class="dadosTokenNFCe">
							<td align="right">Token para envio de NFCe:</td>
							<td> - null</td>
						</tr>
						<tr>
							<td align="right">Logomarca para o Danfe:</td>
							<td><i>{sem imagem}</i></td>
						</tr>
						<tr>
							<td colspan="2"><a href="javascript:configuracoes.detalharNFE()" class="onRight">Editar dados</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="dadosCFOP" class="tableList bottomSpace">
				<table>
					<thead>
						<tr>
							<td colspan="2">Lista de CFOPs</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td align="right">Total CFOPs cadastrados:</td>
							<td>25</td>
						</tr>
						<tr>
							<td align="right">CFOP marcado como padrão:</td>
							<td>5102 - Venda de mercadoria</td>
						</tr>
						<tr>
							<td colspan="2"><a href="../cfop/" class="onRight">Editar CFOPs</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="dadosSMTP" class="tableList bottomSpace">
				<table>
					<thead>
						<tr>
							<td colspan="2">Configurações de SMTP (envio de email)</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2">SMTP próprio desativado. Sistema utilizando configurações globais de envio de e-mails.</td>
						</tr>
						<tr>
							<td><a href="javascript:configuracoes.testarSMTP();" class="onRight">Testar configuração SMTP</a></td>
							<td><a href="javascript:configuracoes.detalharSMTP();" class="onRight">Editar dados</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="dadosAPI" class="tableList bottomSpace invisible">
				<table>
					<thead>
						<tr>
							<td>Configurações para conexão externa (desenvolvedores)</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								Se você é desenvolvedor e deseja integrar seu sistema externo com o
								nosso emissor de NFe, você precisa definir algumas configurações de
								acesso ao sistema.
							</td>
						</tr>
						<tr>
							<td class="right"><a href="javascript:configuracoes.detalharAPI()">Acessar configurações</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="dadosNFSe" class="tableList bottomSpace invisible"></div>
		</div>
	</div>
</div>
<div class="col-sm-12">
	<div class="col-sm-6">
		<div id="dadosCertificado" class="tableList bottomSpace">
			<table>
				<thead>
					<tr>
						<td colspan="2">Certificado Digital A1</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="right">CNPJ:</td>
						<td>10907937000107</td>
					</tr>
					<tr>
						<td align="right">Entidade:</td>
						<td>UBERABA LATICINIOS LTDA EPP</td>
					</tr>
					<tr>
						<td align="right">Empresa certificadora:</td>
						<td>AC Certisign RFB G4</td>
					</tr>
					<tr>
						<td align="right">Situação:</td>
						<td><span class="corHabil">Válido</span></td>
					</tr>
					<tr>
						<td align="right">Data de validade:</td>
						<td>03/10/2017 20:59:59</td>
					</tr>
					<tr>
						<td colspan="2"><a href="javascript:configuracoes.detalharDadosCertificado();" class="onRight">Enviar novo certificado</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-6">
		<div id="dadosCFOP" class="tableList bottomSpace">
			<table>
				<thead>
					<tr>
						<td colspan="2">Lista de CFOPs</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="right">Total CFOPs cadastrados:</td>
						<td>25</td>
					</tr>
					<tr>
						<td align="right">CFOP marcado como padrão:</td>
						<td>5102 - Venda de mercadoria</td>
					</tr>
					<tr>
						<td colspan="2"><a href="../cfop/" class="onRight">Editar CFOPs</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="dadosSMTP" class="tableList bottomSpace">
			<table>
				<thead>
					<tr>
						<td colspan="2">Configurações de SMTP (envio de email)</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="2">SMTP próprio desativado. Sistema utilizando configurações globais de envio de e-mails.</td>
					</tr>
					<tr>
						<td><a href="javascript:configuracoes.testarSMTP();" class="onRight">Testar configuração SMTP</a></td>
						<td><a href="javascript:configuracoes.detalharSMTP();" class="onRight">Editar dados</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>