<div class="container1" ng-app ng-init="tabs=3">
    <ul class="tabs-nav">
        <li><a ng-click="tabs=3" ng-class="{'active' : tabs==3}">PRINCIPAL</a></li>
        <li><a ng-click="tabs=4" ng-class="{'active' : tabs==4}">DADOS DO PROCESSO</a></li>
        <li><a ng-click="tabs=5" ng-class="{'active' : tabs==5}">DADOS CAPTURA</a></li>
        <li><a ng-click="tabs=6" ng-class="{'active' : tabs==6}">MONITORAMENTO DE PROCESSO</a></li>
        <li><a ng-click="tabs=7" ng-class="{'active' : tabs==7}">Outras</a></li>
    </ul>

    <div class="tabs-container1">
        <div class="tab-content1" ng-show="tabs == 3">

            <div class="col-sm-12">
                <div class="col-sm-2">
                    <label for="exampleInputEmail1">N° Pasta</label>
                    <input type="text" ng-model="processo.pasta" name="pasta" class="form-control" placeholder="N° Pasta">
                </div>
                <div class="col-sm-6">
                    <label for="exampleInputEmail1">Assunto</label>
                    <input type="text" ng-model="processo.assunto" name="assunto" class="form-control" placeholder="Assunto">
                </div>

                <div class="col-sm-2">
                    <label for="exampleInputtext1">Natureza</label>
                    <div class="row">
                        <ui-select class="wdapp-ui-select" ng-model="processo.natureza" theme="bootstrap">
                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                            <ui-select-choices repeat="item in natureza | filter: $select.search">
                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label for="exampleInputtext1">Status</label>
                    <div class="row">
                        <ui-select class="wdapp-ui-select" ng-model="processo.statusProc" theme="bootstrap">
                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                            <ui-select-choices repeat="item in statusProc | filter: $select.search">
                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-9">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Descrição</label>
                            <textarea class="form-control" rows="7" ng-model="processo.descricao" id="descricao"></textarea>
                        </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12">
                        <label for="exampleInputEmail1">Senha</label>
                        <input type="text" class="form-control" ng-model="processo.senha" name="descricao" placeholder="Descrição">
                    </div>
                    <div class="col-sm-12">
                        <label for="exampleInputtext1">Grupos de trabalho</label>
                        <div class="row">
                            <ui-select multiple ng-model="processo.grupoTrabalho" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false" title="Choose a person">

                                    <ui-select-match placeholder="...">{{$item.descricao}}&gt;</ui-select-match>
                                    <ui-select-choices repeat="item in grupoTrabalhoList | filter: $select.search">
                                        <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                                    </ui-select-choices>

                                </ui-select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label for="exampleInputtext1">Limitar Usuarios</label>
                        <div class="row">
                                <ui-select multiple ng-model="processo.usuariosRestricaoProc" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false" title="Choose a person">
                                    <ui-select-match placeholder="...">{{$item.nome}} &lt;{{$item.email}}&gt;</ui-select-match>
                                    <ui-select-choices repeat="item in usuarioList | filter: $select.search">
                                        <div ng-bind-html="item.email | highlight: $select.search"></div>
                                        <div ng-bind-html="item.nome | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row " style="margin-top : 10px"></div>
            <a href="javascript:void(0)" ng-model="collapseds" ng-click="collapseds=!collapseds"><strong>Envolvidos</strong></a>
            <div class="row " style="margin-top : 10px"></div>
            <div ng-show="collapseds">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div ng-repeat="envolvList in processo.envolvList">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label for="exampleInputtext1">Cliente</label>
                                <div class="row">
                                    <ui-select ng-model="envolvList.cliente" theme="bootstrap">
                                        <ui-select-match placeholder="...">{{$select.selected.nome}}</ui-select-match>
                                        <ui-select-choices repeat="item in clienteList | filter: $select.search">
                                            <div ng-bind-html="item.nome | highlight: $select.search"></div>

                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleInputtext1">Tipo Envolvimento</label>
                                <div class="row">
                                    <ui-select style="margin-left:10px" ng-model="envolvList.tipoEnvolvido" theme="bootstrap">
                                        <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                        <ui-select-choices repeat="item in tipoEnvolv | filter: $select.search">
                                            <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label for="exampleInputtext1">Envolvimento</label>
                                <div class="row">
                                    <ui-select style="margin-left:10px" ng-model="envolvList.envolvimento" theme="bootstrap">
                                        <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                        <ui-select-choices repeat="item in envolv | filter: $select.search">
                                            <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <label for="exampleInputtext1">Cliente</label>
                                <div class="row">
                                    <toggle style="width:24px;margin-left:24px;margin-top:25px;" ng-model="envolvList.bCliente" ng-init="envolvList.bCliente = false" style="android" on="Sim" off="Não" onstyle="btn-success"
                                        offstyle="btn-danger" ng-true-value="'true'" ng-false-value="'false'"></toggle>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-default addButton" style="margin-top:24px"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row " style="margin-top : 10px"></div>
        <hr>
        <a href="javascript:void(0)" ng-model="collapsedsd" ng-click="collapsedsd=!collapsedsd">Adicionar <strong>Advogados</strong></a>
        <div class="row " style="margin-top : 10px"></div>
        <div ng-show="collapsedsd">
                <div class="col-sm-12">
                    <label for="exampleInputtext1">Advogado</label>
                    <div class="row">
                        <ui-select multiple ng-model="processo.usuariosRestricaoProc" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false" title="Choose a person">
                            <ui-select-match placeholder="...">{{$item.nome}} &lt;{{$item.nome}}&gt;</ui-select-match>
                            <ui-select-choices repeat="item in advogadoList | filter: $select.search">
                                <div ng-bind-html="item.nome | highlight: $select.search"></div>
                                <div ng-bind-html="item.nome | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
        </div>
        <hr/>

            <div class="row " style="margin-top : 10px"></div>
            <hr>
            <a href="javascript:void(0)" ng-model="collapsed" ng-click="collapsed=!collapsed">Outras <strong>Informações</strong></a>
            <div class="row " style="margin-top : 10px"></div>
            <div ng-show="collapsed">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <label for="exampleInputtext1">FUNDAMENTAÇÂO JURÚDICA</label>
                            <textarea class="form-control" rows="5" ng-model="processo.fundamentacaoJuridica" id="observacao"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label for="exampleInputtext1">FATOS</label>
                            <textarea class="form-control" rows="5" ng-model="processo.fatos" id="observacao"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label for="exampleInputtext1">PRETENSES DO CLIENTE</label>
                            <textarea class="form-control" rows="5" ng-model="processo.pretensoesCliente" id="observacao"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <label for="exampleInputtext1">ESTRATÉGIA</label>
                            <textarea class="form-control" rows="5" ng-model="processo.estrategia" id="observacao"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <hr />
        </div>
        <div class="tab-content1" ng-show="tabs == 4">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                            Dados do processo
                            </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="form-group col-sm-3">
                                    <label for="exampleInputtext1">Processo</label>
                                    <div class="row">
                                        <toggle ng-model="processo.tipoProcesso" ng-init="processo.tipoProcesso = false" style="android" on="Judicial" off="Extrajudial"
                                            onstyle="btn-success" offstyle="btn-danger" ng-true-value="'true'" ng-false-value="'false'"></toggle>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">Justiça</label>
                                    <div class="row">
                                        <ui-select style="margin-left:10px" ng-model="processo.justica" theme="bootstrap">
                                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices repeat="item in justica | filter: $select.search">
                                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">Instáncia</label>
                                    <div class="row">
                                        <ui-select style="margin-left:10px" ng-model="processo.instancia" theme="bootstrap">
                                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices repeat="item in instancia | filter: $select.search">
                                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group col-sm-6">
                                    <label for="exampleInputEmail1">Órgão</label>
                                    <div class="row">
                                        <ui-select style="margin-left:10px" ng-model="processo.orgao" theme="bootstrap">
                                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices repeat="item in orgao | filter: $select.search">
                                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="exampleInputEmail1">Situação</label>
                                    <div class="row">
                                        <ui-select style="margin-left:10px" ng-model="processo.situacao" theme="bootstrap">
                                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices repeat="item in situacao | filter: $select.search">
                                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group col-sm-3">
                                    <label for="exampleInputtext1">Numeração Padrão CNJ</label>
                                    <input type="text" class="form-control" ng-model="processo.npadraocnj" name="text" placeholder="0.00">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="exampleInputtext1">Numeração Outro Padrão</label>
                                    <input type="text" class="form-control" ng-model="processo.npadrao" name="text" placeholder="0.00">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="exampleInputtext1">Agendar Captura</label>
                                    <div class="row">
                                        <toggle ng-model="processo.agendarCap" ng-init="processo.agendarCap = false" style="android" on="Sim" off="Não" onstyle="btn-success"
                                            offstyle="btn-danger" ng-true-value="'1'" ng-false-value="'2'"></toggle>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="exampleInputtext1">Distribuido</label>
                                    <input type="text" class="form-control" ng-model="processo.distribuido" name="text" placeholder="0.00">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputtext1">Valor da ação</label>
                                    <input type="text" class="form-control" ng-model="processo.valorAcao" name="text" placeholder="0.00">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputtext1">Valor provisionado</label>
                                    <input type="text" class="form-control" ng-model="processo.valorProvisionado" name="text" placeholder="0.00">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputtext1">Segredo Justiça</label>
                                    <div class="row">
                                        <toggle ng-model="processo.segJustica" ng-init="processo.segJustica = false" style="android" on="Sim" off="Não" onstyle="btn-success"
                                            offstyle="btn-danger" ng-true-value="'1'" ng-false-value="'2'"></toggle>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content1" ng-show="tabs == 5">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                            PARÁMETROS DA CAPTURA
                            </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <label for="exampleInputEmail1">Justiça</label>
                                    <div class="row">
                                        <ui-select style="margin-left:10px" ng-model="processo.justica" theme="bootstrap">
                                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices repeat="item in justica | filter: $select.search">
                                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="exampleInputEmail1">Tribunal</label>
                                    <div class="row">
                                        <ui-select style="margin-left:10px" ng-model="processo.tribunal" theme="bootstrap">
                                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices repeat="item in tribunal | filter: $select.search">
                                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="exampleInputEmail1">Instáncia</label>
                                    <div class="row">
                                        <ui-select style="margin-left:10px" ng-model="processo.instancia1" theme="bootstrap">
                                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices repeat="item in instancia | filter: $select.search">
                                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="exampleInputEmail1">Localidade</label>
                                    <div class="row">
                                        <ui-select style="margin-left:10px" ng-model="processo.localidade" theme="bootstrap">
                                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices repeat="item in localidade | filter: $select.search">
                                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">Capturar por</label>
                                    <div class="row">
                                        <ui-select style="margin-left:10px" ng-model="processo.capturpor" theme="bootstrap">
                                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices repeat="item in capiturPor | filter: $select.search">
                                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="row col-sm-4">
                                    <div class="form-group">
                                        <label for="exampleInputtext1">N° do Processo</label>
                                        <input style="margin-left:10px" type="text" class="form-control" ng-model="processo.numeroprocesso" name="text" placeholder="N°mero do Processo">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputtext1">Captura automática de andamentos</label>
                                    <div class="row">
                                        <toggle style="margin-left:30px;width:100%"  ng-model="processo.capautomatica" ng-init="processo.capautomatica = false" style="android" on="Sim" off="Não" onstyle="btn-success"
                                            offstyle="btn-danger" ng-true-value="'1'" ng-false-value="'2'"></toggle>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content1" ng-show="tabs == 6" style="height : 250px">
            <div class="col-sm-12" >
                <div class="col-sm-12">
                    <label for="exampleInputtext1">Monitorar</label>
                    <div class="row">
                        <toggle ng-model="processo.agendarCap" ng-init="processo.agendarCap = false" style="android" on="Sim" off="Não" onstyle="btn-success"
                            offstyle="btn-danger" ng-true-value="'1'" ng-false-value="'2'"></toggle>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label for="exampleInputtext1">Enviar Movimentação EMAIL/SMS Cliente</label>
                    <div class="row">
                        <toggle ng-model="processo.agendarCap" ng-init="processo.agendarCap = false" style="android" on="Sim" off="Não" onstyle="btn-success"
                            offstyle="btn-danger" ng-true-value="'1'" ng-false-value="'2'"></toggle>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label for="exampleInputtext1">Sim, desejo receber todos as movimentações automáticos por e-mail.</label>
                    <div class="row">
                        <toggle ng-model="processo.agendarCap" ng-init="processo.agendarCap = false" style="android" on="Sim" off="Não" onstyle="btn-success"
                            offstyle="btn-danger" ng-true-value="'1'" ng-false-value="'2'"></toggle>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content1" ng-show="tabs == 7">
            <div ng-include="'views/produto/apps/produtoOutros.html'"></div>
        </div>
    </div>
</div>