
<div class="container1" ng-app ng-init="tabs=3">
    <ul class="tabs-nav">
        <li><a ng-click="tabs=3" ng-class="{'active' : tabs==3}">Principais</a></li>
        <li><a ng-click="tabs=4" ng-class="{'active' : tabs==4}">Processo</a></li>
        <li><a ng-click="tabs=5" ng-class="{'active' : tabs==5}">Outras</a></li>
    </ul>

    <div class="tabs-container1">
        <div class="tab-content1" ng-show="tabs == 3">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="exampleInputEmail1">Assunto</label>
                    <input type="text" ng-model="cfop.cfop" name="cfop" class="form-control" placeholder="CFOP">
                </div>

                <div class="form-group col-sm-6">
                    <label for="exampleInputPassword1">Status</label>
                    <div class="row">
                        <ui-select ng-model="tributacao.imposto.icms.sitTributaria" theme="bootstrap">
                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                            <ui-select-choices repeat="item in status | filter: $select.search">
                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">Descrição</label>
                    <input type="text" class="form-control" ng-model="cfop.descricao" name="descricao" placeholder="Descrição">
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="form-group col-sm-4">
                    <label for="exampleInputEmail1">Responsáveis</label>
                    <input type="email" id='email' class="form-control" ng-model="cfop.icms" name="email" placeholder="Responsáveis">
                </div>
                <div class="form-group col-sm-4">
                    <label for="exampleInputPassword1">Grupos de trabalho</label>
                    <input type="password" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="Grupos de trabalho">
                </div>
            </div>

            <div class="row " style="margin-top : 10px"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Envolvidos</h3>
                </div>
                <div class="panel-body">
                    <div class="row socios">
                        <div class="col-sm-4">
                            <label for="exampleInputPassword1">Pessoa</label>
                            <div class="row ">
                                <select name="book[0].produto" class="col-sm-12">
                            <option value="0">1010 - Rick Grimes</option>
                            <option value="1">1011 - Daryl Dixon</option>
                            <option value="1">1012 - Carl Grimes</option>
                            <option value="1">1013 - Glenn Rhee</option>
                            <option value="2">Cadastrar novo Cliente</option>
                        </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                                <label for="exampleInputPassword1">Tipo Envolvimento</label>
                                <div class="row">
                                    <ui-select ng-model="tributacao.imposto.icms.sitTributaria" theme="bootstrap">
                                        <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                        <ui-select-choices repeat="item in tipoEnvolv | filter: $select.search">
                                            <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                                <label for="exampleInputPassword1">Envolvimento</label>
                                <div class="row">
                                    <ui-select ng-model="tributacao.imposto.icms.sitTributaria" theme="bootstrap">
                                        <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                        <ui-select-choices repeat="item in envolv | filter: $select.search">
                                            <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                        </div>
                        <div class="col-sm-2" style="margin-top:18px">
                            <div class="checkbox">
                                <label>
                         <input type="checkbox" name="receiver" class="check-socio" value="1" /> Cliente
                     </label>
                            </div>
                        </div>
                        <div class="col-xs-1" style="margin-top:18px">
                            <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content1" ng-show="tabs == 4">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                            Dados do processo
                            </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputPassword1">Processo</label>
                                    <input type="password" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="0.00">
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="exampleInputEmail1">Situação</label>
                                <div class="row">
                                        <ui-select ng-model="tributacao.imposto.icms.sitTributaria" theme="bootstrap">
                                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices repeat="item in situacao | filter: $select.search">
                                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="exampleInputEmail1">Instância</label>
                                <div class="row">
                                        <ui-select ng-model="tributacao.imposto.icms.sitTributaria" theme="bootstrap">
                                            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices repeat="item in instancia | filter: $select.search">
                                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="exampleInputPassword1">Órgão</label>
                                <input type="password" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="0.00">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="exampleInputPassword1">Numeração Padrão CNJ</label>
                                <input type="password" class="form-control" ng-model="cfop.classFiscal" name="password" placeholder="0.00">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="exampleInputPassword1">Numeração Outro Padrão</label>
                                <input type="password" class="form-control" ng-model="cfop.classFiscal" name="password" placeholder="0.00">
                            </div>
                            <div class="col-sm-3" style="margin-top:18px">
                                <div class="checkbox">
                                    <label>
                 <input type="checkbox" name="receiver" class="check-socio" value="1" /> Agendar captura no tribunal
             </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12">
                    <div class="form-group col-sm-4">
                        <label for="exampleInputPassword1">Distribuído</label>
                        <input type="password" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="0.00">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="exampleInputPassword1">Valor da ação</label>
                        <input type="password" class="form-control" ng-model="cfop.classFiscal" name="password" placeholder="0.00">
                    </div>
                </div>
                <div class="row col-sm-12">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Observação</label>
                        <input type="password" class="form-control" ng-model="cfop.observacao" name="password" placeholder="Observação">
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
                            PARÂMETROS DA CAPTURA
                            </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in collapseFour">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">Justiça</label>
                                    <div class="row">
                                            <ui-select ng-model="tributacao.imposto.icms.sitTributaria" theme="bootstrap">
                                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                                <ui-select-choices repeat="item in justica | filter: $select.search">
                                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">Tribunal</label>
                                    <div class="row">
                                            <ui-select ng-model="tributacao.imposto.icms.sitTributaria" theme="bootstrap">
                                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                                <ui-select-choices repeat="item in tribunal | filter: $select.search">
                                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">Instância</label>
                                    <div class="row">
                                            <ui-select ng-model="tributacao.imposto.icms.sitTributaria" theme="bootstrap">
                                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                                <ui-select-choices repeat="item in instancia | filter: $select.search">
                                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">Localidade</label>
                                    <div class="row">
                                            <ui-select ng-model="tributacao.imposto.icms.sitTributaria" theme="bootstrap">
                                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                                <ui-select-choices repeat="item in localidade | filter: $select.search">
                                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">Capturar por</label>
                                    <div class="row">
                                            <ui-select ng-model="tributacao.imposto.icms.sitTributaria" theme="bootstrap">
                                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                                <ui-select-choices repeat="item in capiturPor | filter: $select.search">
                                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                </div>
                                <div class="row col-sm-4">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Número do Processo</label>
                                        <input type="password" class="form-control" ng-model="cfop.observacao" name="password" placeholder="Número do Processo">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="exampleInputEmail1">Captura automática de andamentos</label>
                                    <div class="row">
                                            <ui-select ng-model="tributacao.imposto.icms.sitTributaria" theme="bootstrap">
                                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                                <ui-select-choices repeat="item in capiturAut | filter: $select.search">
                                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content1" ng-show="tabs == 5">
            <div ng-include="'views/produto/apps/produtoOutros.html'"></div>
        </div>
    </div>
</div>
