<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div ng-controller="ContasReceberController as showCase">
    <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                            <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstanceCR" class="row-border hover"></table>
                    </div>
                </div>
            </div>
        </div>