<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="dist/css/formValidation.css" />
<script src="dist/js/select2.min.js"></script>
<style type="text/css">
    .wash {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .tabs-was {
        float: left;
        border: 1px solid #000;
        border-bottom-width: 0;
        margin: 3px 3px 0px 3px;
        padding: 5px 5px 0px 5px;
        background-color: #CCC;
        color: ##3767B9;
    }


     .selection {
        border: 1px solid #000;
        border-bottom-width: 0;
        margin: 3px 3px 0px 3px;
        padding: 5px 5px 0px 5px;
        background-color: #CCC;
        color: ##3767B9;
    }

    #mainView {
        border: 1px solid black;
        clear: both;
    }

    .active {
        background-color: #FFF;
        color: #000;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .tabs-nav {
        padding: 20px 0 0;
        list-style: none;
    }

    .tabs-nav li {
        display: inline;
    }

    .tabs-nav a {
        display: inline-block;
        border: 1px solid #ddd;
        border-bottom: none;
        padding: 15px;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
        font-size: 14px;
        color: #fff;
        background: #1B3975;
    }

    .tabs-nav .active {
        background: #fff;
        color: #000;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
    }

    .tab-content {
        border: 1px solid #ddd;
        padding: 20px;
    }

    .tab-content1 {
        border: 1px solid #ddd;
        padding: 20px;
    }

    p {
        margin-bottom: 15px;
    }
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

    .row.content {
        height: 550px
    }
    /* Set gray background color and 100% height */

    .sidenav {
        background-color: #f1f1f1;
        height: 100%;
    }
    /* On small screens, set height to 'auto' for the grid */

    @media screen and (max-width: 767px) {
        .row.content {
            height: auto;
        }
    }

    div.show-image {
        position: relative;
        float: left;
        margin: 5px;
    }

    div.show-image:hover img {
        opacity: 0.5;
    }

    div.show-image:hover input {
        display: block;
    }

    div.show-image input {
        position: absolute;
        display: none;
    }

    div.show-image input.update {
        top: 0;
        left: 0;
    }

    div.show-image input.delete {
        top: 0;
        left: 79%;
    }

    .vis {
        height: 100px;
        display: none;
    }
</style>
<div class="container1" ng-app ng-init="tabs=1" ng-controller="NewEmpresaViewController as pc">
    <ul class="tabs-nav">
        <li><a ng-click="tabs=1" ng-class="{'active' : tabs==1}">Empresa</a>
        </li>
        <li><a ng-click="tabs=2" ng-class="{'active' : tabs==2}">Funcionarios</a>
        </li>
        <li><a ng-click="tabs=3" ng-class="{'active' : tabs==3}">Arquivos Anexos</a>
        </li>
        <li><a ng-click="tabs=4" ng-class="{'active' : tabs==4}">Conta Pagar</a>
        </li>
        <li><a ng-click="tabs=5" ng-class="{'active' : tabs==5}">Conta Receber</a>
        </li>
        <li><a ng-click="tabs=6" ng-class="{'active' : tabs==6}">Produtos</a>
        </li>
        <li><a ng-click="tabs=7" ng-class="{'active' : tabs==7}">Usuarios</a>
        </li>
        <li><a ng-click="tabs=8" ng-class="{'active' : tabs==8}">NF-e</a>
        </li>
        <li><a ng-click="tabs=9" ng-class="{'active' : tabs==9}">Contatos</a>
        </li>
        <li><a ng-click="tabs=9" ng-class="{'active' : tabs==9}">Historico</a>
        </li>
    </ul>
    <div class="tabs-container1">
        <div class="tab-content1" ng-show="tabs == 1">
            <div class="container-fluid">
                <div class="row content">
                    <br>
                    <div class="col-sm-9">
                        <div class="row col-sm-12 well">
                            <div class="col-sm-2">
                                <label for="exampleInputEmail1"> Status: </label>
                            </div>
                            <div class="col-sm-2"> <span class="label label-info">Ativo</span> </div>
                            <div class="col-sm-2">
                                <button class="btn btn-warning" ng-click="pc.status(10)"><i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-danger" ng-click="pc.status(10)"><i class="fa fa-trash-o"></i>
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        60%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row"></div>
                        <div class="well">
                            <a href="javaScript:;" ng-click="toggle()">Editar Empresa</a>
                            <div ng-show="state">

                                <div ng-include="'views/empresa/apps/cadEmpresa.html'"></div>

                                <!-- email -->
                                <div ng-include="'views/util/apps/endereco.html'"></div>

                                <!-- telefone -->
                                <div ng-include="'views/util/apps/telefone.html'"></div>

                                <!-- email -->
                                <div ng-include="'views/util/apps/email.html'"></div>

                                <button type="submit" ng-click="updateEmpresa()" id="validateButton" class="btn btn-primary">Gravar</button>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="well">
                            <a href="javaScript:;" ng-click="toggle1()">Editar Configuração</a>
                            <div ng-show="state1">
                                <div ng-include="'views/empresa/apps/configuracaoEmpresa.html'"></div>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="">
                                    <h4><a ng-click="pc.addSocios()">Adicionar Socios</a></h4>
                                </div>
                            </div>
                            <div ng-repeat="socio in empresa.socios">
                                <div class="col-sm-3 well" style="margin-right:2px">
                                    <div class="show-image">
                                        <div>
                                            <p>Nome : {{socio.pessoa.nome}}</p>
                                            <p>Porcentagem : {{socio.porcentagem}}%</p>
                                            <p>valor Prolabore : R${{socio.valorProlabore}}</p>
                                            <div ng-if="socio.socioAdm =='1'">
                                                <p>Administrador : Sim</p>
                                            </div>
                                            <div ng-if="socio.socioAdm =='0'">
                                                <p>Administrador : Não</p>
                                            </div>
                                            <div ng-if="socio.pessoa.emails[0] !==''">
                                                <p>Email : {{socio.pessoa.emails[0].email}}</p>
                                            </div>
                                            <div ng-if="socio.pessoa.telefones[0] !==''">
                                                <p>Telefone : {{socio.pessoa.telefones[0].numero}}</p>
                                            </div>
                                        </div>
                                        <input class="btn btn-primary update" type="button" value="Alterar" />
                                        <input class="btn btn-primary delete" type="button" value="Deletar" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="">
                                    <h4><a ng-click="pc.addCnae()">Adicionar Cnae</a></h4>
                                </div>
                            </div>
                            <div ng-repeat="cnae in empresa.cnaes">
                                <div class="col-sm-4">
                                    <div class="well">
                                        <p>Codigo : {{cnae.idCnae.codigo}}</p>
                                        <p>Cnae : {{cnae.idCnae.cnae}}</p>
                                        <input class="btn btn-primary update" type="button" value="Alterar" />
                                        <input class="btn btn-primary delete" type="button" value="Deletar" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="">
                                    <h4><a ng-click="pc.addFilial()">Adicionar Filial</a></h4>
                                </div>
                            </div>
                            <div ng-repeat="filial in empresa.filialList">
                                <div class="col-sm-4">
                                    <div class="well">
                                        <p>Cnpj : 72.939.978/0001-24</p>
                                        <p>End. : R: Maria Conceição Silva nº 686</p>
                                        <p>Cidade : Uberaba MG</p>
                                        <p>Email : notaFiscal0001@econtabil.com.br</p>
                                        <p>Telefone : (34) 99999-8888</p>
                                        <p>Responsavel : João Antonio</p>
                                        <input class="btn btn-primary update" type="button" value="Alterar" />
                                        <input class="btn btn-primary delete" type="button" value="Deletar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="">
                                    <h4><a ng-click="pc.addSite()">Adicionar Site</a></h4>
                                </div>
                            </div>
                            <div ng-repeat="site in empresa.siteList">
                                <div class="col-sm-4">
                                    <div class="well">
                                        <p>Nome : {{site.nome}}</p>
                                        <p>Url  : {{site.url}}</p>
                                        <p>Tipo : {{site.siteTypeEnum}}</p>
                                        <input class="btn btn-primary update" type="button" value="Alterar" />
                                        <input class="btn btn-primary delete" type="button" value="Deletar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="">
                                    <h4><a ng-click="pc.addPlanoContas()">Adicionar Plano de Contas</a></h4>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="well">
                                    <p>Nome : Plano de Contas 0001</p>
                                    <input class="btn btn-primary update" type="button" value="Alterar" />
                                    <input class="btn btn-primary delete" type="button" value="Deletar" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="">
                                    <h4><a ng-click="pc.addPlano()">Adicionar Plano</a></h4>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="well">
                                    <p>Nome : Plano Economico</p>
                                    <p>Valor : R$ 99,99 <sup>mês</sup></p>
                                    <p>Contrato : <a>10541</a></p>
                                    <p>Data Inicio : 17/08/2016</p>
                                    <p>Data Final : 17/08/2017</p>
                                    <input class="btn btn-primary update" type="button" value="Renovar" />
                                    <input class="btn btn-primary delete" type="button" value="Alterar" />
                                    <input class="btn btn-primary delete" type="button" value="Deletar" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="">
                                    <h4><a ng-click="pc.addColaborador()">Adicionar Parceiro</a></h4>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="well">
                                    <p>Nome : Damião Junior</p>
                                    <p>CRC : 54145.65</p>
                                    <p>Email : liviaMiziara@econtabil.com.br</p>
                                    <p>Telefone : (34) 99999-8888</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3 sidenav hidden-xs">
                        <div class="list-group">
                            <a href="javaScript:;" class="list-group-item active">
                                <div class="form-group">
                                    <h4 class="list-group-item-heading">Observação:</h4>
                                    <textarea class="form-control" ng-model="text" rows="5" id="Observação"></textarea>
                                    <button type="submit" ng-click="pc.gravarNote()" class="btn btn-primary">Gravar</button>
                                </div>
                            </a>
                            <div ng-repeat="note in empresa.notes">
                                <a href="javaScript:;" class="list-group-item col-sm-12">
                                    <h4 class="list-group-item-heading">{{note.createUser}}  {{note.createDateUTC}}</h4>
                                     <div class="form-group col-sm-12" style="word-wrap: break-word;">
                                        <label for="exampleInputEmail1">{{note.noteText}}</label>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content1" ng-show="tabs == 2">
            <div ng-controller="ProcessoController as showCase">
                <table datatable dt-options="showCase.dtOptionsArquivo" dt-columns="showCase.dtColumnsArquivo" class="row-border hover">
                    <tfoot>
                        <tr>
                            <th>ID
                            </th>
                            <th>First Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="tab-content1" ng-show="tabs == 2">
         <!--   <div ng-controller="ContasReceberController as showCase">
                <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
                    <tfoot>
                        <tr>
                            <th>ID
                            </th>
                            <th>First Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>
                                <select id="financeiro_cod_tipoDoc" name="financeiro_cod_tipoDoc">
                            <option value="0"></option>
                            <option value="1">Dinheiro</option>
                            <option value="2">Cheque</option>
                            <option value="3">Boleto</option>
                            <option value="4">Cartão Crédito</option>
                            <option value="5">Cartão Débito</option>
                            <option value="6">Duplicata</option>
                            <option value="7">Carnê</option>
                            <option value="8">Transf. Eletrônica</option>
                            <option value="9">Crédito Loja</option>
                            <option value="10">Vale Alimentação</option>
                            <option value="11">Vale Refeição</option>
                            <option value="12">Vale Presente</option>
                            <option value="13">Vale Combustível</option>
                            <option value="14">Sem documento</option>
                        </select>
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div> -->
        </div>
        <div class="tab-content1" ng-show="tabs == 3">
           <!-- <div ng-controller="ProcessoController as showCase">
                <table datatable dt-options="showCase.dtOptionsContato" dt-columns="showCase.dtColumnsContato" class="row-border hover">
                    <tfoot>
                        <tr>
                            <th>ID
                            </th>
                            <th>First Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div> -->
        </div>

        <div class="tab-content1" ng-show="tabs == 4">
           <!-- <div ng-controller="ProcessoController as showCase">
                <table datatable dt-options="showCase.dtOptionsContato" dt-columns="showCase.dtColumnsContato" class="row-border hover">
                    <tfoot>
                        <tr>
                            <th>ID
                            </th>
                            <th>First Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div> -->
        </div>


        <div class="tab-content1" ng-show="tabs == 5">
         <!--   <div ng-controller="ProcessoController as showCase">
                <table datatable dt-options="showCase.dtOptionsContato" dt-columns="showCase.dtColumnsContato" class="row-border hover">
                    <tfoot>
                        <tr>
                            <th>ID
                            </th>
                            <th>First Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div> -->
        </div>

        <div class="tab-content1" ng-show="tabs == 6">
          <!--  <div ng-controller="ProcessoController as showCase">
                <table datatable dt-options="showCase.dtOptionsContato" dt-columns="showCase.dtColumnsContato" class="row-border hover">
                    <tfoot>
                        <tr>
                            <th>ID
                            </th>
                            <th>First Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div> -->
        </div>

        <div class="tab-content1" ng-show="tabs == 7">
           <!-- <div ng-controller="ProcessoController as showCase">
                <table datatable dt-options="showCase.dtOptionsContato" dt-columns="showCase.dtColumnsContato" class="row-border hover">
                    <tfoot>
                        <tr>
                            <th>ID
                            </th>
                            <th>First Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div> -->
        </div>

        <div class="tab-content1" ng-show="tabs == 8">
          <!--  <div ng-controller="ProcessoController as showCase">
                <table datatable dt-options="showCase.dtOptionsContato" dt-columns="showCase.dtColumnsContato" class="row-border hover">
                    <tfoot>
                        <tr>
                            <th>ID
                            </th>
                            <th>First Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div> -->
        </div>

        <div class="tab-content1" ng-show="tabs == 9">
          <!--  <div ng-controller="ProcessoController as showCase">
                <table datatable dt-options="showCase.dtOptionsContato" dt-columns="showCase.dtColumnsContato" class="row-border hover">
                    <tfoot>
                        <tr>
                            <th>ID
                            </th>
                            <th>First Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div> -->
        </div>

        <div class="tab-content1" ng-show="tabs == 10">
           <!-- <div ng-controller="ProcessoController as showCase">
                <table datatable dt-options="showCase.dtOptionsContato" dt-columns="showCase.dtColumnsContato" class="row-border hover">
                    <tfoot>
                        <tr>
                            <th>ID
                            </th>
                            <th>First Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                            <th>Last Name
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div> -->
        </div>

    </div>
</div>


<script>
    $(document).ready(function() {

        bookIndex = 0;

        $('#empresaForm')
            .formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {

                    'book[0].cpf': notEmptyStringMinMaxRegexp,
                    'book[0].nome': notEmptyStringMinMax,
                    'book[0].cota': integerNotEmptyValidation,
                    nome: notEmptyStringMinMax,
                    nunFunc: integerNotEmptyValidation,
                    razao: notEmptyStringMinMax,
                    logradouro: notEmptyStringMinMax,
                    cpf: notEmptyStringMinMaxRegexp,
                    cep: notEmptyStringMinMax,
                    cnpj: notEmptyStringMinMax,
                    email: emailValidation,
                    telefone: telefoneValidation,
                    phone: telefoneValidation,
                    cep: cepNotEmptyValidation,
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'The password is required and can\'t be empty'
                            }
                        }
                    },
                    confirmPassword: {
                        validators: {
                            notEmpty: {
                                message: 'The confirm password is required and can\'t be empty'
                            },
                            identical: {
                                field: 'password',
                                message: 'The password and its confirm are not the same'
                            }
                        }
                    }

                }
            })
            // Add button click handler
            .on('click', '.addButton', function() {
                bookIndex++;
                var $template = $('#bookTemplate'),
                    $clone = $template
                    .clone()
                    .removeClass('hide')
                    .removeAttr('id')
                    .attr('data-book-index', bookIndex)
                    .insertBefore($template);

                // Update the name attributes
                $clone
                    .find('[name="cpf-socio"]').attr('name', 'book[' + bookIndex + '].cpf').end()
                    .find('[name="nome-socio"]').attr('name', 'book[' + bookIndex + '].nome').end()
                    .find('[name="cota-socio"]').attr('name', 'book[' + bookIndex + '].cota').end();

                // Add new fields
                // Note that we also pass the validator rules for new field as the third parameter
                $('#empresaForm')
                    .formValidation('addField', 'book[' + bookIndex + '].cpf', notEmptyStringMinMaxRegexp)
                    .formValidation('addField', 'book[' + bookIndex + '].nome', notEmptyStringMinMaxRegexp)
                    .formValidation('addField', 'book[' + bookIndex + '].cota', integerNotEmptyValidation);
            });
        $("select").select2({
            placeholder: "Select a state",
            allowClear: true
        });

        function toggler(divId) {
            $("#" + divId).toggle();
        }

        function fileSelected() {
            var file = document.getElementById('fileToUpload').files[0];
            if (file) {
                var fileSize = 0;
                if (file.size > 1024 * 1024)
                    fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                else
                    fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

                document.getElementById('fileName').innerHTML = 'Name: ' + file.name;
                document.getElementById('fileSize').innerHTML = 'Size: ' + fileSize;
                document.getElementById('fileType').innerHTML = 'Type: ' + file.type;
            }
        }
    });
</script>