
<div class="modal fade">
    <div class="modal-dialog" style="width : 90%">
        <div class="modal-content">
            <form id="empresaForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cadastro Empresa</h4>
                </div>
                <div class="modal-body">

                    <div ng-include="'views/empresa/apps/empresa.html'"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" ng-click="saveEmpresa()" id="validateButton" class="btn btn-primary">Gravar</button>

                </div>
            </form>
        </div>
    </div>
</div>