<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="col-sm-12">
    <label for="exampleInputPassword1">Tipo de Empresa</label>
    <dl class="dl-horizontal">
        <dd>
            <label class="ui-radio"><input name="tipoEmpr" type="radio" ng-model="empresa.entidadeEnumValue" value="1" ng-true-value="'1'" ng-init="empresa.entidadeEnumValue=1" ><span data-i18n="Venda Compra e prest. de servico"></span></label>
            <label class="ui-radio"><input name="tipoEmpr" type="radio" ng-model="empresa.entidadeEnumValue" value="2" ng-true-value="'2'"><span>Clinica </span></label>
            <label class="ui-radio"><input name="tipoEmpr" type="radio" ng-model="empresa.entidadeEnumValue" value="3" ng-true-value="'3'"><span>Escritorio Advocacia</span></label>
            <label class="ui-radio"><input name="tipoEmpr" type="radio" ng-model="empresa.entidadeEnumValue" value="4" ng-true-value="'4'"><span>Condominio</span></label>
            <label class="ui-radio"><input name="tipoEmpr" type="radio" ng-model="empresa.entidadeEnumValue" value="5" ng-true-value="'5'"><span>Escritorio Contabil</span></label>
        </dd>
    </dl>

</div>
<div class="row">
    <div class="col-sm-6">
        <label for="exampleInputPassword1">Sua Empresa Esta Ativa?</label>
        <dl class="dl-horizontal">
            <dd>
                <label class="ui-radio"><input name="statusEmpresa" ng-model="empresa.statusInicial" type="radio" value="1" ng-true-value="'1'" ng-init="empresa.statusInicial=1" ><span>Sim</span></label>
                <label class="ui-radio"><input name="statusEmpresa" ng-model="empresa.statusInicial" type="radio" value="2" ng-true-value="'2'"><span data-i18n="Nao"></span></label>
            </dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <label for="exampleInputPassword1">Selecione o regime Tributario da Empresa</label>
        <dl class="dl-horizontal">
            <dd>
                <label class="ui-radio"><input name="regime" type="radio" ng-model="empresa.regime.id" value="4" ng-true-value="'4'" ng-init="empresa.regime.id=4" ><span>MEI</span></label>
                <label class="ui-radio"><input name="regime" type="radio" ng-model="empresa.regime.id" value="1" ng-true-value="'1'" ng-init="empresa.regime.id=1" ><span>Simples Nacional</span></label>
                <label class="ui-radio"><input name="regime" type="radio" ng-model="empresa.regime.id" value="2" ng-true-value="'2'"><span>Lucro Real</span></label>
                <label class="ui-radio"><input name="regime" type="radio" ng-model="empresa.regime.id" value="3" ng-true-value="'3'"><span>Lucro Presumido</span></label>
            </dd>
        </dl>

    </div>
</div>
<div class="row">
    <label for="exampleInputPassword1">Selecione o Tipo Pessoa</label>
    <dl class="dl-horizontal">
        <dd>
            <label class="ui-radio"><input name="radio5" type="radio"  ng-model="empresa.tipoPessoa" ng-init="empresa.tipoPessoa=1" value="1" ng-true-value="'1'" ><span>Pessoa Fisica </span></label>
            <label class="ui-radio"><input name="radio6" type="radio" ng-model="empresa.tipoPessoa" value="2" ng-true-value="'2'"><span>Pessoa Juridica </span></label>
        </dd>
    </dl>
</div>
<div class="row">
    <div class="form-group col-sm-12">
        <label for="exampleInputEmail1" ng-show="empresa.tipoPessoa == 1" ng-hide="empresa.tipoPessoa == 2">Nome</label>
         <label for="exampleInputEmail1" ng-show="empresa.tipoPessoa == 2" ng-hide="empresa.tipoPessoa == 1"><span data-i18n="Razao social"></span></label>
        <input type="text" ng-model="empresa.nome" name="razao" class="form-control" placeholder="Nome">
    </div>
</div>

<div ng-show="empresa.tipoPessoa == 1" ng-hide="empresa.tipoPessoa == 2" ng-include="'views/util/apps/documentosFisico.html'"></div>

<!-- telefone -->
<div ng-show="empresa.tipoPessoa == 2" ng-hide="empresa.tipoPessoa == 1" ng-include="'views/util/apps/documentosJuridicos.html'"></div>


<div class="row">

    <div class="form-group col-sm-6">
        <label for="exampleInputEmail1">Nome do responsável</label>
        <input type="text" class="form-control col-sm-3" ng-model="empresa.responsavel" name="responsavel" placeholder="Nome do responsável">
    </div>

</div>