<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="col-sm-12">
    <label for="exampleInputPassword1">Tipo de Empresa</label>
    <dl class="dl-horizontal">
        <dd>
            <label class="ui-radio"><input name="tipoEmpr" type="radio" ng-model="empresa.entidadeEnumValue" value="1" checked ><span>Venda Compra e prest. de serviço</span></label>
            <label class="ui-radio"><input name="tipoEmpr" type="radio" ng-model="empresa.entidadeEnumValue" value="2" ><span>Clinica </span></label>
            <label class="ui-radio"><input name="tipoEmpr" type="radio" ng-model="empresa.entidadeEnumValue" value="3" ><span>Escritorio Advocacia</span></label>
            <label class="ui-radio"><input name="tipoEmpr" type="radio" ng-model="empresa.entidadeEnumValue" value="3" ><span>Condominio</span></label>
            <label class="ui-radio"><input name="tipoEmpr" type="radio" ng-model="empresa.entidadeEnumValue" value="3" ><span>Escritorio Contabil</span></label>
        </dd>
    </dl>

</div>
<div class="row">
    <div class="col-sm-6">
        <label for="exampleInputPassword1">Sua Empresa Esta Ativa?</label>
        <dl class="dl-horizontal">
            <dd>
                <label class="ui-radio"><input name="statusEmpresa" ng-model="empresa.statusInicial" type="radio" value="1" ><span>Sim</span></label>
                <label class="ui-radio"><input name="statusEmpresa" ng-model="empresa.statusInicial" type="radio" value="2" checked><span>Não</span></label>
            </dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <label for="exampleInputPassword1">Selecione o regime Tributario da Empresa</label>
        <dl class="dl-horizontal">
            <dd>
                <label class="ui-radio"><input name="regime" type="radio" ng-model="empresa.regime.id" value="1" checked ><span>Simples Nacional</span></label>
                <label class="ui-radio"><input name="regime" type="radio" ng-model="empresa.regime.id" value="2" ><span>Lucro Real</span></label>
                <label class="ui-radio"><input name="regime" type="radio" ng-model="empresa.regime.id" value="3" ><span>Lucro Presumido</span></label>
            </dd>
        </dl>

    </div>
</div>
<div class="row">
    <div class="form-group col-sm-5">
        <label for="exampleInputEmail1">Nome ou Razão social</label>
        <input type="text" ng-model="empresa.razao" name="razao" class="form-control" placeholder="Nome ou Razão social">
    </div>

    <div class="form-group col-sm-5">
        <label for="exampleInputEmail1">Nome Fantasia</label>
        <input type="text" ng-model="empresa.nome" name="fantasia" class="form-control" placeholder="Nome Fantasia">
    </div>
    <div class="form-group col-sm-2">
        <label for="exampleInputEmail1">Num. Funcionario</label>
        <input type="text" ng-model="empresa.numFunc" name="nunfunc" class="form-control" placeholder="Num. Funcionarios">
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-3">
        <label for="exampleInputEmail1">CNPJ</label>
        <input type="text" ng-model="empresa.documentos[0].numero" name="cnpj" class="form-control" placeholder="Nº Cart. Trab">
        <input type="text" ng-model="empresa.documentos[0].documentoTypeEnumValue" name="cnpjs" value="1" class="form-control hide" placeholder="Nº Cart. Trab">
    </div>

    <div class="form-group col-sm-3">
        <label for="exampleInputEmail1">Inscr Est Subst Trib</label>
        <input type="text" ng-model="empresa.documentos[1].numero" name="IEST" class="form-control" placeholder="Inscr Est Subst Trib">
        <input type="text" ng-model="empresa.documentos[1].documentoTypeEnumValue" name="IEST2" value="2" class="form-control hide" placeholder="Nº Cart. Trab">
    </div>
    <div class="form-group col-sm-3">
        <label for="exampleInputEmail1">Indicador de IE</label>
        <input type="text" ng-model="empresa.documentos[2].documentoTypeEnumValue" name="IEs" value="3" class="form-control hide" placeholder="Nº Cart. Trab">
        <div class="row">
            <select id="contatos_indIE" ng-model="empresa.documentos[2].numero" class="select col-sm-12" name="IIE">
             <option value="0"></option>
             <option value="1">Contribuinte ICMS</option>
             <option value="2">Isento de cadastro</option>
             <option value="9">Não contribuinte</option>
        </select>
        </div>
    </div>
    <div class="form-group col-sm-3">
        <label for="exampleInputEmail1">Inscrição Estadual</label>
        <input type="text" ng-model="empresa.documentos[3].numero" name="incrEst" class="form-control" placeholder="Inscrição Estadual">
        <input type="text" ng-model="empresa.documentos[3].documentoTypeEnumValue" name="incrEst2" value="3" class="form-control hide">
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-3">
        <label for="exampleInputEmail1">Inscrição Municipal</label>
        <input type="text" ng-model="empresa.documentos[4].numero" name="incrMun" class="form-control" placeholder="Inscrição Municipal">
        <input type="text" ng-model="empresa.documentos[4].documentoTypeEnumValue" name="incrMun2" value="4" class="form-control hide">

    </div>
    <div class="form-group col-sm-3">
        <label for="exampleInputEmail1">Inscrição Suframa</label>
        <input type="text" ng-model="empresa.documentos[5].numero" name="suframa" class="form-control" placeholder="Inscrição Estadual">
        <input type="text" ng-model="empresa.documentos[5].documentoTypeEnumValue" name="suframa2" value="5" class="form-control hide">
    </div>

    <div class="form-group col-sm-3">
        <label for="exampleInputEmail1">Nome do responsável</label>
        <input type="text" class="form-control col-sm-3" ng-model="empresa.responsavel" name="responsavel" placeholder="Nome do responsável">
    </div>

    <div class="form-group col-sm-3">
        <label for="exampleInputEmail1">Data Abertura</label>
        <div class="input-group">
            <input type="text" class="form-control" name="abertura" ng-model="empresa.dtAbertura" data-mask="99/99/9999" placeholder="MM/DD/YYYY">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
</div>