<meta charset="utf-8"/>
<!-- CONFIGURAÇÕES GERAIS -->
<div class="col-sm-12">
    <div class="col-sm-6">
    <h3>Configuração geral</h3>
    <table class="table table-hover table-bordered">
                        <thead>
                        </thead>

                        <tbody>

                <tr>
                    <input type="text" class="form-control hide" ng-model="configuracao.confGeral.id" />
                    <td class="halfBox" data-toggle="tooltip" data-placement="right" title="Proíbe cadastrar mais de uma vez o mesmo CPF ou CNPJ na tela de contatos">CPF e CNPJ unico:</td>
                    <td id="b_cpfUnico">
                        <a href="#" editable-checkbox="empresa.configuracao.confGeral.cnpjCPFUnico" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confSMTP.ativSMTP && "Sim" || "Não" }}
                                                </a></td>
                </tr>
                <tr>
                    <td class="halfBox" data-toggle="tooltip" data-placement="right" title=" Número máximo de casas decimais a ser usado nos preços de produtos e serviços.">Casas decimais no preço:</td>
                    <td id="b_casasDecimais">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <a href="#" editable-text="empresa.configuracao.confNFe.pisPadrao" onaftersave="updateEmpresa()">{{ empresa.configuracao.confGeral.casasDecimais || 'empty' }}</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="halfBox" data-toggle="tooltip" data-placement="right" title="Quando o produto tiver um código personalizado, o sistema imprimirá este código nas vendas, entradas e ordens de serviço no lugar do código interno.">Imprimir código personalizado:</td>
                    <td id="b_cpfUnico">
                        <a href="#" editable-checkbox="empresa.configuracao.confGeral.impCodPersonalizado" onaftersave="updateEmpresa()">
                                                    {{ configuracao.confGeral.impCodPersonalizado && "Sim" || "Não" }}
                                                </a>
                                                </td>
                </tr>
                <tr>
                    <td class="halfBox" data-toggle="tooltip" data-placement="right" title="Ao imprmimir as listagens e relatórios do sistema, será inserido o logotipo da empresa no topo da impressão.">Logotipo nas listagens e relatórios impressos:</td>
                    <td id="b_cpfUnico">
                        <a href="#" editable-checkbox="empresa.configuracao.confGeral.logListRelImp" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confGeral.logListRelImp && "Sim" || "Não" }}
                                                </a>
</td>
                </tr>
                <tr>
                    <td data-toggle="tooltip" data-placement="right" title="Permite a emissão de NFCe, através do módulo de vendas.">Ativar NFCe:</td>
                    <td id="b_cpfUnico">

                        <a href="#" editable-checkbox="empresa.configuracao.confGeral.ativNFCe" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confGeral.ativNFCe && "Sim" || "Não" }}
                                                </a>
</td>
                </tr>
                <tr>
                    <td data-toggle="tooltip" data-placement="right" title="Número de dias que será mostrado na carta de cobrança entregue ao cliente.">Dias da carta de cobrança:</td>
                    <td id="b_casasDecimais">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <a href="#" editable-text="empresa.configuracao.confGeral.diasCartaCobr" onaftersave="updateEmpresa()">{{ empresa.configuracao.confGeral.diasCartaCobr || 'empty' }}</a>

                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td data-toggle="tooltip" data-placement="right" title="Mostrar as observações do cadastro do produto final dentro da ordem de produção.">Observações do produto final na produção:</td>
                    <td id="b_cpfUnico">

                        <a href="#" editable-checkbox="empresa.configuracao.confGeral.obsProdFinProd" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confGeral.obsProdFinProd && "Sim" || "Não" }}
                                                </a>

</td>
                </tr>
                <tr class="apenasV2">
                    <td data-toggle="tooltip" data-placement="right" title="Ao colocar o mouse me cima de nomes de clientes e produtos, em partes do sistema, o sistema mostra mais detalhes sobre o respectivo cliente ou produto.">Mostrar informações ao posicionar o mouse:</td>
                    <td id="b_cpfUnico">
                        <a href="#" editable-checkbox="empresa.configuracao.confGeral.infPosicionarMouse" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confGeral.infPosicionarMouse && "Sim" || "Não" }}
                                                </a>

    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <!-- CONFIGURAÇÕES DAS VENDAS -->
            <h3>Configuração das Vendas</h3>
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <input type="text" class="form-control hide" ng-model="configuracao.confVendas.id" />
                        <td class="halfBox">Desconto máximo na venda:</td>
                        <td id="f_maxDescontoVenda">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <a href="#" editable-text="empresa.configuracao.confVendas.descontoMaxVenda" onaftersave="updateEmpresa()">{{ empresa.configuracao.confVendas.descontoMaxVenda || 'empty' }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Imprimir 2 vias?</td>
                        <td id="f_vendaPrintDuasVias">
                            <a href="#" editable-checkbox="empresa.configuracao.confVendas.imprSegVia" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confVendas.imprSegVia && "Sim" || "Não" }}
                                                </a></td>
                    </tr>
                    <tr>
                        <td>Imprimir assinatura?</td>
                        <td id="f_vendaPrintAssina">

                            <a href="#" editable-checkbox="empresa.configuracao.confVendas.imprAssinatura" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confVendas.imprAssinatura && "Sim" || "Não" }}
                                                </a>
</td>
                    </tr>
                    <tr>
                        <td>Imprimir resumo financeiro?</td>
                        <td id="f_vendaPrintFinanc">

                            <a href="#" editable-checkbox="empresa.configuracao.confVendas.imprResumoFinanc" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confVendas.imprResumoFinanc && "Sim" || "Não" }}
                                                </a>

</td>
                    </tr>
                    <tr>
                        <td>Atualizar preço ao clonar?</td>
                        <td id="f_atualizarPrecoClonagem">

                            <a href="#" editable-checkbox="empresa.configuracao.confVendas.atuaPrecoClonar" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confVendas.atuaPrecoClonar && "Sim" || "Não" }}
                                                </a>

       </td>
                    </tr>
                    <tr>
                        <td>Bloquear vendas de produtos sem estoque?</td>
                        <td id="f_bloqueiaSemEstoque">

                            <a href="#" editable-checkbox="empresa.configuracao.confVendas.bloquearvendProdSemEstoq" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confVendas.bloquearvendProdSemEstoq && "Sim" || "Não" }}
                                                </a>
</td>
                    </tr>
                    <tr>
                        <td>Imprimir coluna unidade?</td>
                        <td id="f_vendaPrintUnidade">

                            <a href="#" editable-checkbox="empresa.configuracao.confVendas.imprColUnidade" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confVendas.imprColUnidade && "Sim" || "Não" }}
                                                </a>

</td>
                    </tr>
                    <tr>
                        <td>Adicionar despesas no cálculo do imposto?</td>
                        <td id="f_addDespesasBC">

                            <a href="#" editable-checkbox="empresa.configuracao.confVendas.addDespCalcImposto" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confVendas.addDespCalcImposto && "Sim" || "Não" }}
                                                </a>

</td>
                    </tr>
                    <tr>
                        <td>Retirar Subst. Tribut. do ICMS?</td>
                        <td id="f_naoCobrarICMSST">

                            <a href="#" editable-checkbox="empresa.configuracao.confVendas.retSubstTribICMS" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confVendas.retSubstTribICMS && "Sim" || "Não" }}
                                                </a>

     </td>
                    </tr>
                    <tr>
                        <td>Observação padrão:</td>
                        <td>

                            <a href="#" editable-checkbox="empresa.configuracao.confVendas.observacao" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confVendas.observacao && "Sim" || "Não" }}
                                                </a>

                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
<div class="row">
    <!-- DIV FIM DA COLUNA 1 -->
    <div id="col2" class="col-sm-6">
        <!-- CONFIGURAÇÕES CABEÇALHO -->
            <h3>Configuração do cabeçalho</h3>
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <td id="c_logomarca" class="halfBox right" data-toggle="tooltip" data-placement="right" title="Este cabeçalho é utilizado em Ordens de Serviço e Pedidos de Venda">
                        </td>
                        <td id="c_cabecalho">

                        <input id="file-fr"  ng-model="empresa.configuracao.confCabecalho" name="file-fr[]" type="file" multiple></td>
                    </tr>
                </tbody>
            </table>

    </div>
    <div class="col-sm-6">
        <!-- CONFIGURAÇÕES DAS ENTRADAS -->
            <h3>Configurações das entradas</h3>
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <input type="text" class="form-control hide" ng-model="configuracao.confEntrada.id" />
                        <td>Ao inserir nota de entrada, manter o valor total fixo:</td>
                        <td id="g_entradasValorTotalFixo">

                        <a href="#" editable-checkbox="empresa.configuracao.confEntrada.valorTotalFixo" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confEntrada.valorTotalFixo && "Sim" || "Não" }}
                                                </a>
</td>
                    </tr>
                    <tr>
                        <td>Manter o preço de venda cadastrado no produto:</td>
                        <td id="g_entradasManterPrecoVenda">

                            <a href="#" editable-checkbox="empresa.configuracao.confEntrada.manterPrecoVendaProd" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confEntrada.manterPrecoVendaProd && "Sim" || "Não" }}
                                                </a>
</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <!-- CONFIGURAÇÕES DAS ORDENS DE SERVIÇO -->
        <div class="panel fullBox verticalHeaderTableList bottomSpace">
            <h3>Configuração das OS (Ordens de Serviço)</h3>
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <input type="text" class="form-control hide" ng-model="configuracao.configOS.id" />
                        <td class="halfBox">Imprimir 2 vias?</td>
                        <td id="e_osPrintDuasViass">

                            <a href="#" editable-checkbox="empresa.configuracao.configOS.impr2Via" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.configOS.impr2Via && "Sim" || "Não" }}
                                                </a>

                    </tr>
                    <tr>
                        <td>Imprimir assinatura?</td>
                        <td id="e_osPrintAssinas">

                            <a href="#" editable-checkbox="empresa.configuracao.configOS.imprAss" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.configOS.imprAss && "Sim" || "Não" }}
                                                </a>
        </td>
                    </tr>
                    <tr>
                        <td>Imprimir resumo financeiro?</td>
                        <td id="e_osPrintFinancs">

                        <a href="#" editable-checkbox="empresa.configuracao.configOS.imprResumo" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.configOS.imprResumo && "Sim" || "Não" }}
                                                </a>

                </td>
                    </tr>
                    <tr>
                        <td>Imprimir detalhes na horizontal?</td>
                        <td id="e_osPrintDetalhesHorizontal">

                        <a href="#" editable-checkbox="empresa.configuracao.configOS.imprDetHorz" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.configOS.imprDetHorz && "Sim" || "Não" }}
                                                </a>

</td>
                    </tr>
                    <tr>
                        <td>Dias de garantia padrão:</td>
                        <td id="e_osGarantiaPadrao">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <a href="#" editable-text="empresa.configuracao.configOS.diasGarantia" onaftersave="updateEmpresa()">{{ empresa.configuracao.configOS.diasGarantia || 'empty' }}</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Texto padrão para o campo <span class="config_osLabel4">Observações gerais</span>:</td>
                        <td>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <a href="#" editable-text="empresa.configuracao.configOS.observ" onaftersave="updateEmpresa()">{{ empresa.configuracao.configOS.observ || 'empty' }}</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- CONFIGURAÇÕES DE CARNÊS -->
    <div class="col-sm-5">
        <h3>Configurações dos carnês</h3>
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <td class="halfBox">Ativar carnê de boletos?</td>
                    <input type="text" class="form-control hide" ng-model="configuracao.confCarne.id" />
                    <td id="h_carneBoletosAtivo">

                    <a href="#" editable-checkbox="empresa.configuracao.confCarne.carneBotelo" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confCarne.carneBotelo && "Sim" || "Não" }}
                                                </a>

</td>

                </tr>
                <tr>
                    <td class="halfBox">Ativar carnê normal?</td>
                    <td id="h_carneNormalAtivo">

                        <a href="#" editable-checkbox="empresa.configuracao.confCarne.carneNormal" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confCarne.carneNormal && "Sim" || "Não" }}
                                                </a>

 </td>
                </tr>
                <tr>
                    <td class="halfBox">Local de pagamento:</td>
                    <td id="h_carneLocalPagamento">
                        <div class="col-sm-12">
                            <div class="form-group">



                                <a href="#" editable-text="empresa.configuracao.confCarne.localPag" onaftersave="updateEmpresa()">{{ empresa.configuracao.confCarne.localPag || 'empty' }}</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="halfBox">Instruções 1:</td>
                    <td id="h_carneInstrucoes1">
                        <div class="col-sm-12">
                            <div class="form-group">

                                <a href="#" editable-text="empresa.configuracao.confCarne.instr1" onaftersave="updateEmpresa()">{{ empresa.configuracao.confCarne.instr1 || 'empty' }}</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="halfBox">Instruções 2:</td>
                    <td id="h_carneInstrucoes2">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <a href="#" editable-text="empresa.configuracao.confCarne.instr2" onaftersave="updateEmpresa()">{{ empresa.configuracao.confCarne.instr2 || 'empty' }}</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="halfBox">Instruções 3:</td>
                    <td id="h_carneInstrucoes3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                      <a href="#" editable-text="empresa.configuracao.confCarne.instr3" onaftersave="updateEmpresa()">{{ empresa.configuracao.confCarne.instr3 || 'empty' }}</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="halfBox">Instruções 4:</td>
                    <td id="h_carneInstrucoes4">
                        <div class="col-sm-12">
                            <div class="form-group">
                                      <a href="#" editable-text="empresa.configuracao.confCarne.instr4" onaftersave="updateEmpresa()">{{ empresa.configuracao.confCarne.instr4 || 'empty' }}</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <!-- CONFIGURAÇÕES BOLETOS -->
    <div class="col-sm-6">
        <!-- DADOS FISCAIS -->
        <div class="panel fullBox verticalHeaderTableList bottomSpace selection">
            <h3>Dados fiscais da empresa</h3>
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <td>Principal atividade da empresa:</td>
                        <td>
                        <div class="form-group col-sm-12">
                        <input type="text" class="form-control hide" ng-model="configuracao.confFiscal.id" />
                            <select id="unidTributada" name="unidTributada"  ng-model="configuracao.confFiscal.princAtividade.id" class="form-control">
                                <option value="01">Entrada</option>
                                <option value="02">Saida</option>
                            </select>
                        </div>

                        </td>
                    </tr>
                    <tr class="d_aliqsPS">
                        <td class="d_labelAliqBC">Alíquota do Simples</td>
                        <td id="d_tribAliqBC">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <a href="#" editable-text="empresa.configuracao.confFiscal.aliqSimples" onaftersave="updateEmpresa()">{{ empresa.configuracao.confFiscal.aliqSimples || 'empty' }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="d_aliqsPR">
                        <td>Alíquota ICMS:</td>
                        <td id="d_tribICMS">
                            <div class="col-sm-12">
                                <div class="form-group">


                                    <a href="#" editable-text="empresa.configuracao.confFiscal.aliqICMS" onaftersave="updateEmpresa()">{{ empresa.configuracao.confFiscal.aliqICMS || 'empty' }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="d_aliqsPR">
                        <td>Alíquota PIS:</td>
                        <td id="d_tribPIS">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <a href="#" editable-text="empresa.configuracao.confFiscal.aliqPIS" onaftersave="updateEmpresa()">{{ empresa.configuracao.confFiscal.aliqPIS || 'empty' }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="d_aliqsPR">
                        <td>Alíquota COFINS:</td>
                        <td id="d_tribCOFINS">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <a href="#" editable-text="empresa.configuracao.confFiscal.aliqCONFINS" onaftersave="updateEmpresa()">{{ empresa.configuracao.confFiscal.aliqCONFINS || 'empty' }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="d_aliqsP">
                        <td>Alíquota IRPJ:</td>
                        <td id="d_tribIRPJ">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <a href="#" editable-text="empresa.configuracao.confFiscal.aliqIRPJ" onaftersave="updateEmpresa()">{{ empresa.configuracao.confFiscal.aliqIRPJ || 'empty' }}</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="d_aliqsP">
                        <td>Alíquota CSLL:</td>
                        <td id="d_tribCSLL">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <a href="#" editable-text="empresa.configuracao.confFiscal.aliqCLSS" onaftersave="updateEmpresa()">{{ empresa.configuracao.confFiscal.aliqCLSS || 'empty' }}</a>


                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel fullBox verticalHeaderTableList bottomSpace selection">
            <h3>Configurações da NFe</h3>
            <table class="table table-hover table-bordered">
             <thead>
                </thead>
                <tbody>
                    <tr>
                        <td class="d_aliqsP">Ambiente de envio:</td>
                        <td>
                            <div class="form-group">
                                <a href="#" editable-select="empresa.configuracao.confNFe.ambienteEnvio.id" onaftersave="updateEmpresa()" e-ng-options="ss.id as ss.descricao for ss in AMBIENTE">{{ showAmbiente() }}</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="d_aliqsP">Série de envio:</td>
                        <td>
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <a href="#" editable-select="empresa.configuracao.confNFe.serieEnvio.id"  e-ng-options="s.id as s.descricao for s in SERIE" onaftersave="updateEmpresa()">{{ showSerie() }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="d_aliqsP">Modelo:</td>
                        <td>
                            <div class="col-sm-12">
                                <div class="form-group">
                                <a href="#" editable-select="empresa.configuracao.confNFe.modelo.id" e-ng-options="s.id as s.descricao for s in MODELO" onaftersave="updateEmpresa()">{{ showModelo() }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="d_aliqsP">Anexar XML no e-mail?</td>
                        <td>
                            <a href="#" editable-checkbox="empresa.configuracao.confNFe.anexarXmlEmail" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confNFe.anexarXmlEmail && "Sim" || "Não" }}
                                                </a>
</td>
                    </tr>
                    <tr>
                        <td class="d_aliqsP">Serviços na mesma nota?</td>
                        <td>

                            <a href="#" editable-checkbox="empresa.configuracao.confNFe.servMsmNota" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confNFe.servMsmNota && "Sim" || "Não" }}
                                                </a>
   </td>
                    </tr>
                    <tr>
                        <td class="d_aliqsP">Preencher data/hora saída?</td>
                        <td>

                            <a href="#" editable-checkbox="empresa.configuracao.confNFe.preencherDataHora" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confNFe.preencherDataHora && "Sim" || "Não" }}
                                                </a>
</td>
                    </tr>
                    <tr>
                        <td class="d_aliqsP">Presença comprador:</td>
                        <td>
                            <a href="#" editable-select="empresa.configuracao.confNFe.presCompr.id" e-ng-options="s.id as s.descricao for s in INDICADOR_PRESENCA_COMPRADOR" onaftersave="updateEmpresa()">{{ presCompr() }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="d_aliqsP">Consumidor final?</td>
                        <td>

                            <a href="#" editable-select="empresa.configuracao.confNFe.destConsFinal.id" e-ng-options="s.id as s.descricao for s in OPERACAO_CONSUMIDOR_FINAL" onaftersave="updateEmpresa()">{{ destConsFinal() }}</a>
</td>
                    </tr>
                    <tr>
                        <td class="d_aliqsP">ICMS padrão (%):</td>
                        <td>
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <a href="#" editable-text="empresa.configuracao.confNFe.icmsPadrao" onaftersave="updateEmpresa()">{{ empresa.configuracao.confNFe.icmsPadrao || 'empty' }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="d_aliqsP">IPI padrão (%):</td>
                        <td>
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <a href="#" editable-text="empresa.configuracao.confNFe.ipiPadrao" onaftersave="updateEmpresa()">{{ empresa.configuracao.confNFe.ipiPadrao || 'empty' }}</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="d_aliqsP">PIS padrão (%):</td>
                        <td>
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <a href="#" editable-text="empresa.configuracao.confNFe.pisPadrao" onaftersave="updateEmpresa()">{{ empresa.configuracao.confNFe.pisPadrao || 'empty' }}</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="d_aliqsP" >COFINS padrão (%):</td>
                        <td>
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <a href="#" editable-text="empresa.configuracao.confNFe.cofinsPadrao" onaftersave="updateEmpresa()">{{ empresa.configuracao.confNFe.cofinsPadrao || 'empty' }}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="dadosTokenNFCe">
                        <td >Token para envio de NFCe:</td>
                        <td id="c_cabecalho"><input id="file-fr" name="file-fr[]" ng-model="configuracao.confNFe.tokenNFCe" type="file" multiple></td>
                    </tr>
                    <tr>
                        <td >Logomarca para o Danfe:</td>
                        <td id="c_cabecalho"><input id="file-fr" name="file-fr[]" ng-model="configuracao.confNFe.logoDanfe" type="file" multiple></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <!-- CONFIGURAÇÕES SMTP -->
            <div class="panel fullBox verticalHeaderTableList bottomSpace">
                <h3>Alertas</h3>
                <div class="fullBox" id="configSMTP_resumo">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            <tr>
                                <td>Estoque Minimo:</td>
                                <input type="text" class="form-control hide" ng-model="configuracao.confAlertas.id" />
                                <td id="d_tribAtividade">

                                <a href="#" editable-checkbox="empresa.configuracao.confAlertas.estoqMin" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confAlertas.estoqMin && "Sim" || "Não" }}
                                                </a>
       </td>
                            </tr>
                            <tr>
                                <td>Estoque Maximo</td>
                                <td id="d_tribCRT">

                                    <a href="#" editable-checkbox="empresa.configuracao.confAlertas.estoqMax" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confAlertas.estoqMax && "Sim" || "Não" }}
                                                </a>

</td>
                            </tr>
                            <tr class="d_aliqsPS">
                                <td class="d_labelAliqBC">Erro Emissão NF-e:</td>
                                <td id="d_tribAliqBC">

                                <a href="#" editable-checkbox="empresa.configuracao.confAlertas.erroNFe" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confAlertas.erroNFe && "Sim" || "Não" }}
                                                </a>
</td>
                            </tr>
                            <tr class="d_aliqsPR">
                                <td>Novo Cliente:</td>
                                <td id="d_tribICMS">

                                    <a href="#" editable-checkbox="empresa.configuracao.confAlertas.nvCliente" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confAlertas.nvCliente && "Sim" || "Não" }}
                                                </a>

    </td>
                            </tr>
                            <tr class="d_aliqsPR">
                                <td>Retirada Caixa:</td>
                                <td id="d_tribPIS">

                                    <a href="#" editable-checkbox="empresa.configuracao.confAlertas.retCaixa" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confAlertas.retCaixa && "Sim" || "Não" }}
                                                </a>

   </td>
                            </tr>
                            <tr class="d_aliqsPR">
                                <td>Pedico Compra:</td>
                                <td id="d_tribPIS">

                                    <a href="#" editable-checkbox="empresa.configuracao.confAlertas.pdCompra" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confAlertas.pdCompra && "Sim" || "Não" }}
                                                </a>


        </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="dadosCertificado" class="tableList bottomSpace">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <td>Certificado Digital A1</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            <td id="c_cabecalho"><input id="file-fr" ng-model="configuracao.confNFe.certificado" name="file-fr[]" type="file" multiple></td>
                            </td>
                        </tr>
                        <tr>
                            <td>Senha:</td>
                            <td id="d_tribAtividade">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control cota-socio" ng-model="configuracao.confNFe.senha" name="book[0].vlUnitario" placeholder="0" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="dadosUsuarios" class="tableList bottomSpace invisible"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div id="dadosCFOP" class="tableList bottomSpace">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <td colspan="2">Lista de CFOPs</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >Total CFOPs cadastrados:</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td >CFOP marcado como padrão:</td>
                            <td>
                                <div class="form-group col-sm-12">
                                <select id="unidTributada" name="unidTributada"  ng-model="configuracao.confNFe.presCompr" class="form-control">
                                    <option value="1004">Presencial</option>
                                    <option value="1005">Produção</option>
                                </select>
                            </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="dadosSMTP" class="tableList bottomSpace">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <input type="text" class="form-control hide" ng-model="configuracao.confSMTP.id" />
                            <td colspan="2">Configurações de SMTP (envio de email)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ativar SMTP</td>
                            <td id="d_tribAtividade">

                                <a href="#" editable-checkbox="empresa.configuracao.confSMTP.ativSMTP" onaftersave="updateEmpresa()">
                                                    {{ empresa.configuracao.confSMTP.ativSMTP && "Sim" || "Não" }}
                                                </a>

          </td>
                        </tr>
                        <tr>
                            <td>Servidor SMTP</td>
                            <td id="d_tribCRT">
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <a href="#" editable-text="empresa.configuracao.confSMTP.servSMTP" onaftersave="updateEmpresa()">{{ empresa.configuracao.confSMTP.servSMTP || 'empty' }}</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="d_aliqsPS">
                            <td class="d_labelAliqBC">Porta (caso necessário)</td>
                            <td id="d_tribAliqBC">
                                <div class="col-sm-12">
                                    <div class="form-group">


                                        <a href="#" editable-text="empresa.configuracao.confSMTP.porta" onaftersave="updateEmpresa()">{{ empresa.configuracao.confSMTP.porta || 'empty' }}</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="d_aliqsPR">
                            <td>Endereço de e-mail:</td>
                            <td id="d_tribICMS">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <a href="#" editable-text="empresa.configuracao.confSMTP.endEmail" onaftersave="updateEmpresa()">{{ empresa.configuracao.confSMTP.endEmail || 'empty' }}</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="d_aliqsPR">
                            <td>Usuário (do email):</td>
                            <td id="d_tribPIS">
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <a href="#" editable-text="empresa.configuracao.confSMTP.usuario" onaftersave="updateEmpresa()">{{ empresa.configuracao.confSMTP.usuario || 'empty' }}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="d_aliqsPR">
                            <td>Senha do email:</td>
                            <td id="d_tribPIS">
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <a href="#" editable-text="empresa.configuracao.confSMTP.senha" onaftersave="updateEmpresa()">{{ empresa.configuracao.confSMTP.senha || 'empty' }}</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="d_aliqsPR">
                            <td>Repita a senha:</td>
                            <td id="d_tribPIS">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <a href="#" editable-text="empresa.configuracao.confSMTP.senha" onaftersave="updateEmpresa()">{{ empresa.configuracao.confSMTP.senha || 'empty' }}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="d_aliqsPR">
                            <td>Segurança:</td>
                            <td id="d_tribPIS">
                                <div class="form-group col-sm-12">
                                    <select id="unidTributada" name="unidTributada"  ng-model="configuracao.confSMTP.seguranca.id" class="form-control">
                                        <option value="102">Automatico</option>
                                        <option value="103">SSL</option>
                                        <option value="104">TLS</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td><a href="javascript:configuracoes.testarSMTP();" class="onRight">Testar configuração SMTP</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div id="dadosSMTP" class="tableList bottomSpace">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <td colspan="2">Sistema</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Parceiro</td>
                                <td id="d_tribAtividade">

                                    <a href="#" editable-radiolist="user.status" e-ng-options="s.value as s.text for s in ::statuses track by s.value">
    {{ showStatus() }}
  </a>
                                <input ng-model="empresa.permissaoTypeEnumValue" type="radio" name="receiver" class="check-socio" value="2" /></td>
                            </tr>
                            <tr>
                                <td>System</td>
                                <td id="d_tribAtividade">

                                    <a href="#" editable-radiolist="user.status" e-ng-options="s.value as s.text for s in ::statuses track by s.value">
    {{ showStatus() }}
  </a>

                                <input type="radio" ng-model="empresa.permissaoTypeEnumValue" name="receiver" class="check-socio" value="1" /></td>
                            </tr>
                            <tr>
                                <td>Escritorio Contábil</td>
                                <td id="d_tribAtividade">


                                    <a href="#" editable-radiolist="user.status" e-ng-options="s.value as s.text for s in ::statuses track by s.value">
    {{ showStatus() }}
  </a>

                                <input type="radio" ng-model="empresa.permissaoTypeEnumValue" name="receiver" class="check-socio" value="3" /></td>
                            </tr>
                            <tr>
                                <td>Empresa Pai</td>
                                <td id="d_tribCRT">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control  cota-socio" ng-model="empresa.emprId" name="book[0].vlUnitario" placeholder="0" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="dadosSMTP" class="tableList bottomSpace">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <td colspan="2">Cosmos Bluesoft </td>
                                <input type="text" class="form-control hide" ng-model="configuracao.confBlueSoft.id" />
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ativar consulta Cosmos Bluesoft</td>
                                <td id="d_tribAtividade">

                                <a href="#" editable-text="empresa.configuracao.confBlueSoft.ativBlue" onaftersave="updateEmpresa()">{{ empresa.configuracao.confBlueSoft.ativBlue || 'empty' }}</a>

</td>
                            </tr>
                            <tr>
                                <td>Url</td>
                                <td id="d_tribCRT">
                                    <div class="col-sm-12">
                                        <div class="form-group">

                                            <a href="#" editable-text="empresa.configuracao.confBlueSoft.url" onaftersave="updateEmpresa()">{{ empresa.configuracao.confBlueSoft.url || 'empty' }}</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Token</td>
                                <td id="d_tribCRT">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <a href="#" editable-text="empresa.configuracao.confBlueSoft.token" onaftersave="updateEmpresa()">{{ empresa.configuracao.confBlueSoft.token || 'empty' }}</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>