<div id="contrato">
<div style="margin-left:10px!important">
<h2 style="text-align: center;"><strong>CONTRATO DE CONCESS&Atilde;O DE USO DO SOFTWARE</strong></h2>
<h2 style="text-align: center;"><strong>{{cc.site.nome}}</strong></h2>
<h2>&nbsp;</h2>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pelo presente instrumento e na melhor forma de direito, as partes abaixo qualificadas t&ecirc;m, entre si, justo e acordado, este Contrato de Concess&atilde;o de Uso de Software que ser&aacute; regido de acordo com as seguintes cl&aacute;usulas e condi&ccedil;&otilde;es de vontades.</p>
<p style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; De um lado o Senhor <strong>{{cc.site.empresa.razao}}, </strong> inscrito no {{cc.docTipo}} n&ordm; {{cc.doc}}, residente e domiciliado &agrave; {{cc.site.empresa.enderecos[0].logradouro}}, n&ordm; {{cc.site.empresa.enderecos[0].numero}}, Bairro {{cc.site.empresa.enderecos[0].bairro}} &ndash; CEP {{cc.site.empresa.enderecos[0].cep}}, na cidade de {{cc.site.empresa.enderecos[0].cidade.nome}}/{{cc.site.empresa.enderecos[0].cidade.estado.abreviacao}}, neste ato denominado <strong>CONTRATADO</strong>, e do outro lado doravante denominado CONTRATANTE: {{empresa.razao}}, inscrito no CPF/MF n&ordm; xxxxxxx, residente e domiciliado na (Rua : {{enderecos[0].logradouro}}), n&ordm; {{enderecos[0].numero}}, {{enderecos[0].bairro}}, {{enderecos[0].cep}}, {{enderecos[0].cidade.nome}}, enderecos[0].cidade.estado.abreviacao, tem entre si justo e aven&ccedil;ado o seguinte:</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><strong>CL&Aacute;&Uacute;SULA PRIMEIRA &ndash; DO OBJETO:</strong></p>
<p style="text-align: left;"><strong>1.1. </strong>Por este instrumento particular, o <strong>CONTRATADO</strong> concede a <strong>CONTRATANTE</strong>, o uso do <strong>SOFTWARE</strong>, denominado <strong><em>{{cc.site.nome}} &ndash; http://www.{{cc.site.nome}}.com.br</em></strong>, que ser&aacute; disponibilizado em forma de c&oacute;digo fechado e cuja propriedade &eacute; do Sr. <strong>{{cc.site.empresa.razao}}.</strong></p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left;"><strong>1.2. </strong>O conte&uacute;do, a estrutura do banco de dados, os arquivos de ajuda e/ou quaisquer outros exclusivamente de natureza t&eacute;cnica, e referentes ao <strong><em>{{cc.site.nome}}</em>,</strong> ser&atilde;o eventualmente fornecidos pelo <strong>CONTRATADO.</strong></p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left;"><strong>1.3. </strong>O <strong>CONTRATADO</strong> concede a <strong>CONTRATANTE</strong> o uso do <strong><em>{{cc.site.nome}}</em></strong>, unicamente, n&atilde;o constituindo a venda do programa original, dos elementos que o comp&otilde;em ou de qualquer c&oacute;pia do mesmo, mas apenas um licenciamento tempor&aacute;rio de uso, n&atilde;o exclusivo, mediante contrapresta&ccedil;&atilde;o da mensalidade.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><em>Par&aacute;grafo &Uacute;nico: </em>A natureza do presente contrato &eacute; a licen&ccedil;a de uso do <strong><em>{{cc.site.nome}}</em></strong>, para uso da <strong>CONTRATANTE,</strong> sendo a rela&ccedil;&atilde;o norteada pelo ordenamento jur&iacute;dico em especial pela lei 9.609/98.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>1.4. </strong>A propriedade do <strong><em>{{cc.site.nome}}</em></strong> n&atilde;o &eacute; objeto deste contrato, e continua sendo exclusivamente do</p>
<p style="text-align: left;">seu <em>PROPRIET&Aacute;RIO</em> Sr. <strong>{{cc.site.empresa.razao}},</strong> com seus direitos protegidos pela Legisla&ccedil;&atilde;o Brasileira e Internacional, aplic&aacute;vel a propriedade intelectual e aos direitos autorais, especificamente no Brasil, pela Lei n&deg; 9.609 (Lei do Software) e Lei n&deg; 9.610 (Lei de Direitos Autorais).</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><em>Par&aacute;grafo &Uacute;nico:</em> Fica expressamente <strong>vedado</strong> a <strong>CONTRATANTE</strong> ceder, transferir, conceder, comercializar e licenciar o <strong><em>SOFTWARE {{cc.site.nome}}</em></strong>.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>1.5. </strong>O <strong>CONTRATADO </strong>somente certifica Notas Fiscais Eletr&ocirc;nicas no modelo A1, sendo imposs&iacute;vel a certifica&ccedil;&atilde;o no modelo A3.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><em>Par&aacute;grafo &Uacute;nico:</em> O funcionamento das Notas Fiscais Eletr&ocirc;nicas dependem da Secretaria da Fazenda Estadual e Municipal, dentro do territ&oacute;rio brasileiro.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>1.6. </strong>Fica expressamente acordado que ocorrendo falha na comunica&ccedil;&atilde;o entre a Secretaria da Fazenda do Estado ou Munic&iacute;pio, e o <strong><em>{{cc.site.nome}}</em></strong>, este <strong>N&Atilde;O SER&Aacute; RESPONSABILIZADO</strong> pela falha da comunica&ccedil;&atilde;o, ficando o <strong>CONTRATADO</strong> desobrigado por quaisquer danos nas esferas civil, criminal, tribut&aacute;rio e patrimonial.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>1.7.</strong> O funcionamento das Notas Fiscais Eletr&ocirc;nicas dependem dos Estados e Munic&iacute;pios Brasileiros possu&iacute;rem o sistema de emiss&atilde;o de Notas Fiscais Eletr&ocirc;nicas.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>1.8.</strong> O <strong>CONTRATADO</strong> n&atilde;o realizar&aacute; personaliza&ccedil;&atilde;o ou customiza&ccedil;&atilde;o do sistema ao <strong>CONTRATANTE</strong>, sendo <strong>UNIVERSAL E GERAL </strong>as altera&ccedil;&otilde;es ocorridas no sistema, por deliberalidade do <strong>CONTRATADO.</strong></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><strong>CL&Aacute;USULA SEGUNDA &ndash; DO PRE&Ccedil;O E DAS CONDI&Ccedil;&Otilde;ES DE PAGAMENTO</strong></p>
<p style="text-align: left;"><strong>2.1.</strong> O <strong><em>{{cc.site.nome}}</em></strong> contrato &eacute; o Plano<strong> {{cc.site.nome}} Simples</strong>, cuja mensalidade ser&aacute; no valor l&iacute;quido de <strong>R$ 150,00 </strong>(Cento e cinquenta reais), com <strong>vencimento no 5&deg; (quinto) dia &uacute;til de cada m&ecirc;s</strong>, cuja primeira mensalidade ter&aacute; vencimento no m&ecirc;s seguinte &agrave; data de assinatura do presente contrato e as demais vincendas nos meses seguintes.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>2.2. </strong>S&atilde;o obriga&ccedil;&otilde;es da <strong>CONTRATANTE:</strong></p>
<ol style="text-align: left;" start="4">
<li><strong>a)</strong> Efetuar o pagamento de acordo com a cl&aacute;usula 4.1 anteriormente citada.</li>
</ol>
<p style="text-align: left;">&nbsp;</p>
<ol style="text-align: left;">
<li><strong>b)</strong> O pagamento ser&aacute; realizado atrav&eacute;s de boleto banc&aacute;rio, o qual ser&aacute; gerado pelo CONTRATADO, ou via transfer&ecirc;ncia banc&aacute;ria, que ter&aacute; os dados informados ao CONTRATANTE posteriormente.</li>
<li><strong>c) </strong>Em casos de atraso no pagamento, ser&atilde;o acrescidos uma multa de 2% (dois por cento) e juros de 1,0% (um por cento) ao dia em cima do valor da mensalidade vencida.</li>
</ol>
<p style="text-align: left;">&nbsp;</p>
<ol style="text-align: left;" start="4">
<li><strong>d)</strong> A multa e juros previstos no subitem b da Cl&aacute;usula 4.2, ser&atilde;o cobradas para cada mensalidade vencida, acumulando-se de acordo com a falta de pagamento.</li>
</ol>
<p style="text-align: left;">&nbsp;</p>
<ol style="text-align: left;">
<li><strong>e) </strong>Cumprir com todas as cl&aacute;usulas deste instrumento.</li>
</ol>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><strong>CL&Aacute;USULA TERCEIRA &ndash; DO PRAZO DE VIG&Ecirc;NCIA</strong></p>
<p style="text-align: left;"><strong>3.1.</strong> O presente contrato &eacute; pactuado pelo prazo determinado de 15 (quinze) dias ap&oacute;s a data da sua assinatura.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>3.2. </strong>O <strong>prazo de vig&ecirc;ncia</strong> deste instrumento contratual, ser&aacute; de <strong>12 (doze) meses</strong> a partir da data da assinatura e ser&aacute; prorrog&aacute;vel por igual per&iacute;odo automaticamente.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>3.3. </strong>Caso o <strong>CONTRATANTE</strong> n&atilde;o tenha interesse na <strong>renova&ccedil;&atilde;o do contrato</strong>, dever&aacute; comunicar o <strong>CONTRATADO </strong>por meio de documento assinado pelo representante legal e em papel timbrado da empresa, no <strong>prazo de 30 (trinta) dias</strong> anteriores &agrave; data de vencimento do contrato.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><strong>CL&Aacute;USULA QUARTA &ndash; DAS RESPONSABILIDADES E LIMITA&Ccedil;&Otilde;ES</strong></p>
<p style="text-align: left;"><strong>4.1. </strong>O <strong>CONTRATADO</strong> se obriga a manter o <strong><em>NFEFESTOR</em></strong> em pleno funcionamento de 24 (vinte e quatro) horas por dia em 07 (sete) dias da semana, exceto nas situa&ccedil;&otilde;es de caso fortuito ou for&ccedil;a maior.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>4.2. </strong>O <strong>CONTRATADO</strong> se obriga a disponibilizar, meio para a realiza&ccedil;&atilde;o de backup (c&oacute;pia de seguran&ccedil;a) dos bancos de dados das informa&ccedil;&otilde;es adicionadas e mantidas pelo <strong>CONTRATANTE</strong> no <strong><em>NFEFESTOR,</em></strong> somente para as vers&otilde;es pagas, que poder&atilde;o ser executadas a qualquer momento pela <strong>CONTRATANTE,</strong> sendo o conte&uacute;do e a guarda do backup extra&iacute;do de inteira responsabilidade da <strong>CONTRATANTE.</strong></p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left;"><strong>4.2.1. </strong>A restaura&ccedil;&atilde;o da c&oacute;pia de seguran&ccedil;a ser&aacute; feita em at&eacute; <strong>02 (dois) dias &uacute;teis</strong> ap&oacute;s a <strong>CONTRATANTE</strong> entrar em contato com o <strong>CONTRATADO</strong> e efetivar a solicita&ccedil;&atilde;o, que dever&aacute; ser efetuada por e-mail com documento escaneado em papel timbrado da empresa e com a assinatura do representante legal da mesma. A restaura&ccedil;&atilde;o de c&oacute;pia ser&aacute; gratuita apenas uma &uacute;nica vez ao m&ecirc;s, caso haja a necessidade de ser feita uma ou mais restaura&ccedil;&otilde;es, ser&aacute; cobrada uma taxa por restaura&ccedil;&atilde;o a qual ser&aacute; informada no momento da solicita&ccedil;&atilde;o.</p>
<p style="text-align: left;"><strong>4.2.2.</strong> No <strong>plano simples</strong> a restaura&ccedil;&atilde;o da c&oacute;pia de seguran&ccedil;a ser&aacute; realizada ap&oacute;s se a <strong>CONTRATANTE</strong> estiver sem d&eacute;bitos, mediante solicita&ccedil;&atilde;o e condicionado ao disposto na <strong>subcl&aacute;usula 4.2.1.</strong></p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left;"><strong>4.3. </strong>Ocorrendo algum dos casos previstos na <strong>subcl&aacute;usula 4.2</strong> do presente contrato, em sendo necess&aacute;rias restaura&ccedil;&otilde;es, as mesmas ser&atilde;o feitas de forma gratuita, n&atilde;o ocasionando &ocirc;nus algum a <strong>CONTRATANTE.</strong></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>4.4. </strong>O <strong>CONTRATADO</strong> n&atilde;o se responsabiliza pelo conte&uacute;do das informa&ccedil;&otilde;es contidas no(s) banco(s) de dados do <strong><em>{{cc.site.nome}},</em></strong> sendo este de inteira responsabilidade da <strong>CONTRATANTE,</strong> inclusive perante terceiros.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>4.5.</strong> O <strong><em>{{cc.site.nome}}</em></strong> poder&aacute; ficar indispon&iacute;vel por dificuldades t&eacute;cnicas, falhas de Internet, manuten&ccedil;&atilde;o improrrog&aacute;vel ou qualquer outra circunst&acirc;ncia alheia a vontade do <strong>CONTRATADO,</strong> as quais n&atilde;o se responsabiliza, tampouco responder&aacute; por lucro cessante, bem como qualquer outro tipo de danos diretos e indiretos que surjam em conex&atilde;o com o presente contrato.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>4.6. </strong>O <strong>CONTRATADO</strong> n&atilde;o se responsabiliza por quaisquer insucessos comerciais da <strong>CONTRATANTE</strong> decorrentes dos servi&ccedil;os aqui prestados, bem como por perdas e danos, lucros cessantes ou qualquer outra indeniza&ccedil;&atilde;o, bem como quando decorrente de eventual indisponibilidade dos servi&ccedil;os, quer por a&ccedil;&atilde;o da <strong>CONTRATANTE, </strong>quer por terceiros.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>4.7. </strong>Se as partes deixarem de exigir em qualquer tempo o cumprimento de quaisquer cl&aacute;usulas ou condi&ccedil;&otilde;es deste contrato, &agrave; parte prejudicada n&atilde;o ficar&aacute; impedida de quando entender, fazer com que a outra parte inadimplente cumpra todas as condi&ccedil;&otilde;es contratuais.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>4.8. </strong>A eventual toler&acirc;ncia, por uma das partes, a qualquer infra&ccedil;&atilde;o de cl&aacute;usula ou condi&ccedil;&atilde;o deste contrato, n&atilde;o significar&aacute; qualquer libera&ccedil;&atilde;o das obriga&ccedil;&otilde;es futuras da parte infratora, sem qualquer modifica&ccedil;&atilde;o do dispositivo infringido.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>4.9. </strong>O <strong>CONTRATADO</strong> manter&aacute;, sob rigoroso sigilo, todos os dados da <strong>CONTRATANTE,</strong> principalmente aqueles inseridos no <strong><em>{{cc.site.nome}},</em></strong> sob pena de ser responsabilizado civil e criminalmente.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>4.10.</strong> O <strong>CONTRATADO</strong> reserva-se no direito de alterar o c&oacute;digo-fonte e a sistem&aacute;tica de funciona-</p>
<p style="text-align: left;">mento do <strong><em>{{cc.site.nome}}</em></strong> sem aviso pr&eacute;vio a <strong>CONTRATANTE,</strong> desde que n&atilde;o gere preju&iacute;zos financeiros.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>4.11.</strong> A Importa&ccedil;&atilde;o dos dados &eacute; de responsabilidade do <strong>CONTRATADO,</strong> mas a <strong>CONTRATANTE</strong> dever&aacute; enviar os dados a serem importados via e-mail ou por meio de pendrive, cujo formato dos aquivos ser&aacute; em&nbsp; <em>&ldquo;txt&rdquo;</em> ou <em>&ldquo;xml&rdquo;</em>.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>4.11.1. </strong>Os arquivos a serem importados para o <strong><em>{{cc.site.nome}} </em></strong>pelo <strong>CONTRATANTE</strong> dever ser enviado no <strong>prazo m&aacute;ximo de 10 (dez) dias &uacute;teis</strong> ap&oacute;s a assinatura desse contrato. Caso ap&oacute;s o prazo estipulado, o <strong>CONTRATANTE</strong> tenha necessidade de realizar alguma importa&ccedil;&atilde;o para o <strong><em>{{cc.site.nome}},</em></strong> ser&aacute; cobrado eventualmente valor a parte estipulado pelo <strong>CONTRATADO.</strong></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><strong>CL&Aacute;USULA QUINTA &ndash; CONDI&Ccedil;&Otilde;ES GERAIS</strong></p>
<p style="text-align: left;"><strong>5.1. </strong>A <strong>CONTRATANTE</strong> n&atilde;o poder&aacute; copiar, traduzir, modificar, adaptar, separar, desmontar ou reconstruir o <strong><em>{{cc.site.nome}}, </em></strong>bem como o conte&uacute;do e a estrutura do(s) banco(s) de dados, sob pena de rescis&atilde;o contratual.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>5.2. </strong>Para a utiliza&ccedil;&atilde;o do <strong><em>{{cc.site.nome}},</em></strong> por parte da <strong>CONTRATANTE,</strong> ser&aacute; necess&aacute;ria a utiliza&ccedil;&atilde;o m&iacute;nima dos seguintes equipamentos e programas:</p>
<p style="text-align: left;">&nbsp;</p>
<ol style="text-align: left;">
<li><strong>a) </strong>Conex&atilde;o de banda larga com a Internet de no m&iacute;nimo 1Mbps (Um Megabyte por segundo);</li>
</ol>
<p style="text-align: left;">&nbsp;</p>
<ol style="text-align: left;">
<li><strong>b)</strong> Pelo menos 01 microcomputador com processador de 800 MHz (Oitocentos Megahertz) ou maior e mem&oacute;ria de 512 MB (Quinhentos e doze Megabyte) ou maior;</li>
</ol>
<p style="text-align: left;">&nbsp;</p>
<ol style="text-align: left;">
<li><strong>c)</strong> Navegador Mozilla Firefox, Chrome na vers&atilde;o atualizada.</li>
</ol>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><em>Paragrafo &Uacute;nico: </em>O <strong><em>{{cc.site.nome}}</em></strong> poder&aacute; funcionar em aparelhos celulares e tablets, contudo o <strong>CONTRATADO</strong> n&atilde;o se responsabiliza pelo n&atilde;o funcionamento e ocorr&ecirc;ncias de erros.</p>
<p style="text-align: left;"><strong>5.3. </strong>O suporte ser&aacute; prestado pelo <strong>CONTRATADO</strong> atrav&eacute;s de meios eletr&ocirc;nicos (e-mail e Chat) e por telefone, ambos no hor&aacute;rio comercial em que esta presta seus servi&ccedil;os.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><strong>CL&Aacute;USULA SEXTA &ndash; DO PRAZO E DA RESCIS&Atilde;O</strong></p>
<p style="text-align: left;"><strong>6.1. </strong>A rescis&atilde;o contratual dever&aacute; ser solicitada atrav&eacute;s de documento devidamente carimbado e assinado pelo representante legal e em papel timbrado da empresa.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>6.2. </strong>O CONTRATADO ser&aacute; comunicado da rescis&atilde;o contratual, no <strong>prazo m&aacute;ximo de 30 (trinta) dias</strong> anteriores &agrave; data de vencimento do presente contrato.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>6.3. </strong>Em casos de descumprimento das cl&aacute;usulas deste termo, por culpa de uma das partes, o contrato ser&aacute; rescindido sob pena de <strong>multa de 50% (cinquenta por cento) do valor restante do contrato.</strong></p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left;"><strong>6.4. </strong>O valor da multa referida no item 5.3 deste contrato, dever&aacute; ser&aacute; paga por meio de boleto ou transfer&ecirc;ncia banc&aacute;ria, no <strong>prazo de 05 (cinco) dias &uacute;teis</strong> ap&oacute;s a data de assinatura do termo de rescis&atilde;o contratual.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><strong>CL&Aacute;USULA S&Eacute;TIMA &ndash; DO FORO: </strong></p>
<p style="text-align: left;"><strong>7.1. </strong>As partes elegem o foro de Uberaba, estado de Minas Gerais, como &uacute;nico competente para dirimir qualquer controv&eacute;rsia ou d&uacute;vida oriunda do presente.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; E, assim por estarem justos e contratados assinam o presente, em 2 (duas) vias de igual forma, teor, na presen&ccedil;a das testemunhas abaixo.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;">Uberaba/MG, ____ de _____ de 201__.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><strong>{{cc.site.empresa.razao}}</strong></p>
<p style="text-align: center;">{{cc.docTipo}} n&ordm; {{cc.doc}}</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><strong>NOME EMPRESA</strong></p>
<p style="text-align: center;">{{empresa.responsavel}}</p>
<p style="text-align: center;">CPF N&ordm; {{empresa.cpfResponsavel}}</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><strong>TESTEMUNHAS:</strong></p>
<p style="text-align: center;">1) ________________________________ &nbsp; &nbsp; &nbsp; 2) ___________________________</p>
<p style="text-align: center;">&nbsp; &nbsp; NOME COMPLETO &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;NOME COMPLETO</p>
<p style="text-align: center;">CPF N&ordm; &nbsp;_____._____._____-___ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; CPF N&ordm; &nbsp;_____._____._____-___</p>
<p>&nbsp;</p>
</div>
</div>