<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="container1" ng-app ng-init="tabs=4">
    <ul class="tabs-nav">
        <li><a ng-click="tabs=3" ng-class="{'active' : tabs==3}">Dados Produto</a></li>
        <li><a ng-click="tabs=4" ng-class="{'active' : tabs==4}">Dados Fiscais</a></li>
        <li><a ng-click="tabs=5" ng-class="{'active' : tabs==5}">Outras</a></li>
    </ul>

    <div class="tabs-container1">
        <div class="tab-content1" ng-show="tabs == 3">
            <div ng-include="'views/produto/apps/produto.html'"></div>
        </div>
        <div class="tab-content1" ng-show="tabs == 4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Origem</label>
                        <div class="row">
                            <ui-select ng-model="tributacao.imposto.icms.regime" theme="bootstrap" on-select="getRegimeTriburario($item, $model)">
                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                <ui-select-choices repeat="item in regime | filter: $select.search">
                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ng-cloak" ng-controller="UniMedSelectController as ctrl">
                    <div class="col-sm-3">
                        <label for="exampleInputPassword1">Unid. Medida <small ng-click="ctrl.addUniMed()" class="adcionar">(Adicionar <i class="glyphicon glyphicon-plus"></i>)</small></label>
                        <div class="row">
                            <ui-select ng-model="produto.uniMed" theme="bootstrap">
                                <ui-select-match placeholder=". . .">{{$select.selected.sigla}}</ui-select-match>
                                <ui-select-choices repeat="item in ctrl.people | filter: $select.search">
                                    <div ng-bind-html="item.sigla | highlight: $select.search"></div>
                                    <small ng-bind-html="item.unimed | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="form-group">
                        <label for="exampleInputPassword1">NCM</label>
                        <input type="text" class="form-control  " ng-model="produto.ncm" name="ncm" placeholder="NCM">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Peso unitário líquido (kg)</label>
                        <div class="input-group">
                            <span class="input-group-addon">,</span>
                            <input type="text" class="form-control col-sm-8 " ng-model="produtoEmpresa.pesoLiquido" name="pesoLiquido" placeholder="Peso unitário líquido (kg)">
                        </div>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Peso unitário bruto (kg)</label>
                        <div class="input-group">
                            <span class="input-group-addon">,</span>
                            <input type="text" class="form-control col-sm-8 " ng-model="produtoEmpresa.pesoBruto" name="pesobruto" placeholder="Peso unitário bruto (kg)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 ">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Referência EAN/GTIN (cod barra):</label>
                        <input type="text" class="form-control  " ng-model="produto.cdBarras" name="cdBarras" placeholder="Cod de barras">
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Exceção tab IPI</label>
                        <input type="text" class="form-control  " ng-model="produto.excTabIPI" name="excecaoIPI" placeholder="Exceção IPI">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Código CEST</label>
                        <input type="text" class="form-control col-sm-8 " ng-model="produto.cEST" name="cEST" placeholder="Código CEST">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Inform. adicionais para a NFe</label>
                        <textarea rows="5" type="text" class="form-control col-sm-8 " ng-model="produtoEmpresa.informAdicionaisParaNFe" name="informAdicionaisParaNFe" placeholder="Informações Adicionais Para NFe"></textarea>
                    </div>
                </div>
            </div>
            <div class="ng-cloak" ng-controller="TributacaoSelectController as ctrl">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="exampleInputPassword1">Tributação <small ng-click="ctrl.addMarca()" class="adcionar">(Adicionar <i class="glyphicon glyphicon-plus"></i>)</small></label>
                        <div class="row">
                            <ui-select ng-model="produtoEmpresa.tributacao" theme="bootstrap">
                                <ui-select-match placeholder="lista de Tributação">{{$select.selected.descricao}}</ui-select-match>
                                <ui-select-choices repeat="item in ctrl.tributacao | filter: $select.search">
                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                                    <small ng-bind-html="item.cfop.cfop | highlight: $select.search"></small> -
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="boxResumoConfigTrib" style="margin-left : 5px">
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icms00 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icms10 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms10.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icms20 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms20.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icms30 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms30.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icms40 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms40.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icms41 != null">
                            <b>Situação Tributária ICMS:</b>{{produtoEmpresa.tributacao.imposto.icms.icms41.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icms50 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms50.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icms51 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms51.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icms60 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms60.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icms70 != null">
                            <b>Situação Tributária ICMS:</b>{{produtoEmpresa.tributacao.imposto.icms.icms70.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icms90 != null">
                            <b>Situação Tributária ICMS:</b>{{produtoEmpresa.tributacao.imposto.icms.icms90.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icmsPartilhado != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icmsPartilhado.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icmsst != null">
                            <b>Situação Tributária ICMS:</b>{{produtoEmpresa.tributacao.imposto.icms.icmsst.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icmssn101 != null">
                            <b>Situação Tributária ICMS:</b>{{produtoEmpresa.tributacao.imposto.icms.icmssn101.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icmssn102 != null">
                            <b>Situação Tributária ICMS:</b>{{produtoEmpresa.tributacao.imposto.icms.icmssn102.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icmssn103 != null">
                            <b>Situação Tributária ICMS:</b>{{produtoEmpresa.tributacao.imposto.icms.icmssn103.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icmssn201 != null">
                            <b>Situação Tributária ICMS:</b>{{produtoEmpresa.tributacao.imposto.icms.icmssn201.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icmssn202 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icmssn202.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icmssn203 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icmssn203.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icmssn300 != null">
                            <b>Situação Tributária ICMS:</b>{{produtoEmpresa.tributacao.imposto.icms.icmssn300.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icmssn400 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icmssn400.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icmssn500 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icmssn500.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.icms.icmssn900 != null">
                            <b>Situação Tributária ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icmssn900.situacaoTributaria.descricao}}
                            <br><b>Alíquota ICMS:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquota}}%
                            <br><b>Alíquota ICMS ST:</b> {{produtoEmpresa.tributacao.imposto.icms.icms00.percentualAliquotaImpostoICMSST}}%
                        </div>

                        <!--  //==========   -->
                        <div ng-if="produtoEmpresa.tributacao.imposto.ipi.tributado != null">
                            <br><b>Situação Tributária IPI:</b> {{produtoEmpresa.tributacao.imposto.ipi.tributado.situacaoTributaria.descricao}} </div>
                        <div ng-if="produtoEmpresa.tributacao.imposto.ipi.naoTributado != null">
                            <br><b>Situação Tributária IPI:</b> {{produtoEmpresa.tributacao.imposto.ipi.naoTributado.situacaoTributaria.descricao}} </div>

                        <!--  //==========   -->
                        <div ng-if="produtoEmpresa.tributacao.imposto.pis.aliquota != null">
                            <br><b>Situação Tributária PIS:</b> {{produtoEmpresa.tributacao.imposto.pis.aliquota.situacaoTributaria.descricao}} </div>

                        <div ng-if="produtoEmpresa.tributacao.imposto.pis.quantidade != null">
                            <br><b>Situação Tributária PIS:</b> {{produtoEmpresa.tributacao.imposto.pis.quantidade.situacaoTributaria.descricao}} </div>

                        <div ng-if="produtoEmpresa.tributacao.imposto.pis.naoTributavel != null">
                            <br><b>Situação Tributária PIS:</b> {{produtoEmpresa.tributacao.imposto.pis.naoTributavel.situacaoTributaria.descricao}} </div>

                        <div ng-if="produtoEmpresa.tributacao.imposto.pis.outrasOperacoes != null">
                            <br><b>Situação Tributária PIS:</b> {{produtoEmpresa.tributacao.imposto.pis.outrasOperacoes.situacaoTributaria.descricao}} </div>

                        <!--  //==========   -->
                        <div ng-if="produtoEmpresa.tributacao.imposto.cofins.aliquota != null">
                            <br><b>Situação Tributária COFINS:</b> {{produtoEmpresa.tributacao.imposto.cofins.aliquota.situacaoTributaria.descricao}} </div>

                        <div ng-if="produtoEmpresa.tributacao.imposto.cofins.quantidade != null">
                            <br><b>Situação Tributária COFINS:</b> {{produtoEmpresa.tributacao.imposto.cofins.quantidade.situacaoTributaria.descricao}} </div>

                        <div ng-if="produtoEmpresa.tributacao.imposto.cofins.naoTributavel != null">
                            <br><b>Situação Tributária COFINS:</b> {{produtoEmpresa.tributacao.imposto.cofins.naoTributavel.situacaoTributaria.descricao}} </div>

                        <div ng-if="produtoEmpresa.tributacao.imposto.cofins.outrasOperacoes != null">
                            <br><b>Situação Tributária COFINS:</b> {{produtoEmpresa.tributacao.imposto.cofins.outrasOperacoes.situacaoTributaria.descricao}} </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content1" ng-show="tabs == 5">
            <div ng-include="'views/produto/apps/produtoOutros.html'"></div>
        </div>
    </div>
</div>

