<style>
.form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group .input-group-addon {
    font-size : 10px !important;
}

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;

}

.angucomplete-selected-row, .angucomplete-row:hover {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

</style>

<div class="row">
        <div class="hide">
            <div class="form-group">
                <label for="exampleInputPassword1"></label>
                <input type="text" class="form-control col-sm-8 hide" ng-model="produto.id" name="id"  placeholder="id">
            </div>
        </div>

        <div class="col-sm-8 ">
            <div class="form-group">
                <label for="exampleInputPassword1">Produto</label>
                  <div class="padded-row">
                  <angucomplete id="ex1" placeholder="Search countries" pause="100" ng-model="produto.produto" selectedobject="selectedCountry" localdata="countries" searchfields="name" titlefield="name" minlength="1" inputclass="form-control form-control-small" matchclass="highlight" />
                  </div>
                </div>
                <div class="" ng-show="selectedCountry">
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="form-group">
                <label for="exampleInputPassword1">Código personalizado</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.codigo" name="codigo"  placeholder="Código Interno">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 ">
            <div class="form-group">
                <label for="exampleInputPassword1">NCM</label>
                <input type="text" class="form-control  " ng-model="produto.nCM" name="ncm"  placeholder="NCM">
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="form-group">
                <label for="exampleInputPassword1">Código de barras (EAN):</label>
                <input type="text" class="form-control  " ng-model="produto.cdBarras" name="cdBarras"  placeholder="cdBarras">
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="form-group">
                <label for="exampleInputPassword1">Data Cadastro</label>
                <input type="text" class="form-control  " ng-model="produtoEmpresa.dataCreate" name="dataCadastro"  placeholder="Data Cadastro">
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="form-group">
                <label for="exampleInputPassword1">Exceção tab IPI</label>
                <input type="text" class="form-control  " ng-model="produto.excTabIPI" name="excecaoIPI"  placeholder="Exceção IPI">
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="form-group">
                <label for="exampleInputPassword1">CEST</label>
                <input type="text" class="form-control col-sm-8 " ng-model="produto.cEST" name="cEST"  placeholder="CEST">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 ">
            <div class="form-group">
                <label for="exampleInputPassword1">Inform. adicionais para a NFe</label>
                <textarea rows="5" type="text" class="form-control col-sm-8 " ng-model="produtoEmpresa.informAdicionaisParaNFe" name="informAdicionaisParaNFe"  placeholder="Informações Adicionais Para NFe"></textarea>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="form-group">
                <label for="exampleInputPassword1">Anotações internas</label>
                <textarea rows="5" type="text" class="form-control col-sm-8 " ng-model="produtoEmpresa.anotainternas" name="anotainternas"  placeholder="Anotaçoes Internas"></textarea>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-4 ">
                <label for="exampleInputPassword1">Unidade tributada</label>
                <div class="row">
                <select id="unidTributada" name="unidTributada"  ng-model="produtoEmpresa.unidTributada.id" class="uniMedList selectUniMed col-sm-12">
                </select>
            </div>
        </div>
        <div class="col-sm-4 ">
                <label for="exampleInputPassword1">Categoria</label>
                <div class="row">
                    <select id="atividade1" name="atividade1" ng-model="produtoEmpresa.categoria.id" class="categoriaList selectCategoria col-sm-12">
                        
                    </select>
                </div>
        </div>
        <div class="col-sm-4 ">
                <label for="exampleInputPassword1">Marca</label>
                <div class="row">
                <select id="atividade1" name="atividade1" ng-model="produtoEmpresa.marca.id" class="col-sm-12 selectMarca marcaList">
                    
                </select>
            </div>
        </div>
    </div>



<script>
    $(document).ready(function() {
        
            var callback = function(res){
                var planos = "";
               if(res.operationSuccess == true)
               {
                   for(var x = 0 ;x < res.unimedList.length;x++)
                   {
                       planos = planos + "<option value='"+res.unimedList[x].id+"'> "+res.unimedList[x].sigla+" </option>";
                   }

                    $('.uniMedList').append(planos);
                    $(".selectUniMed").select2({
                      placeholder: "Select a state",
                      allowClear: true
                    });

                    
               }

            }


            qat.model.select.util("produto/api/unimed/fetchPage",true,new qat.model.planoInquiryRequest( 100/20, true, JSON.parse(localStorage.getItem("empresa")).id),callback);


             var fnCallbackCategoria = function(res){
                var planos = "";
               if(res.operationSuccess == true)
               {
                   for(var x = 0 ;x < res.categoriaList.length;x++)
                   {
                       planos = planos + "<option value='"+res.categoriaList[x].id+"'> "+res.categoriaList[x].categoria+" </option>";
                   }

                    $('.categoriaList').append(planos);
                    $(".selectCategoria").select2({
                      placeholder: "Select a state",
                      allowClear: true
                    });

               }

            }


            qat.model.select.util("produto/api/categoria/fetchPage",true,new qat.model.planoInquiryRequest( 100/20, true, JSON.parse(localStorage.getItem("empresa")).id),fnCallbackCategoria);

             var callbackMarca = function(res){
                var planos = "";
                var preco = 0;

               if(res.operationSuccess == true)
               {
                   for(var x = 0 ;x < res.marcaList.length;x++)
                   {
                       planos = planos + "<option value='"+res.marcaList[x].id+"'> "+res.marcaList[x].marca+" </option>";
                   }
  
                    $('.marcaList').append(planos);
                    $(".selectMarca").select2({
                      placeholder: "Select a state",
                      allowClear: true
                    });

               }

            }


            qat.model.select.util("produto/api/marca/fetchPage",true,new qat.model.planoInquiryRequest( 100/20, true, JSON.parse(localStorage.getItem("empresa")).id),callbackMarca);

            $(".select").select2({
              placeholder: "Select a state",
              allowClear: true
            });
    });
</script>