<style>
    .select2>.select2-choice.ui-select-match {
        /* Because of the inclusion of Bootstrap */
        height: 29px;
    }

    .selectize-control>.selectize-dropdown {
        top: 36px;
    }
    /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */

    .select-box {
        background: #fff;
        position: relative;
        z-index: 1;
    }

    .alert-info.positioned {
        margin-top: 1em;
        position: relative;
        z-index: 10000;
        /* The select2 dropdown has a z-index of 9999 */
    }

</style>
<div class="row">
<dl class="dl-horizontal">
						<dt></dt>
						<dd>
							<label class="ui-radio"><input ng-model="tipo" name="radio1" type="radio" value="veiculo" ><span>Veiculo</span></label>
							<label class="ui-radio"><input ng-model="tipo" name="radio1" type="radio" value="medicamento" checked><span>Medicamento</span></label>
							<label class="ui-radio"><input ng-model="tipo" name="radio1" type="radio" value="armamento"><span>Armamento</span></label>
                            <label class="ui-radio"><input ng-model="tipo" name="radio1" type="radio" value="Combustivel"><span>Combustivel</span></label>
						</dd>
</dl>
</div>
<!-- Veiculos -->
<div ng-show="tipo == 'veiculo'" ng-hide="tipo != 'veiculo'">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Tipo Operação</label>
                <div class="row">
                    <ui-select ng-model="produtoEmpresa.prodId.veiculo.tipoOperacao" theme="bootstrap">
                        <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                        <ui-select-choices repeat="item in tipoOperacao | filter: $select.search">
                            <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Chassi</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.chassi" name="codigo" placeholder="Chassi">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Código Cor</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.codigoCor" name="codigo" placeholder="Código Cor">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Descrição Cor</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.descricaoCor" name="codigo" placeholder="Descrição Cor">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Potencia</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.potencia" name="codigo" placeholder="Potencia">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Cilindrada</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.cilindrada" name="codigo" placeholder="Cilindrada">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Peso Liquido</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.pesoLiquido" name="codigo" placeholder="Peso Liquido">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Peso Bruto</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.pesoBruto" name="codigo" placeholder="Peso Bruto">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">N° Serie</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.numeroSerie" name="codigo" placeholder="N° Serie">
            </div>
        </div>
        <div class="col-sm-3">
            <label for="exampleInputPassword1">Tipo Combustivel <small ng-click="ctrl.addUniMed()" class="adcionar">(Adicionar <i class="glyphicon glyphicon-plus"></i>)</small></label>
            <div class="row">
                <ui-select ng-model="produtoEmpresa.prodId.veiculo.tipoCombustivel" theme="bootstrap">
                    <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                    <ui-select-choices repeat="item in tipoCombustivel | filter: $select.search">
                        <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                    </ui-select-choices>
                </ui-select>
            </div>


        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Numero Motor</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.numeroMotor" name="codigo" placeholder="Numero Motor">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Cap Max Tração</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.capacidadeMaximaTracao" name="codigo" placeholder="Numero de Serie">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Distancia Eixos</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.distanciaEntreEixos" name="codigo" placeholder="Distancia Eixos">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Ano Fabricação</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.anoModeloFabricacao" name="codigo" placeholder="Ano Fabricação">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Tipo Pintura</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.tipoPintura" name="codigo" placeholder="Tipo Pintura">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                        <label for="exampleInputPassword1">Tipo Veiculo</label>
                        <div class="row">
                            <ui-select ng-model="produtoEmpresa.prodId.veiculo.tipoVeiculo" theme="bootstrap">
                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                <ui-select-choices repeat="item in tipoVeiculo | filter: $select.search">
                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                        <label for="exampleInputPassword1">Especie Veiculo</label>
                        <div class="row">
                            <ui-select ng-model="produtoEmpresa.prodId.veiculo.especieVeiculo" theme="bootstrap">
                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                <ui-select-choices repeat="item in espVeiculo | filter: $select.search">
                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                        <label for="exampleInputPassword1">Condição Classi</label>
                        <div class="row">
                            <ui-select ng-model="produtoEmpresa.prodId.veiculo.condicaoChassi" theme="bootstrap">
                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                <ui-select-choices repeat="item in condClassi | filter: $select.search">
                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                        <label for="exampleInputPassword1">Condição</label>
                        <div class="row">
                            <ui-select ng-model="produtoEmpresa.prodId.veiculo.condicao" theme="bootstrap">
                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                <ui-select-choices repeat="item in condicao | filter: $select.search">
                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Cod Marca Modelo</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.codigoMarcaModelo" name="codigo" placeholder="Cod Marca Modelo">
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                        <label for="exampleInputPassword1">Cor Detran</label>
                        <div class="row">
                            <ui-select ng-model="produtoEmpresa.prodId.veiculo.corDENATRAN" theme="bootstrap">
                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                <ui-select-choices repeat="item in corDetran | filter: $select.search">
                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                        <label for="exampleInputPassword1">Restrição</label>
                        <div class="row">
                            <ui-select ng-model="produtoEmpresa.prodId.veiculo.restricao" theme="bootstrap">
                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                <ui-select-choices repeat="item in resticao | filter: $select.search">
                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Lotação</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.veiculo.lotacao" name="codigo" placeholder="Lotação">
            </div>
        </div>
    </div>
</div>

<!-- Medicamentos -->
<div ng-show="tipo == 'medicamento'" ng-hide="tipo != 'medicamento'">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Lote</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.medicamento.lote" name="lote" placeholder="Lote">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Quantidade</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.medicamento.quantidade" name="quantidade" placeholder="Quantidade">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Preço Maximo</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.medicamento.precoMaximoConsumidor" name="precoMaximoConsumidor" placeholder="Preço Maximo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Data Fabricação</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.medicamento.dataFabricacao" name="dataFabricacao" placeholder="Data Fabricação">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Data Validade</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.medicamento.dataValidade" name="dataValidade" placeholder="Data Validade">
            </div>
        </div>
    </div>
</div>
<!-- Armamento-->
<div ng-show="tipo == 'armamento'" ng-hide="tipo != 'armamento'">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                        <label for="exampleInputPassword1">Tipo</label>
                        <div class="row">
                            <ui-select ng-model="produtoEmpresa.prodId.armamento.tipo" theme="bootstrap">
                                <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
                                <ui-select-choices repeat="item in tipoArma | filter: $select.search">
                                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>

                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Numero Serie Arma</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.armamento.numeroSerieArma" name="codigo" placeholder="Numero Serie Arma">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Numero Serie Cano</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.armamento.numeroSerieCano" name="codigo" placeholder="Numero Serie Cano">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Descrição</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.armamento.descricao" name="codigo" placeholder="Descrição">
            </div>
        </div>
    </div>
</div>
<!-- Combustivel-->
<div ng-show="tipo == 'combustivel'" ng-hide="tipo != 'combustivel'">
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="exampleInputPassword1">Cod. Prod. ANP</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.combustivel.codigoProdutoANP" name="codigoProdutoANP" placeholder="Codigo Produto ANP">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Percentual Gas Natural</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.combustivel.percentualGasNatural" name="percentualGasNatural" placeholder="Percentual Gas Natural">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="exampleInputPassword1">Codigo Autorizacao COFIF</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.combustivel.codigoAutorizacaoCOFIF" name="codigoAutorizacaoCOFIF" placeholder="Codigo Autorizacao COFIF">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="exampleInputPassword1">UF</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.combustivel.uf" name="codigo" placeholder="UF">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="exampleInputPassword1">Aliquota</label>
                <input type="text" class="form-control " ng-model="produtoEmpresa.prodId.combustivel.cide.valorAliquota" name="codigo" placeholder="Valor Aliquota">
            </div>
        </div>
    </div>
</div>

