<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		    <div class="panel-group" id="accordion">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".cfop">
		                    CFOP
		                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
		                </h4>
		            </div>
		            <div id="collapseOne" class="panel-collapse collapse in cfop">
		                <div class="panel-body">
		                    <div class="row">
								<div class="ng-cloak" ng-controller="CfopSelectController as ctrl">
			                        <div class="col-sm-6 ">
			                            <div class="form-group">
			                                <label for="exampleInputPassword1">CFOP padrão para NFe <small ng-click="ctrl.addCfop()" class="adcionar">(Adicionar <i class="glyphicon glyphicon-plus"></i>)</small></label>
			                                <div class="row">
			                                    <ui-select ng-model="tributacao.cfop" theme="bootstrap">
						                            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.cfop}}</ui-select-match>
						                            <ui-select-choices repeat="item in ctrl.cfop | filter: $select.search">
						                              <div ng-bind-html="item.cfop | highlight: $select.search"></div>
						                              <small ng-bind-html="item.natureza | highlight: $select.search"></small> -
						                            </ui-select-choices>
						                          </ui-select>
			                                </div>
			                            </div>
			                        </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="panel-group" id="accordion">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
		                    ICMS
		                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
		                </h4>
		            </div>
		            <div id="collapseOne" class="panel-collapse collapse in collapseFour">
		                <div class="panel-body">
		                    <div class="row">
		                                <label for="exampleInputPassword1">ICMS - Situação Tributária </label>
		                                <div class="row">
		                                <ui-select ng-model="tributacao.icms.sitTributaria" theme="bootstrap">
								            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.descricao}}</ui-select-match>
								            <ui-select-choices repeat="item in icmsST | filter: $select.search">
								              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
								              
								            </ui-select-choices>
								          </ui-select>
		                            </div>
		                        <div class="col-sm-6 ">
		                                <label for="exampleInputPassword1">ICMS - Origem</label>
		                                <div class="row">
		                                <ui-select ng-model="tributacao.icms.origem" theme="bootstrap">
								            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.descricao}}</ui-select-match>
								            <ui-select-choices repeat="item in icmsOri | filter: $select.search">
								              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
								              
								            </ui-select-choices>
								          </ui-select>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
		                    	<div class="col-sm-3 ">
                                        <label for="exampleInputPassword1">Modalidade BC</label>
                                        <div class="row ">
                                       		<ui-select ng-model="tributacao.icms.modalidadeBC" theme="bootstrap">
								            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.descricao}}</ui-select-match>
								            <ui-select-choices repeat="item in icmsMBC | filter: $select.search">
								              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
								              
								            </ui-select-choices>
								          </ui-select>
                                     </div>
                                            
                                </div>
	
		                        <div class="col-sm-3 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">Redução base calc. (%)</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.icms.redBase" name="classeCigarrosBebidas"  placeholder="Redução base calc. (%)">
		                            </div>
		                        </div>
		                        <div class="col-sm-3 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">Alíq. do ICMS (%)</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.icms.aliqICMS" name="alig"  placeholder="Alíq. do ICMS (%)">
		                            </div>
		                        </div>
		                        <div class="col-sm-3 ">
		                            <div class="form-group">
                                        <label for="exampleInputPassword1">Motivo desoneração</label>
                                        <div class="row ">
	                                       <ui-select ng-model="tributacao.icms.motDesoneracao" theme="bootstrap">
									            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.descricao}}</ui-select-match>
									            <ui-select-choices repeat="item in icmsMD | filter: $select.search">
									              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
									              
									            </ui-select-choices>
								          </ui-select>
	                                     </div>                             
		                        	</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="panel-group" id="accordion">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
		                    IPI
		                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
		                </h4>
		            </div>
		            <div id="collapseOne" class="panel-collapse collapse in collapseFour">
		                <div class="panel-body">
		                    <div class="row">
		                        <div class="col-sm-5 ">
		                                <label for="exampleInputPassword1">IPI - Situação tributária</label>
		                                <div class="row">
		                                <ui-select ng-model="tributacao.ipi.sitTributaria" theme="bootstrap">
									            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.descricao}}</ui-select-match>
									            <ui-select-choices repeat="item in iPISitTributaria | filter: $select.search">
									              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
									              
									            </ui-select-choices>
								          </ui-select>
		                            </div>
		                        </div>
		                        <div class="col-sm-5 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">Classe cigarros e bebidas</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.ipi.classeCigarrosBebidas" name="classeCigarrosBebidas"  placeholder="Classe cigarros e bebidas">
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-sm-4 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">CNPJ Produtor</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.ipi.cNPJProdutor" name="cNPJProdutor"  placeholder="CNPJ Produtor">
		                            </div>
		                        </div>
		                        <div class="col-sm-4 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">Cod. selo controle IPI</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.ipi.codControleIPI" name="codControleIPI"  placeholder="Cod. selo controle IPI">
		                            </div>
		                        </div>
		                        <div class="col-sm-4 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">Qtd. selo IPI</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.ipi.qtdSeloIPI" name="qtdSeloIPI"  placeholder="Qtd. selo IPI">
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-sm-4 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">Cód. enquadramento</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.ipi.codEnquadramento.id" name="codEnquadramento"  placeholder="999">
		                            </div>
		                        </div>
		                        <div class="col-sm-4 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">Tipo de cálculo</label>
		                                <ui-select ng-model="tributacao.ipi.tipoCalculo" theme="bootstrap">
									            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.descricao}}</ui-select-match>
									            <ui-select-choices repeat="item in tipoCalc | filter: $select.search">
									              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
									              
									            </ui-select-choices>
								          </ui-select>
		                            </div>
		                        </div>
		                        <div class="col-sm-4 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">Alíquota IPI</label>
		                                <input type="text" class="form-control col-sm-8 disabled" ng-model="tributacao.ipi.aliquotaIPI" name="aliquotaIPI"  placeholder="Alíquota IPI">
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="panel-group" id="accordion">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
		                    PIS
		                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
		                </h4>
		            </div>
		            <div id="collapseOne" class="panel-collapse collapse in collapseFour">
		                <div class="panel-body">
		                    <div class="row">
		                        <div class="col-sm-8 ">
		                                <label for="exampleInputPassword1">PIS - Situação tributária</label>
		                                <div class="row">
		                                <ui-select ng-model="tributacao.pis.pISSituaTributaria" theme="bootstrap">
									            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.descricao}}</ui-select-match>
									            <ui-select-choices repeat="item in pisST | filter: $select.search">
									              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
									              
									            </ui-select-choices>
								          </ui-select>
		                            </div>
		                        </div>
		                        <div class="col-sm-3 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">Valor unid. trib. PIS</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.pis.valorUnidtribPIS" name="valorUnidtribPIS"  placeholder="Valor unid. trib. PIS">
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-sm-8 ">
		                                <label for="exampleInputPassword1">Tipo de cálculo Subst. Trib.</label>
		                                <div class="row">
		                                <ui-select ng-model="tributacao.pis.tipocalculoSubstTrib" theme="bootstrap">
									            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.descricao}}</ui-select-match>
									            <ui-select-choices repeat="item in tipoCalc | filter: $select.search">
									              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
									              
									            </ui-select-choices>
								          </ui-select>
		                            </div>
		                        </div>
		                        <div class="col-sm-3 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">Valor unid trib PIS ST</label>
		                                <input type="text" class="form-control " ng-model="tributacao.pis.valorTribPISST" name="valorTribPISST"  placeholder="Valor unid trib PIS ST">
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="panel-group" id="accordion">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
		                    COFINS
		                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
		                </h4>
		            </div>
		            <div id="collapseOne" class="panel-collapse collapse in collapseFour">
		                <div class="panel-body">
		                    <div class="row">
		                   
		                            <div class="form-group col-sm-8">
		                                <label for="exampleInputPassword1">COFINS - Situação Tributária</label>
		                                <div class="row">
		                                 <ui-select ng-model="tributacao.cofins.sitTributaria" theme="bootstrap">
									            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.descricao}}</ui-select-match>
									            <ui-select-choices repeat="item in cofinsST | filter: $select.search">
									              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
									              
									            </ui-select-choices>
								          </ui-select>
		                            </div>
		                        </div>
		                        <div class="col-sm-3 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">Valor unid trib COFINS</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.cofins.valorTribCOFINS" name="valorTribCOFINS"  placeholder="Valor unid trib COFINS">
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-sm-8 ">
		                                <label for="exampleInputPassword1">Tipo de cálculo Subst. Trib.</label>
		                                <div class="row">
		                                <ui-select ng-model="tributacao.cofins.tipoCalculoSubstTrib" theme="bootstrap">
									            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.descricao}}</ui-select-match>
									            <ui-select-choices repeat="item in tipoCalc | filter: $select.search">
									              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
									              
									            </ui-select-choices>
								          </ui-select>
		                            </div>
		                        </div>
		                        <div class="col-sm-3 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1">Alíquota COFINS ST</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.cofins.aliquotaCOFINSST" name="aliquotaCOFINSST"  placeholder="Alíquota COFINS ST">
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    		    <div class="panel-group" id="accordion">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=".collapseFour">
		                    ICMS em Operações Interestaduais
		                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
		                </h4>
		            </div>
		            
		            <div id="collapseOne" class="panel-collapse collapse in collapseFour">
		                <div class="panel-body">
		                    <div class="row">
		                    	<div class="col-sm-3 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1" data-toggle="tooltip" data-placement="left" title="Percentual ICMS Relativo ao FCP na UF de Destino">Per ICMS Rel UF Dest.</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.pis.valorUnidtribPIS" name="valorUnidtribPIS"  placeholder="Valor unid. trib. PIS">
		                            </div>
		                        </div>
		                        <div class="col-sm-3 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1" data-toggle="tooltip" data-placement="left" title="Valor da base de  cálculo na UF destinatário">Vr da base de  cálc UF dest.</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.pis.valorUnidtribPIS" name="valorUnidtribPIS"  placeholder="Valor unid. trib. PIS">
		                            </div>
		                        </div>
		                        <div class="col-sm-3 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1" data-toggle="tooltip" data-placement="left" title="Aliquota interna da UF do destinatario">Aliq interna da UF dest.</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.pis.valorUnidtribPIS" name="valorUnidtribPIS"  placeholder="Valor unid. trib. PIS">
		                            </div>
		                        </div>
		                        <div class="col-sm-3 ">
		                                <label for="exampleInputPassword1" data-toggle="tooltip" data-placement="left" title="Aliquota interestadual">Aliq interestadual</label>
		                                <div class="row">
		                                <ui-select ng-model="tributacao.pis.pISSituaTributaria" theme="bootstrap">
									            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.descricao}}</ui-select-match>
									            <ui-select-choices repeat="item in pisST | filter: $select.search">
									              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
									              
									            </ui-select-choices>
								          </ui-select>
		                            </div>
		                        </div>
		                        </div>
		                        <div class="row">
		                        <!-- 
					
						Percentual ICMS Relativo ao FCP na UF de Destino
						Valor da base de  cálculo na UF destinatário
						Aliquota interna da UF do destinatario
						Aliquota interestadual
						Percental provisório de partilha
						Valor ICMS de partilha para UF do destinatário
						Valor ICMS de partilha para UF do remetente
						Valor ICMS relativo ao FCP da UF de destino


		            -->
		            			<div class="col-sm-3 ">
		                                <label for="exampleInputPassword1" data-toggle="tooltip" data-placement="left" title="Percental provisório de partilha">Perc prov partilha</label>
		                                <div class="row">
		                                <ui-select ng-model="tributacao.pis.tipocalculoSubstTrib" theme="bootstrap">
									            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.descricao}}</ui-select-match>
									            <ui-select-choices repeat="item in tipoCalc | filter: $select.search">
									              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
									              
									            </ui-select-choices>
								          </ui-select>
		                            </div>
		                        </div>
		                        <div class="col-sm-3 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1" data-toggle="tooltip" data-placement="left" title="Valor ICMS de partilha para UF do destinatário">Vr ICMS de part UF do dest.</label>
		                                <input type="text" class="form-control col-sm-8 " ng-model="tributacao.pis.valorUnidtribPIS" name="valorUnidtribPIS"  placeholder="Valor unid. trib. PIS">
		                            </div>
		                        </div>
		                        <div class="col-sm-3 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1" data-toggle="tooltip" data-placement="left" title="Valor ICMS de partilha para UF do remetente">Vr ICMS de part UF do remet.</label>
		                                <input type="text" class="form-control " ng-model="tributacao.pis.valorTribPISST" name="valorTribPISST"  placeholder="Valor unid trib PIS ST">
		                            </div>
		                        </div>
		                        <div class="col-sm-3 ">
		                            <div class="form-group">
		                                <label for="exampleInputPassword1" data-toggle="tooltip" data-placement="left" title="Valor ICMS relativo ao FCP da UF de destino">Vr ICMS rel FCP UF dest.</label>
		                                <input type="text" class="form-control " ng-model="tributacao.pis.valorTribPISST" name="valorTribPISST"  placeholder="Valor unid trib PIS ST">
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
		                    		<div class="checkbox">


<input type="checkbox" class="toggle-ones" checked data-toggle="toggle" data-on="Ready" data-off="Not Ready" data-onstyle="success" data-offstyle="danger" ng-true-value="'2'" ng-false-value="'1'" >

<strong>{{details}}</strong>

<div id="Edit">
dasdasdsdasdasdasdasdasddasdasd
dsdadasdasd
adasdasdasd
</div>





		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>




