<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>

<link rel="stylesheet" href="dist/css/select2.css"/>
<link href="thirdparty/bootstrap-fileinput-master/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<script src="dist/js/select2.min.js"></script>

<script src="thirdparty/bootstrap-fileinput-master/js/fileinput.js" type="text/javascript"></script>
<style type="text/css">
    .wash {
        list-style: none;
        padding: 0;
        margin: 0;
        }
        .tabs-was {
        float: left;
        border: 1px solid #000;
        border-bottom-width: 0;
        margin: 3px 3px 0px 3px;
        }
        #mainView {
        border: 1px solid black;
        clear: both;
        }
        .active {
        background-color: #FFF;
        color: #000;
        }
        * {margin: 0; padding: 0; box-sizing: border-box;}
        .tabs-nav {padding: 20px 0 0; list-style: none;}
        .tabs-nav li {display: inline;}
        .tabs-nav a {
        display:inline-block;
        border: 1px solid #ddd;
        border-bottom: none;
        padding: 15px;
        cursor: pointer;
        border-radius: 5px 5px 0 0;
        font-size: 14px;
        color: #fff;
        background: #1B3975;
        }
        .tabs-nav .active {
        background: #fff;
        color: #000;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
        }
        .tab-content {
        border: 1px solid #ddd;
        padding: 20px;
        }
        .tab-content1 {
        border: 1px solid #ddd;
        padding: 20px;
        }
        p {
        margin-bottom: 15px;
        }
</style>
<div ng-controller="CadEmpresaController as showCase">
    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover"></table>
</div>