<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div ng-controller="ContasReceberController as showCase">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class=" row col-sm-12">
                            <div class="ng-cloak" ng-controller="ContaSelectController as conta">
                                <div class="col-sm-12 ">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Conta</label>
                                        <div class="row">
                                            <ui-select id="conta" ng-model="filter.conta"
                                                theme="bootstrap"> <ui-select-match
                                                placeholder="Formas de Pagamento">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices
                                                repeat="item in conta.conta | filter: $select.search">
                                            <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                                            <small ng-bind-html="item.saldo | highlight: $select.search"></small>
                                            - </ui-select-choices> </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Periodo Inicio</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            ng-model="filter.inicial" is-open="popup1.opened"
                                            datepicker-options="dateOptions" ng-required="true"
                                            close-text="Close" uib-datepicker-popup="{{format}}" /> <span
                                            class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Periodo Final</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            ng-model="filter.final" is-open="popup2.opened"
                                            datepicker-options="dateOptions" ng-required="true"
                                            close-text="Close" uib-datepicker-popup="{{format}}" /> <span
                                            class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" style="margin-top: 20%" class="btn btn-primary btn-block active btn-sm">Buscar</button>
                    </div>
                    <div class="col-md-1">
                        <div class="row" style="margin-top: 20%">
                            <span class="label label-info">Saldo Atual</span>
                        </div>
                        <div class="row">
                            <span class="label label-info">$100,00</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                            <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstanceCR" class="row-border hover"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>