<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="dist/css/select2.css"/>
<script src="dist/js/select2.min.js"></script>
<div ng-controller="ContasPagarController as showCase">
    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
        <tfoot>
        <tr>
            <th>ID
            </th><th>First Name
            </th><th>Last Name
            </th><th>
            <select id="financeiro_cod_tipoDoc" name="financeiro_cod_tipoDoc">
                <option value="0"></option>
                <option value="1">Dinheiro</option>
                <option value="2">Cheque</option>
                <option value="3">Boleto</option>
                <option value="4">Cartão Crédito</option>
                <option value="5">Cartão Débito</option>
                <option value="6">Duplicata</option>
                <option value="7">Carnê</option>
                <option value="8">Transf. Eletrônica</option>
                <option value="9">Crédito Loja</option>
                <option value="10">Vale Alimentação</option>
                <option value="11">Vale Refeição</option>
                <option value="12">Vale Presente</option>
                <option value="13">Vale Combustível</option>
                <option value="14">Sem documento</option>
            </select>
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
        </th></tr>
        </tfoot>
    </table>
</div>