<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="dist/css/select2.css"/>
<script src="dist/js/select2.min.js"></script>
<div ng-controller="FormaPgController as showCase">
    <table datatable dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover">
      <tfoot>
        <tr>
            <th>Id
            </th><th>Nome
            </th><th>Parcelamento máx.
            </th><th>Parcelas sem juros
            </th><th>Juros
            </th><th>Taxa fixa
            </th><th>Desconto a vista
            </th><th>Tipo de documento
            </th><th>Observacao
        </th></tr>
        </tfoot>
    </table>
  </div>