<div class="row">
                            <dl class="dl-horizontal">
                                <dd>

                                    <label class="ui-radio"><input name="radio1" type="radio" ng-init="pessoa.tipoPessoa=true" ng-model="pessoa.pessoaTypeEnumValue" value="1" checked ><span>Cliente </span></label>
                                    <label class="ui-radio"><input name="radio2" type="radio" ng-model="pessoa.pessoaTypeEnumValue" value="2" checked ><span>Fornecedor</span></label>
                                    <label class="ui-radio"><input name="radio3" type="radio" ng-model="pessoa.pessoaTypeEnumValue" value="3" checked ><span>Transportador </span></label>
                                    <label class="ui-radio"><input name="radio4" type="radio" ng-model="pessoa.pessoaTypeEnumValue" value="4" checked ><span>Consumidor final </span></label>

                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="dl-horizontal">
                                <dd>
                                    <label class="ui-radio"><input name="radio5" type="radio"  ng-model="pessoa.tipoPessoa" ng-init="pessoa.tipoPessoa=true" value="1" checked ><span>Pessoa Fisica </span></label>
                                    <label class="ui-radio"><input name="radio6" type="radio" ng-model="pessoa.tipoPessoa" value="2" ><span>Pessoa Juridica </span></label>
                                </dd>
                            </dl>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="exampleInputEmail1" ng-show="pessoa.tipoPessoa == 1" ng-hide="pessoa.tipoPessoa == 2">
                                 Nome</label>
                                 <label for="exampleInputEmail1" ng-show="pessoa.tipoPessoa == 2" ng-hide="pessoa.tipoPessoa == 1">Razão social</label>
                                <input type="text" ng-model="pessoa.nome" name="razao" class="form-control" placeholder="Nome">
                            </div>  
                        </div>

                        <div ng-show="pessoa.tipoPessoa == 1" ng-hide="pessoa.tipoPessoa == 2" ng-include="'views/util/apps/documentosFisico.html'"></div>

                        <!-- telefone -->
                        <div ng-show="pessoa.tipoPessoa == 2" ng-hide="pessoa.tipoPessoa == 1" ng-include="'views/util/apps/documentosJuridicos.html'"></div>

                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label for="exampleInputEmail1">Nome do responsável</label>
                                <input type="text" class="form-control col-sm-3" ng-model="pessoa.nomeResponsavel" name="nomeResponsavel" placeholder="Nome Responsavel">
                            </div>

                        </div>

                        <!-- Endereco -->
                        <div ng-include="'views/util/apps/endereco.html'"></div>

                        <!-- -------------------  TELEFONE ----------------- -->

                        <div ng-include="'views/util/apps/telefone.html'"></div>

                        <!-- -------------------  Email Empresa ----------------- -->

                        <div ng-include="'views/util/apps/email.html'"></div>

                </div>