
                     <div class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Baixar Contas Pagar</h4>
                          </div>
                          <div class="modal-body">
                                <div class="row ">

                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Valor cobrado</label>
                                        <input type="password" ng-disabled="true" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="Valor cobrado">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Data de pagamento</label>
                                        <input type="password" ng-disabled="true" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="Valor cobrado">
                                    </div>
                                    <div class="row col-sm-4">
                                        <div class="form-group">
                                        <label for="exampleInputEmail1">Data de vencimento</label>
                                        <input type="text" ng-disabled="true" class="form-control" ng-model="cfop.descricao" name="descricao" placeholder="Data de vencimento">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class=" row col-sm-4">
				                        <div class="ng-cloak" ng-controller="ContaSelectController as conta">
				                            <div class="col-sm-12 ">
				                                <div class="form-group">
				                                    <label for="exampleInputPassword1">Conta Baixa <small ng-click="conta.addCfop()" class="adcionar">(Adicionar <i class="glyphicon glyphicon-plus"></i>)</small></label>
				                                    <div class="row">
				                                        <ui-select ng-model="titulo.listBaixa[0].conta" theme="bootstrap">
				                                            <ui-select-match placeholder="Formas de Pagamento">{{$select.selected.descricao}}</ui-select-match>
				                                            <ui-select-choices repeat="item in conta.conta | filter: $select.search">
				                                              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
				                                              <small ng-bind-html="item.saldo | highlight: $select.search"></small> -
				                                            </ui-select-choices>
				                                          </ui-select>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Valor do PAGO</label>
                                        <input type="password"  class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="R$0,00">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Valor JUROS</label>
                                         <input type="password"  class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="R$0,00">
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Valor MULTA</label>
                                        <input type="password" class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="R$0,00">
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">Valor SEGURO</label>
                                         <input type="password"  class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="R$0,00">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="exampleInputPassword1">OUTRO Valor</label>
                                         <input type="password"  class="form-control" ng-model="cfop.icmsReduzido" name="password" placeholder="R$0,00">
                                    </div>
                                </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Baixar</button>
                          </div>
                        </div>
                      </div>
                    </div>
