                     <div class="modal fade">
                      <div class="modal-dialog" style="width : 70%">
                        <div class="modal-content">
                        <form  id="contasPagarForm">
                          <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Cadastro Contas Receber</h4>
                          </div>
                          <div class="modal-body">
                            
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="exampleInputPassword1">Cliente</label>
                                                <div class="row ">
                                                    <select ng-model="titulo.cliente.id" class="col-sm-12" name="cliente">
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- -------------------  titulo ----------------- -->

                                        <div ng-include="'views/financeiro/apps/titulo.html'"></div>
                                                                  
                            
                          </div>
                          <div class="modal-footer">
                            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit"  ng-click="saveContasPagar()" class="btn btn-primary">Gravar</button>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
