
               <div class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Cadastro </h4>
                    </div>
                    <div class="modal-body">
                      <form  id="empresaForm">
                                  <div class="row">
                                      <div class="col-md-12">
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Valor</label>
                                                    <input type="text" class="form-control col-sm-8" name="valor" ng-model="situacao.value" placeholder="valor">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Nome</label>
                                                    <input type="text" class="form-control col-sm-4" name="nome" ng-model="situacao.nome" placeholder="Nome">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <label for="exampleInputPassword1">Descrição</label>
                                                <input type="text" class="form-control col-sm-8" name="complemento" ng-model="situacao.descricao" placeholder="Descricao">
                                            </div>

                                      </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                      <button type="submit" ng-click="saveDoisValor()"
                    class="btn btn-primary">Gravar</button>
                    </div>
                  </div>
                </div>
              </div>


