
                     <div class="modal fade">
                      <div class="modal-dialog" style="width : 90%">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Baixar Contas Pagar</h4>
                          </div>
                          <div class="modal-body">
                                <div class="row ">
                                    RECIBO<br>
<br>
VALOR R$ __________<br>
<br>
Recebi(bemos) do(a) senhor(a) ______________________________, brasileiro(a), residente e domiciliado(a) na cidade<br> de___________________________, na rua ______________________, n°____________, CPF/RG_____________________, a <br>importância de R$ ___________ (____________________________________), referente ao pagamento da parcela numero <br>_______ correspondente a uma parte dos serviços de ______________________________________ (jardinagem, pintura, <br>reforma) prestados no mês de ______________________ na condição de autônomo e sem vínculo empregatício.<br>

Serviços devem iniciar em ____/____/_____ e devem terminar em ____/____/____, divididos em _______ partes, e <br>_____parcelas de pagamentos.<br>
<br>
Com a quitação desta parcela ficam restando ainda ________ parcelas, que serão pagas mediante a realizaçao de cada<br>parte correspondente dos serviços acima mencionados.<br>
<br>
Pagamento efetuado em:<br>
_____ Dinheiro<br>
_____ Cheque Numero: _____________<br>
_____ Cartão de Crédito/Débito<br>
Por ser a expressão da verdade, dou quitação pela quantia recebida correspondente à respectiva parcela e firmo o <br>presente recibo. <br>
<br>
<br>______________________, _______ de __________________ de _________. <br>
<br>
______________________________________________<br>
(Nome e assinatura do prestador dos serviços) <br>
<br>
                                </div>
      
                          </div>
                          <div class="modal-footer">
                            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Imprimir</button>
                          </div>
                        </div>
                      </div>
                    </div>
           