
		<div class="modal fade">
		 <div class="modal-dialog" style="width : 30%">
		   <div class="modal-content">
		   		<form  class="MarcaForm">
		     <div class="modal-header">
		       <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
		       <h4 class="modal-title">Cadastro Marca</h4>
		     </div>
		     <div class="modal-body">
			     
			     	<div class="row">
			     		<div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Marca</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="marca.marca" name="marca"  placeholder="Marca">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Fabricante</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="marca.fabricante" name="fabricante"  placeholder="Fabricante">
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="exampleInputPassword1">SAC</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="sac.numero" name="sac"  placeholder="SAC">
                                <input type="text" class="form-control col-sm-8 hide " ng-model="sac.id" name="email"  placeholder="Email">
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                <input type="text" class="form-control col-sm-8 " ng-model="email.email" name="email"  placeholder="Email">
                                <input type="text" class="form-control col-sm-8 hide " ng-model="email.id" name="email"  placeholder="Email">
                            </div>
                        </div>

			     	</div>
			   	 
		     </div>
		     
		     <div class="modal-footer">
		       <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		       <button type="button"  ng-click="saveMarca()" class="btn btn-primary">Gravar</button>
		     </div>
		     </form>
		   </div>
		 </div>
		</div>