<div class="modal fade">
 <div class="modal-dialog" style="width : 40%">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
       <h4 class="modal-title">Cadastro Servi√ßo</h4>
     </div>
     <div class="modal-body">
	     <form  id="pdVendasForm">
	     	<div class="row">
	     		<div class="col-sm-12">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Servi√ßo</label>
                        <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Servi√ßo">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Valor</label>
                        <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="Valor">
                    </div>
                </div>
	     	</div>
	     	<div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="exampleInputPassword1">DescriÁ„o</label>
                        <input type="text" class="form-control col-sm-8 " ng-model="produto.precoVenda" name="precoVenda"  placeholder="DescriÁ„o">
                    </div>
                </div>
	     	</div>
	   	 </form>
     </div>
     <div class="modal-footer">
       <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
       <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
     </div>
   </div>
 </div>
</div>
	