<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<!--
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
 <script src="thirdparty/upload/jquery.ui.widget.js"></script>

<script src="thirdparty/upload/jquery.iframe-transport.js"></script>
<script src="thirdparty/upload/jquery.fileupload.js"></script>
<link rel="stylesheet" href="dist/css/select2.css"/>
<script src="dist/js/select2.min.js"></script>
<div data-ng-controller="RowSelectCtrl as vm">

    <table datatable dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="row-border hover">
    	<tfoot>
        <tr>
            <th>ID
            </th><th>CFOP
            </th><th>Natureza
            </th><th>descricao
            </th><th>simplificado
            </th><th>icms
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
        </th></tr>
        </tfoot>
    </table>

	</div>
-->
<div class="row">
    <div ng-controller="DataReloadWithAjaxCtrl as showCase">
    <p>
        <button ng-click="showCase.reloadData()" type="button" class="btn btn-info">
            <i class="fa fa-refresh"></i>&nbsp;Reload data
        </button>
        <button ng-click="showCase.dtInstance.changeData(showCase.newSource)" type="button" class="btn btn-info">
            <i class="fa fa-exchange"></i>&nbsp;Change data
        </button>
    </p>
    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="row-border hover"></table>
</div>
</div>
<div>
<div ng-controller="AngularWayChangeDataCtrl as showCase">
    <form class="form-inline" ng-submit="showCase.addPerson()">
        <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="row-border hover">
            <thead>
            <tr>
                <th>
                    <div class="form-group">
                        <label>
                            <input class="form-control" type="number" name="id" ng-model="showCase.person2Add.id" value="">
                        </label>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" name="firstName" ng-model="showCase.person2Add.firstName" value="">
                        </label>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" name="lastName" ng-model="showCase.person2Add.lastName" value="">
                        </label>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" name="lastName" ng-model="showCase.person2Add.lastName" value="">
                        </label>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" name="lastName" ng-model="showCase.person2Add.lastName" value="">
                        </label>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" name="lastName" ng-model="showCase.person2Add.lastName" value="">
                        </label>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" name="lastName" ng-model="showCase.person2Add.lastName" value="">
                        </label>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" name="lastName" ng-model="showCase.person2Add.lastName" value="">
                        </label>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" name="lastName" ng-model="showCase.person2Add.lastName" value="">
                        </label>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" name="lastName" ng-model="showCase.person2Add.lastName" value="">
                        </label>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control" name="lastName" ng-model="showCase.person2Add.lastName" value="">
                        </label>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                    </div>
                </th>
            </tr>
            <tr>

                <th>ID</th>
                <th>CFOP</th>
                <th>Natureza</th>
                <th>simplificado</th>
                <th>icms</th>
                <th>icmsReduzido</th>
                <th>margemAgregadaST</th>
                <th>cstPrincipal</th>
                 <th>classFiscal</th>
                  <th>observacao</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in showCase.persons">
                <td>{{ cfop.id }}</td>
                <td>{{ cfop.cfop }}</td>
                <td>{{ cfop.natureza }}</td>
                <td>{{ cfop.simplificado }}</td>
                <td>{{ cfop.icms }}</td>
                <td>{{ cfop.icmsReduzido }}</td>
                <td>{{ cfop.margemAgregadaST }}</td>
                <td>{{ cfop.cstPrincipal }}</td>
                <td>{{ cfop.classFiscal }}</td>
                <td>{{ cfop.observacao }}</td>
                <td>
                    <button type="button" ng-click="showCase.modifyPerson($index)" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                    <button type="button" ng-click="showCase.removePerson($index)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</div>
<div class="row">
<div ng-controller="ServerSideProcessingCtrl as showCase">
    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns"  class="row-border hover"></table>
</div>
</div>





<!--

 <style>
 	#dropzone {
    background: #ccccc;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

 </style>


<h1>Spring MVC - jQuery File Upload</h1>
<div style="width:500px;padding:20px">

    <input id="fileupload" type="file" name="files[]" data-url="rest/main/api/upload" multiple>

    <div id="dropzone">Drop files here</div>

    <div id="progress">
        <div style="width: 0%;"></div>
    </div>

    <table id="uploaded-files">
        <tr>
            <th>File Name</th>
            <th>File Size</th>
            <th>File Type</th>
            <th>Download</th>
        </tr>
    </table>

</div>

<script>
 $(document).ready(function() {
	$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',

        done: function (e, data) {
            $("tr:has(td)").remove();
            $.each(data.result, function (index, file) {

                $("#uploaded-files").append(
                        $('<tr/>')
                        .append($('<td/>').text(file.fileName))
                        .append($('<td/>').text(file.fileSize))
                        .append($('<td/>').text(file.fileType))
                        .append($('<td/>').html("<a href='rest/main/api/get/"+index+"'>Click</a>"))
                        )//end $("#uploaded-files").append()
            });
        },

        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            );
        },

        dropZone: $('#dropzone')
    });
});
});

</script>
-->