<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="dist/css/select2.css"/>
<script src="dist/js/select2.min.js"></script>
<div data-ng-controller="RowSelectCtrl as vm">

    <table datatable dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="row-border hover">
    	<tfoot>
        <tr>
            <th>ID
            </th><th>CFOP
            </th><th>Natureza
            </th><th>descricao
            </th><th>simplificado
            </th><th>icms
            </th><th>Last Name
            </th><th>Last Name
            </th><th>Last Name
        </th></tr>
        </tfoot>
    </table>
<form action="main/api/saveFiles/" method="post" enctype="multipart/form-data"> <input type="file" name="Arquivo" id="Arquivo"><br> <input type="submit" value="Enviar"> <input type="reset" value="Apagar"> </form>

    <a href="controllerFileUploadVelocity/downloadFile/"> download	</a>
</div>

<div>
		<form method="POST" enctype="multipart/form-data" action="upload/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>