<div class="modal fade">
    <div class="modal-dialog" style="width : 80%">
        <div class="modal-content">
            <form name="advogadoForm" ng-submit="saveAdvogado(advogadoForm.$valid,advogadoForm)" class="css-form" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cadastro Advogado</h4>
                </div>
                <div class="modal-body">
                    <div class="container1" ng-app ng-init="tabs=3">
                        <ul class="tabs-nav">
                            <li><a ng-click="tabs=3" ng-class="{'active' : tabs==3}">PRINCIPAL</a></li>
                            <li><a ng-click="tabs=4" ng-class="{'active' : tabs==4}">HORARIOS DE ATENDIMENTO</a></li>
                        </ul>
                        <div class="tabs-container1">
                            <div class="tab-content1" ng-show="tabs == 3">
                                <div ng-include="'views/advogado/forms/cadAdvogado.html'"></div>
                            </div>
                            <div class="tab-content1" ng-show="tabs == 4">
                                <div ng-include="'views/advogado/forms/cadDiaTrabalho.html'"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Gravar</button>
                </div>
            </form>
        </div>
    </div>
</div>