<meta http-eqdnt-Type" content="text/html; charset=utf-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<div class="row">
  	 <div class="form-group col-sm-12">
          <label for="exampleInputEmail1">Cliente</label>
          <div class="row">
          <select id="unidTributada" name="cliente"  ng-model="cliente.id" class=" col-sm-12 form-control banco select-banco">
          </select>
          </div>

      </div>

  </div>


  <script>
    $(document).ready(function() {

        var callbackBanco = function(res){
                var planos = "";
debugger
               if(res.operationSuccess == true)
               {
                debugger
                   for(var x = 0 ;x < res.clienteList.length;x++)
                   {
                       planos = planos + "<option value='"+res.clienteList[x].id+"'> "+res.clienteList[x].nome+" </option>";
                   }
                    planos = planos + "<option class='options' style='background-color : rebeccapurple'> Cadastrar Novo BANCO </option>";

                    $('.banco').append(planos);

                    $(".select-banco").select2({
                          placeholder: "Selecione o BANCO",
                          allowClear: true
                        });
               }

            }
debugger

            qat.model.select.util("pessoa/api/cliente/fetchPage",true,new qat.model.planoInquiryRequest( 100/20, true, JSON.parse(localStorage.getItem("empresa")).id),callbackBanco);

    });
</script>