
<div class="col-sm-12">
    <div class="form-group col-sm-8">
        <label for="exampleInputEmail1">Descrição</label>
        <input type="text" ng-model="formaPg.descricao" name="descricao" class="form-control" placeholder="Descrição">
    </div>
    <div class="col-sm-4">
        <label for="exampleInputPassword1">Intervalo</label>
        <div class="row">
            <ui-select ng-model="formaPg.intervalo" theme="bootstrap">
            <ui-select-match placeholder="...">{{$select.selected.descricao}}</ui-select-match>
            <ui-select-choices
                repeat="item in intervalo | filter: $select.search">
            <div ng-bind-html="item.descricao | highlight: $select.search"></div>
            </ui-select-choices> </ui-select>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-5">
        <label for="exampleInputEmail1">Parcelamento máx.</label>
        <div class="row">
            <ui-select ng-model="formaPg.parcelamentoMax" theme="bootstrap">
                <ui-select-match placeholder="Escolha o Tipo de documento ...">{{$select.selected.descricao}}</ui-select-match>
                <ui-select-choices repeat="item in cadastro | filter: $select.search">
                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="form-group col-sm-5">
        <label for="exampleInputEmail1">Parcelas sem juros</label>
        <div class="row">
            <ui-select ng-model="formaPg.parcelamentoSemJuros" theme="bootstrap">
                <ui-select-match placeholder="Escolha o Tipo de documento ...">{{$select.selected.descricao}}</ui-select-match>
                <ui-select-choices repeat="item in cadastro | filter: $select.search">
                    <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group col-sm-4">
        <label for="exampleInputEmail1">Juros (%)</label>
        <div class="input-group">
            <span class="input-group-addon">%</span>
            <input type="text" class="form-control" ng-model="formaPg.juros" name="juros" placeholder="0.00">
            <span class="input-group-addon">.00</span>
        </div>

    </div>
    <div class="form-group col-sm-4">
        <label for="exampleInputPassword1">Taxa fixa ($)</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" ng-model="formaPg.taxaFixa" name="text" placeholder="0.00">
            <span class="input-group-addon">,00</span>
        </div>

    </div>
    <div class="form-group col-sm-4">
        <label for="exampleInputPassword1">Desconto a vista (%)</label>
        <div class="input-group">
            <span class="input-group-addon">%</span>
            <input type="text" class="form-control" ng-model="formaPg.descAvista" name="text" placeholder="0.00">
            <span class="input-group-addon">.00</span>
        </div>

    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-6">
      <div class="ng-cloak" ng-controller="ContaSelectController as conta">
            <div class="col-sm-12 ">
                  <div class="form-group">
                        <label for="exampleInputPassword1">Conta de destino padrão<small
                              ng-click="conta.addCfop()" class="adcionar">(Adicionar <i
                                    class="glyphicon glyphicon-plus"></i>)
                        </small></label>
                        <div class="row">
                              <ui-select id="conta" ng-model="formaPg.conta"
                                    theme="bootstrap"> <ui-select-match
                                    placeholder="Formas de Pagamento">{{$select.selected.descricao}}</ui-select-match>
                              <ui-select-choices
                                    repeat="item in conta.conta | filter: $select.search">
                              <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                              <small ng-bind-html="item.saldo | highlight: $select.search"></small>
                              - </ui-select-choices> </ui-select>
                        </div>
                  </div>
            </div>
      </div>
      </div>
      <div class="col-sm-1"></div>
        <div class="form-group col-sm-5">
            <label for="exampleInputPassword1">Tipo de documento padrão</label>
            <div class="row">
                  <ui-select ng-model="formaPg.tipoDoc" theme="bootstrap">
                  <ui-select-match placeholder="Escolha o Tipo de documento ...">{{$select.selected.descricao}}</ui-select-match>
                  <ui-select-choices
                        repeat="item in tipoDocumento | filter: $select.search">
                  <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                  </ui-select-choices> </ui-select>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="exampleInputPassword1">Observações</label>
            <textarea class="form-control" ng-model="formaPg.observacao" rows="5"></textarea>
        </div>

    </div>


