<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <div class="row col-sm-12">
        <div class="form-group col-sm-6">
            <label for="exampleInputEmail1">Descrição</label>
            <textarea class="form-control" ng-model="titulo.descricao" rows="5" ></textarea>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                <div class="row col-sm-6" >
                    <label for="exampleInputPassword1">Tipo de documento</label>
                    <div class="row">
                        <ui-select ng-model="titulo.tipoDoc" theme="bootstrap">
                            <ui-select-match placeholder="Escolha o Tipo de documento ...">{{$select.selected.descricao}}</ui-select-match>
                            <ui-select-choices repeat="item in tipoDocumento | filter: $select.search">
                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-sm-6" style="margin-left:1%" >
                    <div class="form-group">
                        <label for="exampleInputPassword1">Data Emissão</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="titulo.dataEmissao" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"   uib-datepicker-popup="{{format}}"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-sm-12">    
                    <div class="col-sm-6" style="margin-top:1%">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Data do vencimento</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="titulo.dataVencimento" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"   uib-datepicker-popup="{{format}}"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top:1%">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Data do pagamento</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="titulo.dataPagamento" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"   uib-datepicker-popup="{{format}}"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open3()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="titulo.pagarAgora == true" ng-hide="titulo.pagarAgora == false">
                    <div class=" row col-sm-12">
                            <div class="ng-cloak" ng-controller="ContaSelectController as conta">
                                <div class="col-sm-12 ">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Conta Baixa <small ng-click="conta.addCfop()" class="adcionar">(Adicionar <i class="glyphicon glyphicon-plus"></i>)</small></label>
                                        <div class="row">
                                            <ui-select ng-model="titulo.listBaixa[0].conta" theme="bootstrap">
                                                <ui-select-match placeholder="Formas de Pagamento">{{$select.selected.descricao}}</ui-select-match>
                                                <ui-select-choices repeat="item in conta.conta | filter: $select.search">
                                                  <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                                                  <small ng-bind-html="item.saldo | highlight: $select.search"></small> -
                                                </ui-select-choices>
                                              </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>

    <div class="row col-sm-12">
        <div class="form-group col-sm-6">
            <label for="exampleInputEmail1">Observações</label>
            <textarea class="form-control" ng-model="titulo.observacao" rows="5" ></textarea>
        </div>
        <div class="row col-sm-6">
        <div class="col-sm-12">
        <div ng-show="titulo.pagarAgora == false" ng-hide="titulo.pagarAgora == true">
            <div class="form-group col-sm-6">
                <label for="exampleInputPassword1">Valor do titulo</label>
                <div class="inputClass input-group">
                    <span class="InputSign input-group-addon" target="fin_valor">
                        <span title="Valor monetário" class="fa fa-usd"></span>
                    </span>
                    <input type="text" id="fin_valor" ng-model="titulo.valor" class="form-control InputNum RequiredField WithValidate" value="" autocomplete="off" name="valor" especialtype="money" data-thousands="." data-decimal="," data-precision="2" decimal="15,2">
                </div>
            </div>
        </div>
        <div ng-show="titulo.pagarAgora == true" ng-hide="titulo.pagarAgora == false">
            <div class="form-group col-sm-6">
                <label for="exampleInputPassword1">Valor do titulo</label>
                <div class="inputClass input-group">
                    <span class="InputSign input-group-addon" target="fin_valor">
                        <span title="Valor monetário" class="fa fa-usd"></span>
                    </span>
                    <input type="text" id="fin_valor" ng-model="titulo.valor" class="form-control InputNum RequiredField WithValidate" value="" autocomplete="off" name="valor" especialtype="money" data-thousands="." data-decimal="," data-precision="2" decimal="15,2">
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="exampleInputPassword1">Valor pago</label>
                <div class="inputClass input-group">
                    <span class="InputSign input-group-addon" target="fin_valor">
                        <span title="Valor monetário" class="fa fa-usd"></span>
                    </span>
                    <input type="text" id="fin_valor" ng-model="titulo.listBaixa[0].valor" class="form-control InputNum RequiredField WithValidate" value="" autocomplete="off" name="valor" especialtype="money" data-thousands="." data-decimal="," data-precision="2" decimal="15,2">
                </div>
            </div>
        </div>
        </div>
            <div class="col-sm-12">
                <div class="row col-sm-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nro. do documento</label>
                        <div class="input-group">
                            <span class="input-group-addon">N°</span>
                            <input type="text" class="form-control cota-socio" ng-model="titulo.docId" name="desconto" placeholder="R$0,00" aria-label="Amount (to the nearest dollar)">
                            
                        </div>
                    </div>
                </div>    
                <div class="col-sm-6">
                    <label for="exampleInputPassword1">Categoria</label>
                    <div class="row">
                        <ui-select ng-model="titulo.categoria" theme="bootstrap">
                            <ui-select-match placeholder="Escolha o Tipo de documento ...">{{$select.selected.descricao}}</ui-select-match>
                            <ui-select-choices repeat="item in categoria | filter: $select.search">
                                <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-sm-12">
                <toggle ng-model="titulo.opcoes" ng-init="titulo.opcoes = false" style="android" on="Ocultar opções" off="Outras Opções" onstyle="btn-success" offstyle="btn-danger" ng-true-value="'1'" ng-false-value="'2'"></toggle>
                

                <div ng-show="titulo.opcoes == true" ng-hide="titulo.opcoes == false">
                    <div class="row">
                        <div class="col-sm-4 ">
                            <div class="ng-cloak" ng-controller="FormaPgSelectControllerss as ctrl">
                                <div class="col-sm-12 ">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Forma Pagamento <small ng-click="ctrl.addCfop()" class="adcionar">(Adicionar <i class="glyphicon glyphicon-plus"></i>)</small></label>
                                        <div class="row">
                                            <ui-select ng-model="titulo.formapg" theme="bootstrap">
                                                <ui-select-match placeholder="Formas de Pagamento">{{$select.selected.descricao}}</ui-select-match>
                                                <ui-select-choices repeat="item in ctrl.people | filter: $select.search">
                                                  <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                                                  <small ng-bind-html="item.observacao | highlight: $select.search"></small> -
                                                </ui-select-choices>
                                              </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <toggle ng-model="titulo.maisopcoes" ng-init="titulo.maisopcoes = false" style="android" on="Menos opções" off="Mais Opções" onstyle="btn-success" offstyle="btn-danger" ng-true-value="'1'" ng-false-value="'2'"></toggle>
                    </div>
                        <div ng-show="titulo.maisopcoes == true" ng-hide="titulo.maisopcoes == false">
                            <div class="row col-sm-6" style="margin-left : 2%">
                                <label for="exampleInputPassword1">Cadastrar mais de uma vez</label>
                                <div class="row">
                                    <ui-select ng-model="titulo.formaCadastro" theme="bootstrap">
                                        <ui-select-match placeholder="Escolha o Tipo de documento ...">{{$select.selected.descricao}}</ui-select-match>
                                        <ui-select-choices repeat="item in cadastro | filter: $select.search">
                                            <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div >
                            <div class="row col-sm-6">
                                <label for="exampleInputPassword1">Intervalo</label>
                                <div class="row">
                                    <ui-select ng-model="titulo.intervalo" theme="bootstrap">
                                        <ui-select-match placeholder="Escolha o Tipo de documento ...">{{$select.selected.descricao}}</ui-select-match>
                                        <ui-select-choices repeat="item in intervalo | filter: $select.search">
                                            <div ng-bind-html="item.descricao | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div >
                        </div>
                    </div>

                    <script>
$( document ).ready(function() {
    $('.toggle-ones').bootstrapToggle('toggle')
});


    $('#toggle-event').change(function() {
        if($(this).prop('checked'))
        {
            $('#outrasopcoes').addClass('hide')
        }
        else
        {
            
            $('#outrasopcoes').removeClass('hide')
        }
    })

    $('#maisvezes').change(function() {
        if($(this).prop('checked'))
        {
            $('#maisvezes2').addClass('hide')
        }
        else
        {
            
            $('#maisvezes2').removeClass('hide')
        }
    })
</script>