<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>RISE-Multipurpose Html Template</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Bootstrap Css -->
    <link href="views/template-assets/bootstrap-assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Angular -->

    <link rel="stylesheet" href="thirdparty/angular-toastr/angular-toastr.min.css"></link>
    <link rel="stylesheet" href="thirdparty/angular-ag/ag-grid.css"></link>
    <link rel="stylesheet" href="thirdparty/angular-ag/theme-fresh.css"></link>
    <link rel="stylesheet" href="thirdparty/angular/angular-csp.css">

    <!-- Style -->
    <link href="views/template-assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="views/template-assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="views/template-assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="views/template-assets/plugins/Lightbox/dist/css/lightbox.css" rel="stylesheet">
    <link href="views/template-assets/plugins/Icons/et-line-font/style.css" rel="stylesheet">
    <link href="views/template-assets/plugins/animate.css/animate.css" rel="stylesheet">
    <link href="views/template-assets/css/main.css" rel="stylesheet">

    





    <link rel="stylesheet" href="dist/css/formValidation.css"/>
    <link rel="stylesheet" href="dist/css/select2.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css"/>
    <link href="thirdparty/twitter-bootstrap-wizard-master/prettify.css" rel="stylesheet">
    <link href="thirdparty/twitter-bootstrap-wizard-master/prettify.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="thirdparty/bootstrap-fileinput-master/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


        <style type="text/css">

  .ui-radio {
  position: relative;
  margin: 0 20px 10px 20px;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
}
.ui-radio:hover {
  cursor: pointer;
}
.ui-radio input[type="radio"] {
  display: none;
}
.ui-radio input[type="radio"] + span {
  padding-left: 10px;
  font-weight: normal;
}
.ui-radio input[type="radio"] + span:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: -20px;
  top: 0;
  background: white;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.ui-radio input[type="radio"]:disabled + span:before {
  opacity: .65;
  border: 1px solid #ccc;
  cursor: no-drop;
}
.ui-radio input[type="radio"]:checked + span:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: -14px;
  background-color: #00475b;
  border-radius: 50%;
  display: block;
}
.ui-radio input[type="radio"]:disabled:checked + span:after {
  opacity: .65;
  cursor: no-drop;
  background-color: #ccc;
}
.ui-checkbox {
  position: relative;
  margin: 0 20px 10px 20px;
}
.ui-checkbox:hover {
  cursor: pointer;
}
.ui-checkbox input[type="checkbox"] {
  display: none;
}
.ui-checkbox input[type="checkbox"] + span {
  font-weight: normal;
}
.ui-checkbox input[type="checkbox"] + span:before {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: -20px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #ccc;
}
.ui-checkbox input[type="checkbox"]:disabled + span:before {
  opacity: .65;
  border: 1px solid #ccc;
  cursor: no-drop;
}
.ui-checkbox input[type="checkbox"]:checked + span:before {
  background-color: #00475b;
  border: 1px solid #00475b;
}
.ui-checkbox input[type="checkbox"]:checked + span:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 7px;
  left: -15px;
  background: url("../images/checkmark.png") no-repeat center center;
  background-size: 14px 14px;
  display: block;
}
.ui-checkbox input[type="checkbox"]:disabled:checked + span:before {
  opacity: .65;
  background-color: #ccc;
  border: 1px solid #ccc;
}
.ui-checkbox input[type="checkbox"]:disabled:checked + span:after {
  opacity: .65;
  cursor: no-drop;
  background: url("../images/checkmark.png") no-repeat center center;
}


.navbar-default {
    background-color: #000000;
}
        </style>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="thirdparty/AngularJS-Tutorial-master/node_modules/angular/angular.js"></script>
    <script src="thirdparty/AngularJS-Tutorial-master/node_modules/angular-animate/angular-animate.js"></script>
    <script src="thirdparty/angular-route/angular-route.min.js"></script>
    <script src="thirdparty/angular-animate/angular-animate.min.js"></script>
    <script src="thirdparty/angular-bootstrap/ui-bootstrap-tpls-2.0.0.min.js"></script>
    <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
    <script src="thirdparty/angular-textangular/textAngular-rangy.min.js"></script>
    <script src="thirdparty/angular-textangular/textAngular-sanitize.min.js"></script>
    <script src="thirdparty/angular-textangular/textAngular.min.js"></script>
    <script src="thirdparty/angular-ui-tree/angular-ui-tree.min.js"></script>
    <script src="thirdparty/angular-ngmaps/ng-map.min.js"></script>
    <script src="thirdparty/angular-ng-tags-input/ng-tags-input.min.js"></script>
    <script src="thirdparty/angular-loading/loading-bar.min.js"></script>
    <script src="thirdparty/angular-ngmaps/ng-map.min.js"></script>
    <script src="thirdparty/angular-ag/ag-grid.js"></script>
    <script src="thirdparty/angular-toastr/angular-toastr.tpls.min.js"></script>
    <script src="thirdparty/angular-local-storage/angular-local-storage.min.js"></script>
    <script src="thirdparty/angular-base64/angular-base64.min.js"></script>
    <script src="thirdparty/raphael/raphael-min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="thirdparty/jquery-ui-1.12.0/jquery-ui.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="views/template-assets/bootstrap-assets/js/bootstrap.min.js"></script>
    <script src="views/template-assets/js/custom.js"></script>
    <!-- JS PLUGINS -->
    <script src="views/template-assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="views/template-assets/js/jquery.easing.min.js"></script>
    <script src="views/template-assets/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="views/template-assets/plugins/countTo/jquery.countTo.js"></script>
    <script src="views/template-assets/plugins/inviews/jquery.inview.min.js"></script>
    <script src="views/template-assets/plugins/Lightbox/dist/js/lightbox.min.js"></script>
    <script src="views/template-assets/plugins/WOW/dist/wow.min.js"></script>
    <!-- GOOGLE MAP -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>


    <script src="dist/js/select2.min.js"></script>
    <script src="dist/js/formValidation.js"></script>
    <script src="dist/js/framework/bootstrap.js"></script>
    <script src="thirdparty/twitter-bootstrap-wizard-master/jquery.bootstrap.wizard.js"></script>
    <script src="thirdparty/twitter-bootstrap-wizard-master/prettify.js"></script>
    <script src="thirdparty/bootstrap-fileinput-master/js/fileinput.js" type="text/javascript"></script>

    

    <script src="thirdparty/AngularJS-Tutorial-master/node_modules/angular-aria/angular-aria.js"></script>
    <script src="thirdparty/AngularJS-Tutorial-master/node_modules/angular-material/angular-material.js"></script>
    <script src="thirdparty/AngularJS-Tutorial-master/scripts/app.js"></script>
    <script src="thirdparty/AngularJS-Tutorial-master/components/classifieds.ctr.js"></script>

    <!-- The Templates plugin is included to render the upload/download listings -->

    <!-- The main application script
    <script src="thirdparty/jQuery-File-Upload-master/js/main.js"></script>-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="ngClassifieds" ng-controller="classifiedsCtrl">
    <!-- Preloader
    ============================================= -->
    <div class="preloader"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></div>
    <!-- Header
    ============================================= -->
    <section class="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="views/template-assets/img/logo/logo.png" class="img-responsive" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                    <div class="col-md-12 col-xs-12 nav-wrap">
                        <ul class="nav navbar-nav">
                            <li><a href="#owl-hero" class="page-scroll">E-Contábil</a></li>
                            <li><a href="#services" class="page-scroll">Serviços</a></li>
                            <li><a href="#portfolio" class="page-scroll">Planos</a></li>
                           <!-- <li><a href="#team" class="page-scroll">About</a></li> -->
                            <li><a href="#contact" class="page-scroll">Contato</a></li>
                            <li><a href="#contact" class="page-scroll">Migrar Empresa</a></li>
                            <li><a href="#contact" class="page-scroll">Aréa Usuario</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </section>

            <div class='container' >
        <section style="margin-top : 100px" id="wizard" style="background : white">
            <div id="rootwizard" class="agilContabil">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul>
                                <li><a href=".tab1" data-toggle="tab">Informações do Usuario</a></li>
                                <li><a href=".tab2" data-toggle="tab">Informações da Empresa</a></li>
                                <li><a href=".tab3" data-toggle="tab">Informações de Socios</a></li>
                                <li><a href=".tab4" data-toggle="tab">Informações Plano Serviçoes</a></li>
                                <li><a href=".tab5" data-toggle="tab">Contrato Social</a></li>
                                <li><a href=".tab6" data-toggle="tab">Pagamento</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="bar" class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;background : red"></div>
                </div>
                <form ng-submit="submit()" class="empresaForm">
                    <div class="tab-content">
                        <div class="tab-pane tab1" id="tab1">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nome Completo</label>
                                            <input type="text" ng-model="empresa.usuarios[0].nome" name="nome" class="form-control" placeholder="Nome Completo">
                                            <span>{{empresa.usuarios[0].nome}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">CPF</label>
                                            <input type="text" id="cpf" class="form-control" name="cpf" ng-model="empresa.usuarios[0].cpf.numero" placeholder="CPF">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Telefone</label>
                                            <input type="text" class="form-control" ng-model="empresa.usuarios[0].telefone" name="telefone" placeholder="Telefone">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email</label>
                                            <input type="email" id='email' class="form-control" ng-model="empresa.usuarios[0].email" name="email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Senha</label>
                                            <input type="password" class="form-control" ng-model="empresa.usuarios[0].senha" name="password" placeholder="Senha">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Confirmar Senha</label>
                                            <input type="password" class="form-control" ng-model="senha" name="confirmPassword" placeholder="Confirmar Senha">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab2" id="tab2">
                            <div class="panel-body">

                                <div ng-include="'views/empresa/apps/cadEmpresa.html'"></div>
 
                                <!-- email -->
                                <div ng-include="'views/util/apps/endereco.html'"></div>

                                <!-- telefone -->
                                <div ng-include="'views/util/apps/telefone.html'"></div>


                                <!-- email -->
                                <div ng-include="'views/util/apps/email.html'"></div>


                                <!-- Cnae -->
                                <div ng-include="'views/util/apps/cnae.html'"></div>


                            </div>
                        </div>
                        <div class="tab-pane tab3" id="tab3">
                            <div class="row socios">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">CPF Socio</label>
                                        <input type="text" class="form-control cpf-socio" name="book[0].cpf" placeholder="CPF Socio" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Nome Socio</label>
                                        <input type="text" class="form-control nome-socio" name="book[0].nome" placeholder="Nome Socio" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Porcentagem</label>
                                        <input type="text" class="form-control cota-socio" name="book[0].cota" placeholder="%" />
                                    </div>
                                </div>
                                <div class="col-sm-3" style="margin-top:18px">
                                    <div class="checkbox">
                                        <label>
                                                <input type="checkbox" name="receiver" class="check-socio" value="1" /> Socio Administrador ?
                                            </label>
                                    </div>
                                </div>
                                <div class="col-xs-1" style="margin-top:18px">
                                    <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="form-group hide" id="bookTemplate">
                                <div class="row socios">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">CPF Socio</label>
                                            <input type="text" class="form-control cpf-socio" name="cpf-socio" placeholder="CPF Socio" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Nome Socio</label>
                                            <input type="text" class="form-control nome-socio" name="nome-socio" placeholder="Nome Socio" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Porcentagem</label>
                                            <input type="text" class="form-control cota-socio" name="cota-socio" placeholder="%" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="margin-top:18px">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="receiver" class="check-socio" value="1" /> Socio Administrador ?
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-1" style="margin-top:18px">
                                        <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab4 col-sm-12" id="tab4"> <!-- data-ng-controller="SiteController as cc"> -->
                            <div class="col-sm-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href=".collapseThree">1 - Planos</a>
                                    </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse collapseThree">
                                        <div class="panel-body">
                                            <section class="mbr-section mbr-section--relative mbr-section--fixed-size " id="pricing-table1-11" style="background-color: rgb(240, 240, 240);">
                                                <div class="mbr-section__container mbr-section__container--std-top-padding  container" style="padding-top: 93px; margin-bottom: 0px;width:100%">
                                                    <div class="row">
                                                        <div class="mbr-plan col-xs-12 mbr-plan--first col-md-3 col-sm-6" ng-repeat="plano in cc.site.planoList">
                                                            <div class="mbr-plan__box planos">
                                                                <div class="plano-id hide">{{plano.id}}</div>
                                                                <div class="plano-type hide">1</div>
                                                                <div class="mbr-plan__header">
                                                                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                                                        <h3 class="mbr-header__text">{{plano.titulo}}</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="mbr-plan__number">
                                                                    <div class="mbr-number mbr-number--price">
                                                                        <div class="mbr-number__num">
                                                                            <div class="{{plano.id}} hide id"></div>
                                                                            <div class="hide type plano"></div>
                                                                            <div class="mbr-number__group">
                                                                                <sup class="mbr-number__left">$</sup><span class="mbr-number__value mbr-plan__number1 valor">{{plano.precoList[0].valor || 0}}</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="mbr-number__caption">Mensal</div>
                                                                    </div>
                                                                </div>
                                                                <div class="mbr-plan__details">
                                                                    <ul ng-repeat="servico in plano.servicoList">
                                                                        <li><strong>{{servico.servico.nome}}</strong> {{servico.servico.descricao}}</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="mbr-plan__buttons">
                                                                    <div class="mbr-buttons mbr-buttons--center">
                                                                        <label>Contratar - <input type='checkbox' class="plano" ng-init='checkStatus=false' ng-model='checkStatus' ng-click='doIfChecked(checkStatus)'></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href=".collapseFour">2 - Serviços</a>
                                    </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse collapseFour">
                                        <div class="panel-body">
                                            <section class="mbr-section mbr-section--relative mbr-section--fixed-size planos" id="pricing-table1-11" style="background-color: rgb(240, 240, 240);">
                                                <div class="mbr-section__container mbr-section__container--std-top-padding container" style="padding-top: 93px; margin-bottom: 0px;">
                                                    <div class="row">
                                                        <div class="mbr-plan col-xs-8 mbr-plan--first col-md-3 col-sm-6" ng-repeat="servico in cc.site.servicoList">
                                                            <div class="plano-id hide">{{servico.id}}</div>
                                                            <div class="plano-type hide">2</div>
                                                            <div class="mbr-plan__box">
                                                                <div class="mbr-plan__header">
                                                                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                                                                        <h3 class="mbr-header__text">{{servico.nome}}</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="mbr-plan__number">
                                                                    <div class="{{servico.id}} hide id"></div>
                                                                    <div class="hide type servico"></div>
                                                                    <div class="mbr-number mbr-number--price">
                                                                        <div class="mbr-number__num">
                                                                            <div class="mbr-number__group">
                                                                                <sup class="mbr-number__left">$</sup><span class="mbr-number__value mbr-plan__number1 valor" style="font-size:40%">{{servico.precoList[0].valor || 0}}</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="mbr-number__caption">Mensal</div>
                                                                    </div>
                                                                </div>
                                                                <div class="mbr-plan__details">
                                                                    <ul>
                                                                        <li><strong>{{servico.servico.descricao}}</strong></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="mbr-plan__buttons">
                                                                    <div class="mbr-buttons mbr-buttons--center">
                                                                        <label>Contratar - <input type='checkbox' class="plano" ng-init='checkStatus=false' ng-model='checkStatus' ng-click='doIfChecked(checkStatus,10,nome)'></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href=".collapseten" style="font-size:24px">Total</a>
                                    </h4>
                                </div>

                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Plano</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody id='table-plano'>

                                        </tbody>
                                    </table>
                                </div>



                            </div>
                        </div>
                        <div class="tab-pane tab5" id="tab5">



                            <div class="container kv-main">
                                <div class="page-header">
                                    <h1>Bootstrap File Input Example <small><a href="https://github.com/kartik-v/bootstrap-fileinput-samples"><i class="glyphicon glyphicon-download"></i> Download Sample Files</a></small></h1>
                                </div>
                                <form enctype="multipart/form-data">
                                    <input id="file-0a" class="file" type="file" multiple data-min-file-count="1">
                                    <br>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </form>
                                <hr>
                                <form enctype="multipart/form-data">
                                    <label>Test invalid input type</label>
                                    <input id="file-0b" class="file" type="text" multiple data-min-file-count="1">
                                    
                                </form>
                                <hr>
                                <form enctype="multipart/form-data">
                                    <input id="file-0a" class="file" type="file" multiple data-min-file-count="3">
                                    <hr>
                                    <div class="form-group">
                                        <input id="file-0b" class="file" type="file">
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <input id="file-1" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="2">
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <input id="file-2" type="file" class="file" readonly data-show-upload="false">
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label>Preview File Icon</label>
                                        <input id="file-3" type="file" multiple=true>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <input id="file-4" type="file" class="file" data-upload-url="#">
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <button class="btn btn-warning" type="button">Disable Test</button>
                                        <button class="btn btn-info" type="reset">Refresh Test</button>
                                        <button class="btn btn-primary">Submit</button>
                                        <button class="btn btn-default" type="reset">Reset</button>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <input type="file" class="file" id="test-upload" multiple>
                                        <div id="errorBlock" class="help-block"></div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <input id="file-5" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#">
                                    </div>
                                </form>


                                <hr>
                                <h4>Multi Language Inputs</h4>
                                <form enctype="multipart/form-data">
                                    <label>French Input</label>
                                    <input id="file-fr" name="file-fr[]" type="file" multiple>
                                    <hr style="border: 2px dotted">
                                    <label>Spanish Input</label>
                                    <input id="file-es" name="file-es[]" type="file" multiple>
                                </form>
                                <hr>
                                <br>
                            </div>


                        </div>
                        <div class="tab-pane" id="tab6">
                            6
                        </div>
                        <ul class="pager wizard">
                            <li class="previous first" style="display:none;"><a href="javascript:;">First</a></li>
                            <li class="previous"><a href="javascript:;">Previous</a></li>
                            <li class="next last" style="display:none;"><a href="javascript:;">Last</a></li>
                            <li class="next"><a href="javascript:;">Next</a></li>
                            <li class="hide save-empresa"><input type="submit" id="submit" value="Submit" ng-click="cc.submit()" /></li>
                        </ul>
                    </div>
                </form>
            </div>



        </section>


        
    </div>
    <!-- Google Map
    ============================================= -->
    <div id="map"></div>
    <!-- Footer
    ============================================= -->
    <footer>
        <div class="container">
            <h1>Rise</h1>
            <div class="social">
                <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
            </div>
            <h6>&copy; 2015 Rise.Development By BootstrapDev</h6>
        </div>
    </footer>

<script>


    $('#file-fr').fileinput({
        language: 'fr',
        uploadUrl: '#',
        allowedFileExtensions : ['jpg', 'png','gif'],
    });
    $('#file-es').fileinput({
        language: 'es',
        uploadUrl: '#',
        allowedFileExtensions : ['jpg', 'png','gif'],
    });
    $("#file-0").fileinput({
        'allowedFileExtensions' : ['jpg', 'png','gif'],
    });
    $("#file-1").fileinput({
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions : ['jpg', 'png','gif'],
        overwriteInitial: false,
        maxFileSize: 1000,
        maxFilesNum: 10,
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function(filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
    /*
    $(".file").on('fileselect', function(event, n, l) {
        alert('File Selected. Name: ' + l + ', Num: ' + n);
    });
    */
    $("#file-3").fileinput({
        showUpload: false,
        showCaption: false,
        browseClass: "btn btn-primary btn-lg",
        fileType: "any",
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"
    });
    $("#file-4").fileinput({
        uploadExtraData: {kvId: '10'}
    });
    $(".btn-warning").on('click', function() {
        if ($('#file-4').attr('disabled')) {
            $('#file-4').fileinput('enable');
        } else {
            $('#file-4').fileinput('disable');
        }
    });
    $(".btn-info").on('click', function() {
        $('#file-4').fileinput('refresh', {previewClass:'bg-info'});
    });
    /*
    $('#file-4').on('fileselectnone', function() {
        alert('Huh! You selected no files.');
    });
    $('#file-4').on('filebrowse', function() {
        alert('File browse clicked for #file-4');
    });
    */
    $(document).ready(function() {


        $("#test-upload").fileinput({
            'showPreview' : false,
            'allowedFileExtensions' : ['jpg', 'png','gif'],
            'elErrorContainer': '#errorBlock'
        });

        bookIndex = 0;

    $('#empresaForm')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {

        //    'book[0].cpf': notEmptyStringMinMaxRegexp,
        //    'book[0].nome': notEmptyStringMinMax,
         ///   'book[0].cota': integerNotEmptyValidation,
        //     nome: notEmptyStringMinMax,
        //     nunFunc: integerNotEmptyValidation,
        //    razao:notEmptyStringMinMax,
        //    logradouro:notEmptyStringMinMax,
        //    cpf: notEmptyStringMinMaxRegexp,
         //   cep: notEmptyStringMinMax,
        //    cnpj: notEmptyStringMinMax,
        //    email: emailValidation,
        //    telefone: telefoneValidation,
        //    phone: telefoneValidation,
        //    cep: cepNotEmptyValidation,
            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required and can\'t be empty'
                    }
                }
            },
            confirmPassword: {
                validators: {
                    notEmpty: {
                        message: 'The confirm password is required and can\'t be empty'
                    },
                    identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    }
                }
            }

        }
        })

        $("select").select2({
          placeholder: "Select a state",
          allowClear: true
        });

        $('#rootwizard').bootstrapWizard({onNext: function(tab, navigation, index) {
            /*  if(index==2) {
                    // Make sure we entered the name
                    if(!$('#name').val()) {
                        alert('You must enter your name');
                        $('#name').focus();
                        return false;
                    }
                }

                // Set the name for the next tab
                $('#tab3').html('Hello, ' + $('#name').val());
            */
            }, onTabShow: function(tab, navigation, index) {

                var $total = navigation.find('li').length;
                var $current = index+1;
                var $percent = ($current/$total) * 100;
                $('#rootwizard .progress-bar').css({width:$percent+'%'});
                if($percent == 100)
                {
                    $('.save-empresa').removeClass('hide');
                }else{
                    $('.save-empresa').addClass('hide');
                }
            },
            onNext: function(tab, navigation, index) {
                var numTabs    = $('#installationForm').find('.tab-pane').length,
                    isValidTab = validateTab(index - 1);
                if (!isValidTab) {
                    return false;
                }

                if (index === numTabs) {
                    alert('agora');
                    // We are at the last tab

                    // Uncomment the following line to submit the form using the defaultSubmit() method
                    // $('#installationForm').formValidation('defaultSubmit');

                    // For testing purpose
                    $('#completeModal').modal();
                }

                return true;
            }});

        window.prettyPrint && prettyPrint();

        
        //============================= Email fim
         function validateTab(index) {
            var fv   = $('#empresaForm').data('formValidation'), // FormValidation instance
                // The current tab
                $tab = $('#empresaForm').find('.tab-pane').eq(index);

            // Validate the container
            fv.validateContainer($tab);

            var isValidStep = fv.isValidContainer($tab);
            if (isValidStep === false || isValidStep === null) {
                // Do not jump to the target tab
                return false;
            }

            return true;
        }

        //Tab 1
$('#empresaForm').find('[name="nome"]').val('099.099.099.099');
$('#empresaForm').find('[name="cpf"]').val('099.099.099.099');
$('#empresaForm').find('[name="telefone"]').val('34988406670');
$('#empresaForm').find('[name="email"]').val('wlclimaco@gmail.com');
$('#empresaForm').find('[name="password"]').val('099.099.099.099');
$('#empresaForm').find('[name="confirmPassword"]').val('099.099.099.099');

//Tab 2
$('#empresaForm').find('[name="cnpj"]').val('099.099.099.099');
$('#empresaForm').find('[name="numfunc"]').val('8');
$('#empresaForm').find('[name="razao"]').val('34988406670');
$('#empresaForm').find('[name="cep"]').val('38082243');
$('#empresaForm').find('[name="numero"]').val('686');
$('#empresaForm').find('[name="complemento"]').val('complemento');
$('#empresaForm').find('[name="logradouro"]').val('logradouro');
$('#empresaForm').find('[name="book[0].nome"]').val('joao das coves');
$('#empresaForm').find('[name="book[0].cpf"]').val('05790167659');
$('#empresaForm').find('[name="book[0].cpf"]').val('10');

    });
//prencher form
/*
//Tab 1
$('#empresaForm').find('[name="nome"]').val('099.099.099.099');
$('#empresaForm').find('[name="cpf"]').val('099.099.099.099');
$('#empresaForm').find('[name="telefone"]').val('34988406670');
$('#empresaForm').find('[name="email"]').val('wlclimaco@gmail.com');
$('#empresaForm').find('[name="password"]').val('099.099.099.099');
$('#empresaForm').find('[name="confirmPassword"]').val('099.099.099.099');

//Tab 2
$('#empresaForm').find('[name="cnpj"]').val('099.099.099.099');
$('#empresaForm').find('[name="nunfunc"]').val('8');
$('#empresaForm').find('[name="razao"]').val('34988406670');
$('#empresaForm').find('[name="cep"]').val('38082243');
$('#empresaForm').find('[name="numero"]').val('686');
$('#empresaForm').find('[name="complemento"]').val('complemento');

//Tab 3
$('#empresaForm').find('[name="nome"]').val('099.099.099.099');
$('#empresaForm').find('[name="cpf"]').val('099.099.099.099');
$('#empresaForm').find('[name="telefone"]').val('34988406670');
$('#empresaForm').find('[name="email"]').val('wlclimaco@gmail.com');
$('#empresaForm').find('[name="password"]').val('099.099.099.099');
$('#empresaForm').find('[name="confirmPassword"]').val('099.099.099.099');
*/
    </script>



</body>

</html>