
            <div class="modal fade">
                <div class="modal-dialog" style="width : 60%">
                    <div class="modal-content">
                    <form class="contatoForm">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Cadastro Contato</h4>
                        </div>
                        <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Nome</label>
                                                    <input type="text" class="form-control nome-socio"  ng-model="contato.nome" name="nome" placeholder="Nome" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                    <label for="exampleInputPassword1">Motivo</label>
                                                    <div class="row ">
                                                   <span class="ui-select">
                                                        <select ng-model="contato.motivoValue">
                                                            <option value="1">Cobrança</option>
                                                            <option value="2">Vendas</option>
                                                            <option value="3">Informações</option>
                                                            <option value="4">Promoções</option>
                                                            <option value="5">Sistema</option>
                                                            <option value="6">Parcerias</option>
                                                            <option value="7">Outras</option>
                                                        </select>
                                                    </span>
                                                 </div>
                                                        
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Telefone</label>
                                                    <input type="text" class="form-control nome-socio"  ng-model="contato.telefone" name="telefone" placeholder="(034)8888-9999" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Email</label>
                                                    <input type="text" class="form-control nome-socio" ng-model="contato.email" name="email" placeholder="email@email.com" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Assunto</label>
                                                    <input type="text" class="form-control nome-socio" ng-model="contato.assunto" name="assunto" placeholder="(034)8888-9999" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row " style="margin-top : 10px"></div>
                                    	<div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="exampleInputPassword1">Texto</label>
                                                <textarea class="form-control" ng-model="contato.texto" rows="5" name="texto" ></textarea>
                                            </div>
                                        </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit"  ng-click="saveContato()" class="btn btn-primary">Gravar</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
