<div class="modal fade">
    <div class="modal-dialog" style="width : 80%">
        <div class="modal-content">
            <form class="empresaForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cadastro Empresa</h4>
                </div>
                <div class="modal-body">
                    <form id="empresaForm">
                        <div class="col-sm-12">
                            <label for="exampleInputPassword1">Tipo de Empresa</label>
                            <dl class="dl-horizontal">
                                <dd>
                                    <label class="ui-radio"><input name="radio1" type="radio" ng-model="empresa.regime.id" value="1" checked ><span>Venda e Compra e prestação de serviço </span></label>
                                    <label class="ui-radio"><input name="radio1" type="radio" ng-model="empresa.regime.id" value="2" ><span>Clinica </span></label>
                                    <label class="ui-radio"><input name="radio1" type="radio" ng-model="empresa.regime.id" value="3" ><span>Escritorio Advocacia</span></label>

                                    <label class="ui-radio"><input name="radio1" type="radio" ng-model="empresa.regime.id" value="3" ><span>Condominio</span></label>

                                    <label class="ui-radio"><input name="radio1" type="radio" ng-model="empresa.regime.id" value="3" ><span>Escritorio Contabil</span></label>
                                </dd>
                            </dl>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="exampleInputPassword1">Sua Empresa Esta Ativa?</label>
                                <dl class="dl-horizontal">
                                    <dd>
                                        <label class="ui-radio"><input name="radio1" ng-model="empresa.statusInicial" type="radio" value="1" ><span>Sim</span></label>
                                        <label class="ui-radio"><input name="radio1" ng-model="empresa.statusInicial" type="radio" value="2" checked><span>Não</span></label>
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-sm-6">
                                <label for="exampleInputPassword1">Selecione o regime Tributario da Empresa</label>
                                <dl class="dl-horizontal">
                                    <dd>
                                        <label class="ui-radio"><input name="radio1" type="radio" ng-model="empresa.regime.id" value="1" checked ><span>Simples Nacional</span></label>
                                        <label class="ui-radio"><input name="radio1" type="radio" ng-model="empresa.regime.id" value="2" ><span>Lucro Real</span></label>
                                        <label class="ui-radio"><input name="radio1" type="radio" ng-model="empresa.regime.id" value="3" ><span>Lucro Presumido</span></label>
                                    </dd>
                                </dl>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="exampleInputEmail1">Nome ou Razão social</label>
                                <input type="text" ng-model="empresa.razao" name="razao" class="form-control" placeholder="Nome ou Razão social">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="exampleInputEmail1">Nome Fantasia</label>
                                <input type="text" ng-model="empresa.fantasia" name="fantasia" class="form-control" placeholder="Nome Fantasia">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label for="exampleInputEmail1">CNPJ</label>
                                <input type="text" ng-model="empresa.cnpj" name="cnpj" class="form-control" placeholder="Nº Cart. Trab">
                            </div>

                            <div class="form-group col-sm-3">
                                <label for="exampleInputEmail1">Inscr Est Subst Trib</label>
                                <input type="text" ng-model="empresa.incrEstSub" name="inscrEstSub" class="form-control" placeholder="Inscr Est Subst Trib">
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="exampleInputEmail1">Indicador de IE</label>
                                <div class="row">
                                    <select id="contatos_indIE" ng-model="empresa.indIE" class="select col-sm-12" name="indIE" autocomplete="off">
                                             <option value="0"></option>
                                             <option value="1">Contribuinte ICMS</option>
                                             <option value="2">Isento de cadastro</option>
                                             <option value="9">Não contribuinte</option>
                                        </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="exampleInputEmail1">Inscrição Estadual</label>
                                <input type="text" class="form-control" ng-model="empresa.incrEst" name="incrEst" placeholder="Inscrição Estadual">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label for="exampleInputEmail1">Inscrição Municipal</label>
                                <input type="text" class="form-control col-sm-3" ng-model="empresa.incrMun" name="incrMun" placeholder="Inscrição Municipal">
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="exampleInputEmail1">Inscrição Suframa</label>
                                <input type="text" class="form-control col-sm-3" ng-model="empresa.suframa" name="suframa" placeholder="Inscrição Suframa">
                            </div>

                            <div class="form-group col-sm-3">
                                <label for="exampleInputEmail1">Nome do responsável</label>
                                <input type="text" class="form-control col-sm-3" ng-model="empresa.responsavel" name="responsavel" placeholder="Nome do responsável">
                            </div>

                            <div class="form-group col-sm-3">
                                <label for="exampleInputEmail1">Data nascimento</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-mask="99/99/9999" placeholder="MM/DD/YYYY">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="exampleInputPassword1">CEP</label>
                                <div class="input-group">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="cep" ng-model="empresa.enderecos[0].cep">
                                    </div>
                                    <span class="input-group-btn">

                                             <button class="btn btn-default" type="button" ng-click="cc.buscaRCep('38082243')"><i class="glyphicon glyphicon-search"> </i></button>
                                         </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Logradouro</label>
                                    <input type="text" class="form-control col-sm-8" name="logradouro" ng-model="empresa.enderecos[0].logradouro" placeholder="Logradouro">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Numero</label>
                                    <input type="text" class="form-control col-sm-4" name="numero" ng-model="empresa.enderecos[0].numero" placeholder="Numero">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="exampleInputPassword1">Complemento</label>
                                <input type="text" class="form-control col-sm-8" name="complemento" ng-model="empresa.enderecos[0].complemento" placeholder="Complemento">
                            </div>
                            <div class="col-sm-2">
                                <label for="exampleInputPassword1">Bairro</label>
                                <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].bairro" placeholder="Bairro">
                            </div>
                            <div class="col-sm-2">
                                <label for="exampleInputPassword1">Estado</label>
                                <input type="text" class="form-control col-sm-8" ng-model="empresa.enderecos[0].estado.abreviacao" placeholder="Estado">
                            </div>
                            <div class="col-sm-2">
                                <label for="exampleInputPassword1">Municipio</label>
                                <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].cidade.nome" placeholder="Municipio">
                            </div>

                            <div class="col-sm-2">
                                <label for="exampleInputPassword1">Codigo IBGE</label>
                                <input type="text" class="form-control col-sm-4" ng-model="empresa.enderecos[0].codIbge" placeholder="Codigo IBGE">
                            </div>
                        </div>
                        <!-- -------------------  TELEFONE ----------------- -->
                        <div class="row">

                            <div class="col-sm-4">
                                <label for="exampleInputPassword1" class="control-label">Telefone</label>
                                <input type="text" class="form-control gugu" name="phone" data-mask="(99) 9999-9999" placeholder="(55) 1111-2222">
                            </div>

                            <div class="col-sm-4" style="margin-top:25px">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-top: 7px;">
                                    Adicionar
                                    <span class="caret"></span>
                                  </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="javascript:;" class="addPhoneButton">Residencial</a></li>
                                        <li><a href="javascript:;" class="addPhoneButton">Celular TIM</a></li>
                                        <li><a href="javascript:;" class="addPhoneButton">Celular OI</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="javascript:;" class="addPhoneButton">Outros</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- Template for dynamic field -->
                        <div class="row" id="template" style="display: none;">

                            <div class="col-sm-4">
                                <label for="exampleInputPassword1" class="control-label">Telefone</label>
                                <input type="text" class="form-control gugu" name="phone" data-mask="(99) 9999-9999" placeholder="(55) 1111-2222">
                            </div>

                            <div class="col-sm-4" style="margin-top:25px">
                                <button type="button" class="btn btn-link removeButton">deletar</button>
                            </div>

                        </div>

                        <!-- ------------------------------------- -->
                        <!-- ------------------------------------- -->

                        <!-- -------------------  Email Empresa ----------------- -->
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="exampleInputPassword1">Email</label>
                                <input type="text" class="form-control col-sm-4 input-email" name="email" placeholder="Email">
                            </div>
                            <div class="col-sm-4" style="margin-top:25px">

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-top: 7px;">
                                    Adicionar
                                    <span class="caret"></span>
                                  </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="javascript:;" class="addEmailButton">Principal</a></li>
                                        <li><a href="javascript:;" class="addEmailButton">NF-e</a></li>
                                        <li><a href="javascript:;" class="addEmailButton">Compras</a></li>
                                        <li><a href="javascript:;" class="addEmailButton">Vendas</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="javascript:;" class="addEmailButton">Outros</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Template for dynamic field -->
                        <div class="row" id="template-email" style="display: none;">
                            <div class="col-sm-4">
                                <label for="exampleInputPassword1" class="control-label">Email</label>
                                <input type="email" class="form-control col-sm-4 input-email" placeholder="Email">
                            </div>
                            <div class="col-sm-4" style="margin-top:25px">
                                <button type="button" class="btn btn-link removeButton">deletar</button>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-6">
                                <label for="exampleInputPassword1">Atividade Principal da Filial</label>
                                <div class="row">
                                    <select id="atividade1" name="atividade1" class="select col-sm-12">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label for="exampleInputPassword1">Atividade Secundaria da Filial</label>
                                <div class="row">
                                    <select id="atividade2" name="atividade2" class="select col-sm-12">
                                    </select>



                                </div>
                            </div>
                            <button type="button" class="btn btn-default addButton1"><i class="fa fa-plus"></i></button>

                        </div>
                        <div class="row">
                            <div class="form-group hide" id="bookTemplate1">
                                <div class="col-sm-6">
                                    <label for="exampleInputPassword1">Outras Atividades</label>
                                    <div class="row">
                                        <select id="atividade3" name="atividade3" class="col-sm-10">

                                                    </select>
                                    </div>

                                    <div class="col-xs-1">
                                        <button type="button" class="btn btn-default removeButton1"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row " style="margin-top : 10px"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Plano</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row socios">
                                    <div class="col-sm-5">
                                        <label for="exampleInputPassword1">Plano</label>
                                        <div class="row ">
                                            <select name="book[0].produto" class="col-sm-12">
												<option value="0">1010 - Coca Cola 1LT</option>
												<option value="1">1011 - Coca Cola 1.5LT</option>
												<option value="2">Cadastrar novo Produto</option>
											</select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Valor</label>
                                            <input type="text" class="form-control cota-socio" name="book[0].vlUnitario" placeholder="R$0,00" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Desconto</label>
                                            <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" />
                                        </div>
                                    </div>
                                    <div class="col-xs-1" style="margin-top:18px">
                                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="form-group hide" id="bookTemplate">
                                    <div class="row socios">
                                        <div class="col-sm-5">
                                            <label for="exampleInputPassword1">Plano</label>
                                            <div class="row ">
                                                <select name="book[0].produto" class="col-sm-12">
												<option value="0">1010 - Coca Cola 1LT</option>
												<option value="1">1011 - Coca Cola 1.5LT</option>
												<option value="2">Cadastrar novo Produto</option>
											</select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Valor</label>
                                                <input type="text" class="form-control cota-socio" name="book[0].vlUnitario" placeholder="R$0,00" />
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Desconto</label>
                                                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" />
                                            </div>
                                        </div>
                                        <div class="col-xs-1" style="margin-top:18px">
                                            <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row " style="margin-top : 10px"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Serviço</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row socios">
                                    <div class="col-sm-5">
                                        <label for="exampleInputPassword1">Serviço</label>
                                        <div class="row ">
                                            <select name="book[0].produto" class="col-sm-12">
												<option value="0">1010 - Coca Cola 1LT</option>
												<option value="1">1011 - Coca Cola 1.5LT</option>
												<option value="2">Cadastrar novo Produto</option>
											</select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Valor</label>
                                            <input type="text" class="form-control cota-socio" name="book[0].vlUnitario" placeholder="R$0,00" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Desconto</label>
                                            <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" />
                                        </div>
                                    </div>
                                    <div class="col-xs-1" style="margin-top:18px">
                                        <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="form-group hide" id="bookTemplate">
                                    <div class="row socios">
                                        <div class="col-sm-5">
                                            <label for="exampleInputPassword1">Plano</label>
                                            <div class="row ">
                                                <select name="book[0].produto" class="col-sm-12">
												<option value="0">1010 - Coca Cola 1LT</option>
												<option value="1">1011 - Coca Cola 1.5LT</option>
												<option value="2">Cadastrar novo Produto</option>
											</select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Valor</label>
                                                <input type="text" class="form-control cota-socio" name="book[0].vlUnitario" placeholder="R$0,00" />
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Desconto</label>
                                                <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" />
                                            </div>
                                        </div>
                                        <div class="col-xs-1" style="margin-top:18px">
                                            <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row " style="margin-top : 10px"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Anexar Arquivo</h3>
                            </div>
                            <div class="panel-body">
                                <h4>Multi Language Inputs</h4>
                                <!--<form enctype="multipart/form-data"> -->
                                <label>French Input</label>
                                <input id="file-fr" name="file-fr[]" type="file" multiple>
                                <hr style="border: 2px dotted">
                                <label>Spanish Input</label>
                                <input id="file-es" name="file-es[]" type="file" multiple>
                                <!--</form> -->


                            </div>
                        </div>
                </div>

        </div>
        <div class="modal-footer">
            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
        </div>

        </form>
    </div>
</div>
<script>
    $('#file-fr').fileinput({
        language: 'fr',
        uploadUrl: '#',
        allowedFileExtensions: ['jpg', 'png', 'gif'],
    });
    $('#file-es').fileinput({
        language: 'es',
        uploadUrl: '#',
        allowedFileExtensions: ['jpg', 'png', 'gif'],
    });
    $("#file-0").fileinput({
        'allowedFileExtensions': ['jpg', 'png', 'gif'],
    });
    $("#file-1").fileinput({
        uploadUrl: '#', // you must set a valid URL here else you will get an error
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        overwriteInitial: false,
        maxFileSize: 1000,
        maxFilesNum: 10,
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function(filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
    /*
    $(".file").on('fileselect', function(event, n, l) {
        alert('File Selected. Name: ' + l + ', Num: ' + n);
    });
    */
    $("#file-3").fileinput({
        showUpload: false,
        showCaption: false,
        browseClass: "btn btn-primary btn-lg",
        fileType: "any",
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"
    });
    $("#file-4").fileinput({
        uploadExtraData: {
            kvId: '10'
        }
    });
    $(".btn-warning").on('click', function() {
        if ($('#file-4').attr('disabled')) {
            $('#file-4').fileinput('enable');
        } else {
            $('#file-4').fileinput('disable');
        }
    });
    $(".btn-info").on('click', function() {
        $('#file-4').fileinput('refresh', {
            previewClass: 'bg-info'
        });
    });
    /*
    $('#file-4').on('fileselectnone', function() {
        alert('Huh! You selected no files.');
    });
    $('#file-4').on('filebrowse', function() {
        alert('File browse clicked for #file-4');
    });
    */
    $(document).ready(function() {


        $("#test-upload").fileinput({
            'showPreview': false,
            'allowedFileExtensions': ['jpg', 'png', 'gif'],
            'elErrorContainer': '#errorBlock'
        });
    });
</script>