<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form ng-submit="submit()" class="cadEmpresaForm" id="cadEmpresaForm">

                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cadastro Empresa</h4>
                </div>
                <div class="modal-body">
                    <div class="container1" ng-app ng-init="tabs=4">
                        <ul class="tabs-nav">
                            <li><a ng-click="tabs=4" ng-class="{'active' : tabs==4}">Dados Empresa</a></li>
                            <li><a ng-click="tabs=5" ng-class="{'active' : tabs==5}">Plano/Serviço</a></li>
                            <li><a ng-click="tabs=6" ng-class="{'active' : tabs==6}">Arquivos</a></li>
                            <li><a ng-click="tabs=7" ng-class="{'active' : tabs==7}">Configuração</a></li>
                        </ul>
                        <div class="tabs-container1">
                            <div class="tab-content1" ng-show="tabs == 4">
                                <!-- Cadastro Empresa -->
                                <div ng-include="'views/empresa/apps/cadEmpresa.html'"></div>

                                <!-- email -->
                                <div ng-include="'views/util/apps/endereco.html'"></div>

                                <!-- telefone -->
                                <div ng-include="'views/util/apps/telefone.html'"></div>


                                <!-- email -->
                                <div ng-include="'views/util/apps/email.html'"></div>


                                <!-- Cnae -->
                                <div ng-include="'views/util/apps/cnae.html'"></div>
                            </div>
                            <div class="tab-content1" ng-show="tabs == 5">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Plano</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row socios">
                                            <div class="col-sm-5">
                                                <label for="exampleInputPassword1">Plano</label>
                                                <div class="row ">
                                                    <select id="plano" name="book[0].plano" class=" select col-sm-12">
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Valor</label>
                                                    <input type="text" class="form-control cota-socio" name="book[0].vlUnitario" placeholder="R$0,00" />
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Desconto</label>
                                                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" />
                                                </div>
                                            </div>
                                            <div class="col-xs-1" style="margin-top:18px">
                                                <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="form-group hide" id="bookTemplate">
                                            <div class="row socios">
                                                <div class="col-sm-5">
                                                    <label for="exampleInputPassword1">Plano</label>
                                                    <div class="row ">
                                                        <select id="book[0].plano" name="book[0].produto" class="col-sm-12">

                                                            </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Valor</label>
                                                        <input type="text" class="form-control cota-socio" name="book[0].vlUnitario" placeholder="R$0,00" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Desconto</label>
                                                        <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-1" style="margin-top:18px">
                                                    <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row " style="margin-top : 10px"></div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Serviço</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row socios">
                                            <div class="col-sm-5">
                                                <label for="exampleInputPassword1">Serviço</label>
                                                <div class="row ">
                                                    <select name="book[0].produto" class="col-sm-12">
                                                <option value="0">1010 - Coca Cola 1LT</option>
                                                <option value="1">1011 - Coca Cola 1.5LT</option>
                                                <option value="2">Cadastrar novo Produto</option>
                                            </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Valor</label>
                                                    <input type="text" class="form-control cota-socio" name="book[0].vlUnitario" placeholder="R$0,00" />
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Desconto</label>
                                                    <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" />
                                                </div>
                                            </div>
                                            <div class="col-xs-1" style="margin-top:18px">
                                                <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="form-group hide" id="bookTemplate">
                                            <div class="row socios">
                                                <div class="col-sm-5">
                                                    <label for="exampleInputPassword1">Plano</label>
                                                    <div class="row ">
                                                        <select name="book[0].produto" class="col-sm-12">
                                                <option value="0">1010 - Coca Cola 1LT</option>
                                                <option value="1">1011 - Coca Cola 1.5LT</option>
                                                <option value="2">Cadastrar novo Produto</option>
                                            </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Valor</label>
                                                        <input type="text" class="form-control cota-socio" name="book[0].vlUnitario" placeholder="R$0,00" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Desconto</label>
                                                        <input type="text" class="form-control cota-socio" name="book[0].desconto" placeholder="R$0,00" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-1" style="margin-top:18px">
                                                    <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content1" ng-show="tabs == 6">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Anexar Arquivo</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h4>Multi Language Inputs</h4>
                                        <!--<form enctype="multipart/form-data"> -->
                                        <label>French Input</label>
                                        <input id="file-fr" name="file-fr[]" type="file" multiple>
                                        <hr style="border: 2px dotted">
                                        <label>Spanish Input</label>
                                        <input id="file-es" name="file-es[]" type="file" multiple>
                                        <!--</form> -->


                                    </div>
                                </div>
                            </div>
                            <div class="tab-content1" ng-show="tabs == 7">

                                <div ng-include="'views/empresa/apps/configuracaoEmpresa.html'"></div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" ng-click="submit()" id="validateButton" class="btn btn-primary" data-dismiss="modal">Gravar</button>
                    </div>
            </form>
            </div>
        </div>
    </div>


    <script>
        $('#file-fr').fileinput({
            language: 'fr',
            uploadUrl: '#',
            allowedFileExtensions: ['jpg', 'png', 'gif'],
        });
        $('#file-es').fileinput({
            language: 'es',
            uploadUrl: '#',
            allowedFileExtensions: ['jpg', 'png', 'gif'],
        });
        $("#file-0").fileinput({
            'allowedFileExtensions': ['jpg', 'png', 'gif'],
        });
        $("#file-1").fileinput({
            uploadUrl: '#', // you must set a valid URL here else you will get an error
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            overwriteInitial: false,
            maxFileSize: 1000,
            maxFilesNum: 10,
            //allowedFileTypes: ['image', 'video', 'flash'],
            slugCallback: function(filename) {
                return filename.replace('(', '_').replace(']', '_');
            }
        });
        /*
        $(".file").on('fileselect', function(event, n, l) {
            alert('File Selected. Name: ' + l + ', Num: ' + n);
        });
        */
        $("#file-3").fileinput({
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-primary btn-lg",
            fileType: "any",
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"
        });
        $("#file-4").fileinput({
            uploadExtraData: {
                kvId: '10'
            }
        });
        $(".btn-warning").on('click', function() {
            if ($('#file-4').attr('disabled')) {
                $('#file-4').fileinput('enable');
            } else {
                $('#file-4').fileinput('disable');
            }
        });
        $(".btn-info").on('click', function() {
            $('#file-4').fileinput('refresh', {
                previewClass: 'bg-info'
            });
        });
        /*
        $('#file-4').on('fileselectnone', function() {
            alert('Huh! You selected no files.');
        });
        $('#file-4').on('filebrowse', function() {
            alert('File browse clicked for #file-4');
        });
        */
        $(document).ready(function() {


            $("#test-upload").fileinput({
                'showPreview': false,
                'allowedFileExtensions': ['jpg', 'png', 'gif'],
                'elErrorContainer': '#errorBlock'
            });

            $('.selectpicker').selectpicker({});


            $('.cadEmpresaForm:eq(1)')
                .formValidation({
                    framework: 'bootstrap',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {

                        nome: notEmptyStringMinMax,
                        nunFunc: integerNotEmptyValidation,
                        razao: notEmptyStringMinMax,
                        logradouro: notEmptyStringMinMax,
                        cpf: notEmptyStringMinMaxRegexp,
                        cep: notEmptyStringMinMax,
                        cnpj: notEmptyStringMinMax,
                        email: emailValidation,
                        telefone: telefoneValidation,
                        phone: telefoneValidation,
                        cep: cepNotEmptyValidation,
                        password: {
                            validators: {
                                notEmpty: {
                                    message: 'The password is required and can\'t be empty'
                                }
                            }
                        },
                        confirmPassword: {
                            validators: {
                                notEmpty: {
                                    message: 'The confirm password is required and can\'t be empty'
                                },
                                identical: {
                                    field: 'password',
                                    message: 'The password and its confirm are not the same'
                                }
                            }
                        }

                    }
                })

$('.cadEmpresaForm:eq(1)').find('[name="fantasia"]').val('wlclimaco software');


//Tab 2
$('.cadEmpresaForm:eq(1)').find('[name="cnpj"]').val('099.099.099.099');
$('.cadEmpresaForm:eq(1)').find('[name="numfunc"]').val('8');
$('.cadEmpresaForm:eq(1)').find('[name="razao"]').val('34988406670');
$('.cadEmpresaForm:eq(1)').find('[name="cep"]').val('38082243');
$('.cadEmpresaForm:eq(1)').find('[name="numero"]').val('686');
$('.cadEmpresaForm:eq(1)').find('[name="complemento"]').val('complemento');
$('.cadEmpresaForm:eq(1)').find('[name="logradouro"]').val('logradouro');
$('.cadEmpresaForm:eq(1)').find('[name="book[0].nome"]').val('joao das coves');
$('.cadEmpresaForm:eq(1)').find('[name="book[0].cpf"]').val('05790167659');
$('.cadEmpresaForm:eq(1)').find('[name="book[0].cpf"]').val('10');

        });
    </script>