    <div class="container">
            <div class="modal fade">
                <div class="modal-dialog" style="width : 60%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Responder</h4>
                        </div>
                        <div class="modal-body">
                            <form id="empresaForm">
                                <div class="row">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Nome</label>
                                                    <input type="text" class="form-control nome-socio" name="book[0].quantidade" placeholder="Nome" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Telefone</label>
                                                    <input type="text" class="form-control nome-socio" name="book[0].quantidade" placeholder="(034)8888-9999" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Email</label>
                                                    <input type="text" class="form-control nome-socio" name="book[0].quantidade" placeholder="email@email.com" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Assunto</label>
                                                    <input type="text" class="form-control nome-socio" name="book[0].quantidade" placeholder="(034)8888-9999" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row " style="margin-top : 10px"></div>                             
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label for="exampleInputPassword1">Resposta</label>
                                                <textarea class="form-control" rows="5" id="Observação"></textarea>
                                            </div>
                                        </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Gravar</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>