<div class="modal fade">
    <div class="modal-dialog" style="width : 60%">
        <div class="modal-content">
            <form class="socioForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Cadastro Socio</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="exampleInputEmail1">Nome</label>
                            <input type="text" id='nome' class="form-control" ng-model="socio.pessoa.nome" name="nome" placeholder="Nome">
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="exampleInputEmail1">CPF</label>
                            <input type="text" id='nome' class="form-control" ng-model="socio.pessoa.documentos[0].numero" name="nome" placeholder="CPF">
                            <input type="text" id='nome' class="form-control hide" ng-model="socio.pessoa.documentos[0].documentoTypeEnumValue" value="2" name="nome" placeholder="CPF">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" id='email' class="form-control" ng-model="socio.pessoa.emails[0].email" name="email" placeholder="Url">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="exampleInputEmail1">Telefone</label>
                            <input type="text" id='telefone' class="form-control" ng-model="socio.pessoa.telefones[0].numero" name="telefone" placeholder="(99) 9999-9999">
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="exampleInputEmail1">Porcentagem</label>
                            <div class="input-group">
                                <span class="input-group-addon">%</span>
                                <input type="text" class="form-control" ng-model="socio.porcentagem" >
                                <span class="input-group-addon">,00</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                             <label for="exampleInputEmail1">Data Retirada Prolabore</label>
                            <div class="input-group ui-datepicker">
                                <input type="text" class="form-control" uib-datepicker-popup="DD/MM/YYYY"  is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-model="socio.dataProlabore">
                                <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="exampleInputEmail1">Valor Prolabore</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" ng-model="socio.valorProlabore">
                                <span class="input-group-addon">,00</span>
                            </div>
                        </div>
                        <div class="col-sm-3" style="margin-top:18px">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"  ng-model="socio.socioAdm" class="check-socio" ng-true-value="'1'" ng-false-value="'0'" /> Socio Administrador ?
                                </label>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" ng-click="saveSociod()" class="btn btn-primary" data-dismiss="modal">Gravar</button>
                </div>
            </form>
        </div>
    </div>
</div>