<div class="content">
    <div class="container">
        <script type="text/javascript" src="https://app.4clinics.software/skin/home/app_theme/js/validate.min.js"></script>
        <script type="text/javascript" src="https://app.4clinics.software/skin/default/plugins/forms/inputmask.js"></script>
        <script type="text/javascript" src="https://app.4clinics.software/skin/home/app_theme/js/beneficiario.js"></script>
        <script type="text/javascript" src="https://app.4clinics.software/skin/home/app_theme/js/dropzone.js"></script>
        <script type="text/javascript" src="https://app.4clinics.software/skin/home/app_theme/js/cropper.min.js"></script>
        <link rel="stylesheet" href="https://app.4clinics.software/skin/home/app_theme/css/cropper.min.css">
        <style type="text/css">
            .form-group label.error {
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            }
            .form-group label.error {
            margin-top: 6px;
            margin-bottom: 0;
            color: #fff;
            background-color: #FA8C80;
            padding: 5px 8px;
            font-size: 11px;
            font-weight: 600;
            line-height: 14px;
            }
            .form-group a,
            .form-group a:hover,
            .form-group a:focus,
            .form-group a:active{
            color: #0571c4;
            outline: 0 none;                                    
            }
            .dropzone{
            min-height: 240px;
            cursor: pointer;
            padding: 1px;
            }
            .dropzone i{
            display: block;
            position: absolute;
            z-index: 9;
            left: 18px;
            font-size: 20px;
            color: gray;
            padding: 0px 5px;
            }
            .dropzone .dz-message{
            cursor: pointer;
            margin: 8em 1em;
            }
            .dropzone .dz-preview, .dropzone .dz-processing, .dropzone .dz-image-preview, .dropzone .dz-success, .dropzone .dz-complete{
            display: none;
            }
            #video{
            width: 100%;
            height: auto;
            }
            #photo{
            width: 100%;
            height: auto;
            }
            #img_beneficiario{
            width: 210px;
            height: 210px;
            margin-left: -21px;
            margin-top: -5px;
            }
            .img_preview{
            overflow: hidden;
            }
        </style>
        <!-- MODAL GERAL INICIO -->
        <button id="btnModalGeral" style="display: none;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalGeral">Open Modal</button>
        <!-- Modal -->    
        <div class="modal fade" id="myModalGeral" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body"></div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <!-- MODAL GERAL FIM -->
        <!-- MODAL GERAL 2 INICIO -->
        <button id="btnModalGeral2" style="display: none;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalGeral2">Open Modal</button>
        <!-- Modal -->    
        <div class="modal fade" id="myModalGeral2" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body"></div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <!-- MODAL GERAL 2 FIM -->
        <!-- MODAL IMAGEM -->
        <button id="btnModalImagem" style="display: none;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalImagem">Open Modal</button>
        <!-- Modal -->    
        <div class="modal fade" id="myModalImagem" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content" style="width: 550px;">
                    <div class="modal-header">Captura de imagem:</div>
                    <div class="modal-body">
                        <div class="left" style="width: 320px; height: 240px; border: 1px solid #000;margin: 0px auto 20px;">
                            <video id="video"></video>
                            <canvas id="canvas" style="display: none;"></canvas>
                        </div>
                        <div class="clear" style="clear: both;"></div>
                        <div class="left_" style="float: left;margin-right: 20px">
                            <p style="margin-left: 20px;">Veja aqui:</p>
                            <div class="right" style="width: 210px; height: 220px; border: 1px solid #000;margin: 0px 20px;">
                                <img id="photo" style="display: none;">
                            </div>
                        </div>
                        <div class="right_" style="float: left;">
                            <p>Recorte:</p>
                            <div class="img_preview" style="width: 210px; height: 220px; border: 1px solid #000;margin: 0px auto;">
                                <img id="photo_preview" style="display: none;">
                            </div>
                        </div>
                        <div class="clear" style="clear: both;"></div>
                    </div>
                    <div class="modal-footer">
                        <button id="tirarfoto" class="btn btn-success pull-left">Tirar Foto</button>
                        <button class="btn btn-info pull-right" data-dismiss="modal" onclick="usar_foto()">Usar foto</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL IMAGEM -->
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet portlet-boxed">
                    <div class="portlet-header_rev">
                        <h4 class="portlet-title">
                            <u>
                                <i class="fa fa-edit fa_rev"></i>
                                <spam class="painel-fonte-titulo_rev"> Cadastro de Pacientes - Identificador: 0000000</spam>
                            </u>
                        </h4>
                    </div>
                    <div class="portlet-body">
                        <div class="col-md-3">
                            <h5>Foto do Paciente</h5>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 210px; height: 220px;">
                                    <img src="" alt="" id="img_beneficiario" style="display: none;">
                                    <form action="https://app.4clinics.software/beneficiario/envio_imagem" class="dropzone dz-clickable" id="my-awesome-dropzone">
                                        <i class="fa fa-trash-o" style="display:none !important"></i>
                                        <div class="dz-default dz-message" style="margin:8em 1em"><span style="display:block">Arraste a imagem aqui ou clique aqui</span></div>
                                    </form>
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 210px; max-height: 220px;"></div>
                            </div>
                            <button class="btn btn-success" data-toggle="modal" data-target="#myModalImagem" style="margin-bottom: 20px; width: 85%;">Tirar foto</button>
                        </div>
                        <!-- /.col-->
                        <form action="https://app.4clinics.software/beneficiario/cadastro" id="formDados" method="post" accept-charset="utf-8" novalidate="novalidate">
                            <input type="hidden" name="id_beneficiarios" value="">
                            <div class="form-group col-sm-7" style="padding-left: 0;">
                                <label for="ben_nome">Nome Completo<span class="text-danger">*</span></label>
                                <input type="text" name="ben_nome" value="" id="ben_nome" class="form-control input-sm" onblur="this.value=this.value.toUpperCase();" maxlength="100">
                            </div>
                            <div class="form-group col-sm-2" style="padding-left: 0;">
                                <label for="ben_cpf">CPF</label>
                                <input type="text" name="ben_cpf" value="" id="ben_cpf" data-mask="999.999.999-99" class="form-control input-sm valid" onblur="validatePessoa();">
                            </div>
                            <div class="form-group col-sm-3" style="padding-left: 0;">
                                <label for="id_aux_estado_civil">Estado Civíl <span class="text-danger">*</span></label>
                                <select name="id_aux_estado_civil" id="id_aux_estado_civil" class="form-control input-sm">
                                    <option value="0">Selecione ---</option>
                                    <option value="1">1 - Solteiro</option>
                                    <option value="2">2 - Casado</option>
                                    <option value="3">3 - Divorciado/Separado</option>
                                    <option value="4">4 - Viúvo</option>
                                    <option value="5">5 - Outro</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2" style="padding-left: 0;">
                                <label for="id_aux_sexo">Sexo <span class="text-danger">*</span></label>
                                <select name="id_aux_sexo" id="id_aux_sexo" class="form-control input-sm">
                                    <option value="0">Selecione ---</option>
                                    <option value="3">3 - Feminino</option>
                                    <option value="1">1 - Masculino</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2" style="padding-left: 0;">
                                <label for="ben_telefone">Telefone </label>
                                <input type="text" name="ben_telefone" value="" id="ben_telefone" class="form-control input-sm telMask" maxlength="10">
                            </div>
                            <div class="form-group col-sm-2" style="padding-left: 0;">
                                <label for="ben_telefone_celular">Telefone Celular<span class="text-danger">*</span></label>
                                <input type="text" name="ben_telefone_celular" value="" id="ben_telefone_celular" class="form-control input-sm telMask" maxlength="11">
                            </div>
                            <div class="form-group col-sm-2" style="padding-left: 0;">
                                <label for="ben_data_nascimento">Data de Nascimento <span class="text-danger">*</span></label>
                                <div id="ben_data_nascimento_datepicker" class="input-group date">
                                    <input type="text" name="ben_data_nascimento" value="" id="ben_data_nascimento" class="form-control input-sm calendar hasDatepicker" data-mask="99/99/9999">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-7" style="padding-left: 0;">
                                <label for="ben_email">E-Mail</label>
                                <input type="text" name="ben_email" value="" id="ben_email" class="form-control input-sm">
                            </div>
                            <div class="form-group col-sm-4" style="padding-left: 0;">
                                <label for="id_aux_documento_identificacao">Documento de identificação</label>
                                <select name="id_aux_documento_identificacao" id="id_aux_documento_identificacao" class="form-control input-sm">
                                    <option value="0">Selecione ---</option>
                                    <option value="1">1 - RG - Carteira de Identidade</option>
                                    <option value="2">2 - CNH - Carteira Nacional de Habilitação</option>
                                    <option value="3">3 - Certificado de Reservista</option>
                                    <option value="4">4 - Carteira de Trabalho</option>
                                    <option value="5">5 - Identidade Profissional com foto</option>
                                    <option value="6">6 - Passaporte</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3" style="padding-left: 0;">
                                <label for="ben_numero_documento_identificacao">Número Documento</label>
                                <input type="text" name="ben_numero_documento_identificacao" value="" id="ben_numero_documento_identificacao" class="form-control input-sm">
                            </div>
                            <div class="clearfix"></div>
                            <div class="heading-block">
                                <h4>
                                    Endereço
                                </h4>
                            </div>
                            <div class="form-group col-sm-2" style="padding-left: 0;">
                                <label for="ben_endereco_cep">CEP</label>
                                <input type="hidden" name="emp_cep_confirm" value="">
                                <input type="text" name="ben_endereco_cep" value="" id="ben_endereco_cep" class="form-control input-sm" onkeyup="getEndereco('ben_');" autocomplete="off" data-mask="99999-999">
                            </div>
                            <div class="form-group col-sm-3" style="padding-left: 0;">
                                <label for="ben_cep"></label>
                                <small>
                                    <div id="ben_cep_status" style="margin-top: 3px; padding: 5px;"></div>
                                </small>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-sm-7" style="padding-left: 0;">
                                <label for="ben_endereco">Endereço</label>
                                <input type="text" name="ben_endereco" value="" id="ben_endereco" class="form-control input-sm" placeholder="Informe o CEP">
                            </div>
                            <div class="form-group col-sm-2" style="padding-left: 0;">
                                <label for="ben_endereco_numero">Número</label>
                                <input type="text" name="ben_endereco_numero" value="" id="ben_endereco_numero" class="form-control input-sm">
                            </div>
                            <div class="form-group col-sm-3" style="padding-left: 0;">
                                <label for="ben_endereco_complemento">Complemento</label>
                                <input type="text" name="ben_endereco_complemento" value="" id="ben_endereco_complemento" class="form-control input-sm">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-sm-4" style="padding-left: 0;">
                                <label for="ben_endereco_bairro">Bairro</label>
                                <input type="text" name="ben_endereco_bairro" value="" id="ben_endereco_bairro" class="form-control input-sm" placeholder="Informe o CEP">
                            </div>
                            <div class="form-group col-sm-4" style="padding-left: 0;">
                                <label for="ben_endereco_municipio">Cidade</label>
                                <input type="text" name="ben_endereco_municipio" value="" id="ben_endereco_municipio" class="form-control input-sm" placeholder="Informe o CEP">
                            </div>
                            <div class="form-group col-sm-2" style="padding-left: 0;">
                                <label for="id_aux_uf">Estado</label>
                                <select name="id_aux_uf" id="id_aux_uf" class="form-control input-sm">
                                    <option value="0">Selecione ---</option>
                                    <option value="12">AC - Acre</option>
                                    <option value="27">AL - Alagoas</option>
                                    <option value="13">AM - Amazonas</option>
                                    <option value="16">AP - Amapa</option>
                                    <option value="29">BA - Bahia</option>
                                    <option value="23">CE - Ceara</option>
                                    <option value="53">DF - Distrito federal</option>
                                    <option value="32">ES - Espirito santo</option>
                                    <option value="98">EX - Pais estrangeiro</option>
                                    <option value="52">GO - Goias</option>
                                    <option value="21">MA - Maranhão</option>
                                    <option value="31">MG - Minas gerais</option>
                                    <option value="50">MS - Mato grosso do sul</option>
                                    <option value="51">MT - Mato grosso</option>
                                    <option value="15">PA - Pará</option>
                                    <option value="25">PB - Paraiba</option>
                                    <option value="26">PE - Pernanbuco</option>
                                    <option value="22">PI - Piaui</option>
                                    <option value="41">PR - Paraná</option>
                                    <option value="33">RJ - Rio de janeiro</option>
                                    <option value="24">RN - Rio grande do norte</option>
                                    <option value="11">RO - Rondonia</option>
                                    <option value="14">RR - Roraima</option>
                                    <option value="43">RS - Rio grande do sul</option>
                                    <option value="42">SC - Santa catarina</option>
                                    <option value="28">SE - Sergipe</option>
                                    <option value="34">SP - São paulo</option>
                                    <option value="17">TO - Tocantins</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2" style="padding-left: 0;">
                                <label for="ben_numero_cartao_saude">Número da CNS</label>
                                <input type="text" name="ben_numero_cartao_saude" value="" id="ben_numero_cartao_saude" class="form-control input-sm" data-mask="9999999">
                            </div>
                            <div class="clearfix"></div>
                            <div class="heading-block">
                                <h4>
                                    Dados Complementares
                                </h4>
                            </div>
                            <div class="form-group col-sm-5 style=" padding-left:="" 0;"="">
                            <label for="id_aux_cbo">Profissão (CBO)</label>                 
                            <input type="hidden" name="id_aux_cbo" value="" id="id_aux_cbo">
                            <div class="select2-container form-control input-sm" id="s2id_descricao_cbo"><a href="javascript:void(0)" class="select2-choice select2-default" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-1">Buscar...</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen1" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-1" id="s2id_autogen1"></div>
                            <input type="text" name="descricao_cbo" value="" id="descricao_cbo" class="form-control input-sm" tabindex="-1" title="" style="display: none;">
                    </div>
                    <div class="form-group col-sm-2" style="padding-left: 0;">
                    <label for="id_aux_cor">Cor</label>
                    <select name="id_aux_cor" id="id_aux_cor" class="form-control input-sm">
                    <option value="0">Selecione ---</option>
                    <option value="1">1 - Branca</option>
                    <option value="2">2 - Preta</option>
                    <option value="3">3 - Amarela</option>
                    <option value="4">4 - Parda</option>
                    <option value="5">5 - Negra</option>
                    </select>
                    </div>               
                    <div class="form-group col-sm-3" style="padding-left: 0;">
                    </div>
                    <div class="form-group col-sm-2" style="padding-left: 0;">
                    <label for="ben_ficha_papel">Ficha</label>
                    <input type="text" name="ben_ficha_papel" value="" id="ben_ficha_papel" class="form-control input-sm">
                    </div>
                    <div class="clearfix"></div>
                    <div class="heading-block">
                    <h4>
                    Cadastro nos Convênios/Planos de Saúde
                    </h4>
                    </div>
                    <div>
                    <div>
                    <table class="table table-striped table-bordered table-hover ui-datatable">
                    <thead>
                    <tr>
                    <th width="30%">Operadora</th>
                    <th class="text-left">Número da Carteira</th>
                    <th class="text-left">Data de Validade</th>
                    <th class="text-left">Plano</th>
                    <th class="text-left">Empresa</th>
                    <th class="text-left">Titular do plano</th>
                    <th></th>
                    </tr>
                    </thead>
                    <tbody id="codigo_na_operadora">
                    </tbody>                            
                    </table>
                    </div>
                    </div>
                    <input type="hidden" name="user_empresa_id" value="286">
                    <div id="codigo_na_operadora_data" class="bg-color-gray2">
                    <div class="form-group col-sm-5">
                    <label>Operadora</label>
                    <select name="id_operadoras_data" id="id_operadoras_data" class="form-control input-sm">
                    <option value="0">Selecione ---</option>
                    </select>
                    </div>
                    <div class="form-group col-sm-3">
                    <label>Número da Carteira</label>
                    <input type="text" name="codigo_na_operadora_data" value="" id="codigo_na_operadora_data" class="form-control input-sm">
                    </div>
                    <div class="form-group col-sm-2">
                    <label>Data de Validade</label>
                    <div id="opc_data_validade_datepicker_data" class="input-group date">
                    <input type="text" name="opc_data_validade_data" value="" id="opc_data_validade_data" class="form-control input-sm calendar hasDatepicker" data-mask="99/99/9999">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                    </div>
                    <div class="clearfix mt-lg"></div>
                    <div class="form-group col-sm-3">
                    <label>Nome do Plano</label>
                    <input type="text" name="plano_data" value="" id="plano_data" class="form-control input-sm">
                    </div>
                    <div class="form-group col-sm-3">
                    <label>Empresa (se empresarial)</label>
                    <input type="text" name="empresa_data" value="" id="empresa_data" class="form-control input-sm">
                    </div>
                    <div class="form-group col-sm-3">
                    <label>Titular do Plano (se empresarial)</label>
                    <input type="text" name="nome_titular_plano_data" value="" id="nome_titular_plano_data" class="form-control input-sm">
                    </div>
                    <div class="col-sm-2" style="margin-top:20px;">
                    <button type="button" class="btn btn-info pull-left" onclick="addCodigoOperadora();">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp; 
                    Adicionar Convênio
                    </button>
                    </div>
                    </div>
                    <div class="clearfix" style="margin-bottom: 30px;"></div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-12" style="padding-left: 0;">
                    <label for="ben_observacao">Observação</label>
                    <textarea name="ben_observacao" cols="40" rows="2" id="ben_observacao" class="form-control input-sm"></textarea>
                    </div>
                    <div class="form-group col-sm-12" style="padding-left: 0;">
                    <button type="submit" style="margin-left: 10px;" id="btn_submit" class="btn btn-info pull-right">Gravar Informações do Paciente</button>
                    <button type="button" onclick="window.location='https://app.4clinics.software/beneficiario/listar'" style="margin-left: 10px;" class="btn btn-default pull-right">Cancelar</button>
                    </div>
                    <div class="clearfix"></div>
                    </form>            
                </div>
            </div>
        </div>
    </div>
    <script src="https://app.4clinics.software/skin/home/app_theme/js/select2/select2.min.js"></script>
    <script src="https://app.4clinics.software/skin/home/app_theme/js/select2/select2_pt_br.js"></script>
    <script type="text/javascript">
        var HTTPS_ROOT = 'https://app.4clinics.software/';
        var PATH_IMG = 'https://app.4clinics.software/skin/home/app_theme/images';
        var remove_codigo = 'https://app.4clinics.software/beneficiario/removerCodigoOperadora';
        
           $(function () {
           
            $('#ben_endereco_cep').unbind(".mask").removeData("inputmask").inputmask({mask: '99999-999'});
            setTimeout(function(){
                abrir_imagem();
            }, 200);
            
            $('#my-awesome-dropzone i').click(function(){
                $('#myModalGeral .modal-header').html('<button type="button" class="close" data-dismiss="modal">&times;</button> <h4 class="modal-title">Exclusão de Foto:</h4>');
                $('#myModalGeral .modal-body').html('<p>Deseja realmente remover a foto?</p>');
                $('#myModalGeral .modal-footer').html('<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button><button type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="removerImagem()">Sim</button>');
                $('#btnModalGeral').trigger('click');
            });
        
               $('#formDados').validate({
        
                   rules: {
                       ben_nome: {
                           required: true,
                       },
                       id_aux_estado_civil: {
                           required: true,
                           min: {
                               param: 1,
                           },
                       },
                       id_aux_sexo: {
                           required: true,
                           min: {
                            param: 1,
                           },
                       },
                       ben_telefone_celular: {
                           required: true,
                       },
                       ben_data_nascimento: {
                           required: true,
                       },
                   },
                   messages: {
                       ben_nome: {
                           required: 'Por favor preencha o campo "Nome Completo".',
                       },
                       id_aux_estado_civil: {
                           required: 'Por favor preencha o campo "Estado Civíl".',
                           min: 'Por favor preencha o campo "Estado Civíl".',
                       },
                       id_aux_sexo: {
                           required: 'Por favor preencha o campo "Sexo".',
                           min: 'Por favor preencha o campo "Sexo".',
                       },
                       ben_telefone_celular: {
                           required: 'Por favor preencha o campo "Telefone Celular".',
                       },
                       ben_data_nascimento: {
                           required: 'Por favor preencha o campo "Data de Nascimento".',
                       },
                       
                   },
               });
           });
        
        Dropzone.options.myAwesomeDropzone = {
            paramName: 'imagem_',
            maxFilesize: 2, // MB
            init: function() {
                this.on("success", function(file, responseText) {
                    $.ajax({
                        type: "POST",
                        url: 'https://app.4clinics.software/beneficiario/get_imagem',
                        data: { id_beneficiarios: "" },
                        success: function(dado){
                            $('#img_beneficiario').attr('src','data:image/jpeg;base64,'+dado);
                            abrir_imagem();
                        }
                    });
                });
            }
        };
        
        function testar_imagem(){
            $('#img_beneficiario').attr('src','');
            $('#my-awesome-dropzone .dz-message img').remove();
            abrir_imagem();
        }
        
        function abrir_imagem(){
            if ($('#img_beneficiario').attr('src') != '') {
                $('#my-awesome-dropzone .dz-message').append($('#img_beneficiario').clone());
                $('#my-awesome-dropzone .dz-message').attr('style','margin:0em 1em');
                $('#my-awesome-dropzone .dz-message span').attr('style','display:none');
                $('#my-awesome-dropzone .dz-message img').attr('width','100%');
                $('#my-awesome-dropzone .dz-message img').attr('style','display:block');
                $('#my-awesome-dropzone i').attr('style','display:block !important');
            }else{
                $('#my-awesome-dropzone i').attr('style','display:none !important');
                $('#my-awesome-dropzone .dz-message').attr('style','margin:8em 1em');
                $('#my-awesome-dropzone .dz-message span').attr('style','display:block');
            }
        }
        
        function removerImagem(){
            $.ajax({
                type: "POST",
                url: 'https://app.4clinics.software/beneficiario/remover_imagem',
                data: { id_beneficiarios: "" },
                success: function(dado){
                    $('#myModalGeral2 .modal-header').html('<button type="button" class="close" data-dismiss="modal">&times;</button> <h4 class="modal-title">Exclusão de Foto:</h4>');
                    $('#myModalGeral2 .modal-body').html('<p>A foto foi removida com sucesso!</p>');
                    $('#myModalGeral2 .modal-footer').html('<button type="button" class="btn btn-default pull-right" data-dismiss="modal" onclick="testar_imagem()">OK</button>');
                    $('#btnModalGeral2').trigger('click');
                }
            });
        }
        
        function validatePessoa() {
            $('.error[for="ben_cpf"]').remove();
            var cpf = $('#ben_cpf').val().replace(/[^0-9]+/g, '');
            var field_name = 'CPF';
            var msg = '';
            
        var id_beneficiarios = 0;       
            if (cpf) {
                $('.error[for="ben_cpf"]').remove();
                if (!isCPF(cpf)) {
                    msg = 'Por favor informe um "CPF" válido.';
                    msg = '<label class="error manual" for="ben_cpf">' + msg + '</label>';
                    $('#ben_cpf').after(msg);
                    $('#ben_cpf').val('');
                }
                checkDuplicateData('ben_cpf', $('#ben_cpf').val(), field_name, id_beneficiarios);
            }
        }
        
        function isCPF(num) {
            var i, j, k, soma, digito, iguais;
            if (num.length != 11) {
                return false;
            }
        
            iguais = true;
            for (i = 1; i < num.length; i++) {
                if (num.charAt(i - 1) != num.charAt(i) && iguais) {
                    iguais = false;
                }
            }
            if (iguais) {
                return false;
            }
        
            for (j = 10; j <= 11; j++) {
                soma = 0;
                for (i = 0, k = j; i < j - 1; i++, k--) {
                    soma += eval(num.charAt(i)) * k;
                }
        
                digito = 11 - (soma % 11);
                if (digito > 9) {
                    digito = 0;
                }
        
                if (eval(num.charAt(j - 1)) != eval(digito)) {
                    return false;
                }
            }
        
            return true;
        }
        
        function checkDuplicateData(field, data_field, field_name, id_beneficiarios) {      
            $.post(
                    HTTPS_ROOT + 'int_beneficiario/checkDuplicateData',
                    {field: field, data_field: data_field, id_beneficiarios: id_beneficiarios},
            function (res) {    
                if (res == 'true') {    
                    $('.error[for="' + field + '"]').remove();
                    msg = 'O "' + field_name + '" informado já esta em uso.';
                    msg = '<label class="error manual" for="' + field + '">' + msg + '</label>';
                    $('#' + field).after(msg);
                    $('#' + field).val('');
                }
            });
        }
        
        $("#descricao_cbo").select2({
            locale: 'pt',
            placeholder: "Buscar...",
            minimumInputLength: 5,
            ajax: {
                url: "https://app.4clinics.software/beneficiario/buscar_cbo",
                dataType: 'json',
                quietMillis: 250,
                width: 400,
                data: function (term, page) {
                    return {
                        q: term,
                    }
                },
                results: function (data, page) {
                    return {results: data.items}
                },
                cache: false
            },
            /*
            initSelection: function (element, callback) {
                var id = $(element).val();
                if (id !== "") {
                    
                    $.ajax("https://app.4clinics.software/beneficiario/buscar_cbo/?value=" + id, {
                        dataType: "json"
                    }).done(function (data) {
                        callback(data);
                    })
        
                    //console.log('id: '+data);
                }
            },
            */
            formatResult: repoFormatResult,
            formatSelection: repoFormatSelection,
            dropdownCssClass: "bigdrop",
            escapeMarkup: function (m) {
                return m
            }
        }); 
        
        function repoFormatResult(repo) {
               var markup = '<div class="row">' +
                       '<div class="col-xs-12">' +
                       '<div class="col">' +
                       '<div class="col-xs-12">' + repo.resultado + '</div>' +
                       '</div>';
               markup += '</div></div>';
        
               return markup;
           }
           
           function repoFormatSelection(repo) {
               if (repo.id) { 
                $('#id_aux_cbo').val(repo.id);
               }
            return repo.resultado; 
           }
        
        
    </script>
    <script id="jsbin-javascript">
        (function() {
        
                var streaming = false,
                    video = document.querySelector('#video'),
                    canvas = document.querySelector('#canvas'),
                    photo = document.querySelector('#photo'),
                    tirarfoto = document.querySelector('#tirarfoto'),
                    width = 320,
                    height = 240;
        
                navigator.getMedia = ( navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
        
                navigator.getMedia(
                    {
                        video: true,
                        audio: false
                    },
                    function(stream) {
                        if (navigator.mozGetUserMedia) {
                            video.mozSrcObject = stream;
                        } else {
                            var vendorURL = window.URL || window.webkitURL;
                            video.src = vendorURL.createObjectURL(stream);
                        }
                        video.play();
                    },
                    function(err) {
                        console.log("An error occured! " + err);
                    }
                );
        
                video.addEventListener('canplay', function(ev){
                    if (!streaming) {
                        height = video.videoHeight / (video.videoWidth/width);
                        video.setAttribute('width', width);
                        video.setAttribute('height', height);
                        canvas.setAttribute('width', width);
                        canvas.setAttribute('height', height);
                        streaming = true;
                    }
                }, false);
        
                function takepicture() {
                    if($('#photo').attr('src')){
                        $('#photo').cropper("destroy");
                    }        
                    canvas.width = width;
                    canvas.height = height;
                    canvas.getContext('2d').drawImage(video, 0, 0, width, height);
                    var data = canvas.toDataURL('image/png');
                    var image_t = new Image();
                    image_t.src = data;
                    image_t.id = 'photo';
                    var pai = $('#photo').parent();
                    $('#photo').remove();
                    pai.append(image_t);
        
                    var image_tp = new Image();
                    image_tp.src = data;
                    image_tp.id = 'photo_preview';
                    var pai_preview = $('#photo_preview').parent();
                    $('#photo_preview').remove();
                    pai_preview.append(image_tp);
        
                    cortar_imagem();
                }
        
                tirarfoto.addEventListener('click', function(ev){
                    takepicture();
                    ev.preventDefault();
                }, false);
            })();
        
            function usar_foto(){
                $('#my-awesome-dropzone .dz-message img').remove();
                var ima = getRoundedCanvas($('#photo').cropper("getCroppedCanvas")).toDataURL();
                enviar_imagem(ima);
            }
        
            function enviar_imagem(dado){
                $.ajax({
                    type: "POST",
                    url: 'https://app.4clinics.software/beneficiario/envio_imagem',
                    data: { id_beneficiarios: "", image: dado },
                    success: function(dado){
                        buscar_imagem();
                    }
                });
            }
        
            function buscar_imagem(){
                $.ajax({
                    type: "POST",
                    url: 'https://app.4clinics.software/beneficiario/get_imagem',
                    data: { id_beneficiarios: "" },
                    success: function(dado){
                        $('#img_beneficiario').attr('src','data:image/png;base64,'+dado);
                        abrir_imagem();
                    }
                });
            }
        
            function cortar_imagem(){
                $('#photo').cropper({
                    aspectRatio: 1 / 1,
                    maxWidth: 120,
                    maxHeight: 140,
                    preview: '.img_preview',
                    dragMode: 'move'
                });
            }
        
            function getRoundedCanvas(sourceCanvas) {
                var canvas_ = document.createElement('canvas');
                var context = canvas_.getContext('2d');
                var width = 120;
                var height = 140;
        
                canvas_.width = width;
                canvas_.height = height;
                context.drawImage(sourceCanvas, 0, 0, width, height);
        
                return canvas_;
            }
            
            /*-----------------------------------------------------------------------
            | Implementado para a máscara aceitar 8 e 9 dígitos
            | Por: Richardson S. Westphal     <rsw.empresa@gmail.com>
            | Em : 19/05/2016
            |----------------------------------------------------------------------*/
            $('#ben_telefone, #ben_telefone_celular').blur(function(){
                if($(this).val().length == 10){
                    $(this).mask('(99) 9999-9999?9');
                    /*-----------------------------------------------------------------------
                    | Precisei alterar pois o validate estava pegando o max-length e mesmo com o
                    | número correto dava erro pois ainda tinha os caracteres da máscara que 
                    | ultrapassava o max-length.
                    | Por: Richardson S. Westphal     <rsw.empresa@gmail.com>
                    | Em : 23/05/2016
                    |----------------------------------------------------------------------*/
                    $(this).attr('maxlength', '20');
        
                }else if($(this).val().length == 11){
                    $(this).mask('(99) 99999-9999');
                    /*-----------------------------------------------------------------------
                    | Precisei alterar pois o validate estava pegando o max-length e mesmo com o
                    | número correto dava erro pois ainda tinha os caracteres da máscara que 
                    | ultrapassava o max-length.
                    | Por: Richardson S. Westphal     <rsw.empresa@gmail.com>
                    | Em : 23/05/2016
                    |----------------------------------------------------------------------*/
                    $(this).attr('maxlength', '20');
        
                }
            });
            
    </script>
</div>
</div>
