<div class="content">
    <div class="container">
        <script type="text/javascript" src="https://app.4clinics.software/skin/home/app_theme/js/mascara_moeda.js"></script>
        <script type="text/javascript" src="https://app.4clinics.software/skin/home/app_theme/js/validate.min.js"></script>
        <style type="text/css">
            .bigdrop{
            width:400px !important;
            }
        </style>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet portlet-boxed">
                    <div class="portlet-header_rev">
                        <h4 class="portlet-title">
                            <u>
                                <i class="fa fa-edit fa_rev"></i>
                                <spam class="painel-fonte-titulo_rev"> Cadastro de Operadoras</spam>
                            </u>
                        </h4>
                    </div>
                    <form action="https://app.4clinics.software/convenio/cadastro" id="formDados" method="post" accept-charset="utf-8">
                        <input type="hidden" name="id_operadoras" value="">
                        <input type="hidden" name="id_contratados" value="">
                        <div class="portlet-body">
                            <div class="form-group col-sm-9" style="padding-left: 0;">
                                <label for="ope_nome">1 - Nome/Razão Social da Operadora<span class="text-danger">*</span></label>
                                <input type="text" name="ope_nome" value="" id="ope_nome" class="form-control input-sm">
                            </div>
                            <div class="form-group col-sm-3" style="padding-left: 0;">
                                <label for="ope_registro_ans">2 - Registro ANS<span class="text-danger">*</span></label>
                                <input type="text" name="ope_registro_ans" value="" id="ope_registro_ans" class="form-control input-sm">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-sm-3" style="padding-left: 0;">
                                <label for="id_aux_identificacao_xml">3 - Identificação no XML</label>
                                <select name="id_aux_identificacao_xml" id="id_aux_identificacao_xml" class="form-control input-sm">
                                    <option value="">Selecione ---</option>
                                    <option value="2">Pelo CNPJ ou CPF do prestador</option>
                                    <option value="1">Pelo código da empresa na operadora</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4" style="padding-left: 0;">
                                <label for="ope_codigo_empresa">4 - Código da Empresa na Operadora</label>
                                <input type="text" name="ope_codigo_empresa" value="" id="ope_codigo_empresa" class="form-control input-sm">
                            </div>
                            <div class="form-group col-sm-3" style="padding-left: 0;">
                                <label for="id_aux_versao_tiss">5 - Versão do TISS</label>
                                <select name="id_aux_versao_tiss" id="id_aux_versao_tiss" class="form-control input-sm">
                                    <option value="">Selecione ---</option>
                                    <option value="6" selected="selected">3.02.00</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-sm-3" style="padding-left: 0;">
                                <label for="ope_lote_inicial">6 - Número do lote inicial</label>
                                <input type="text" name="ope_lote_inicial" value="" id="ope_lote_inicial" class="form-control input-sm">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" style="padding-left: 0;">
                                <label for="ope_observacoes">7 - Observações</label>
                                <textarea name="ope_observacoes" cols="40" rows="3" id="ope_observacoes" class="form-control input-sm"></textarea>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-sm-5" style="padding-left: 0;">
                                <input type="checkbox" name="ope_cadastro_ativo" value="S" checked="checked">
                                8 - Operadora ativa para registro de novas guias.
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <button type="button" style="margin-left: 10px;" onclick="Valida();" id="btn_submit" class="btn btn-info pull-right">Gravar Informações do Convênio</button>
                                <button type="button" onclick="window.location='https://app.4clinics.software/convenio/listar'" style="margin-left: 10px;" class="btn btn-default pull-right">Cancelar</button>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="info-board info-board-blue" style="font-size: 14px; padding-bottom: 15px; margin-top: 0;">
                                OBS:<br>
                                - Utilize o campo "6 - Número do lote inicial" para definir o número do primeiro lote que o sistema deve gerar para a operadora. Este campo pode ser utilizado também para definir o número do próximo lote. <br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('select option[value=0]').attr('value', '');        
            });
            
            function Valida() {
                $('label[class="error"]').remove();
            
                if (!$('#ope_nome').val()) {
                    addErrorMsg('ope_nome', 'Por favor preencha o campo "1 - Nome".');
                }
                if (!$('#ope_registro_ans').val()) {
                    addErrorMsg('ope_registro_ans', 'Por favor preencha o campo "3 - Registro ANS".');
                }        
                if (!$('#id_aux_versao_tiss').val()) {
                    addErrorMsg('id_aux_versao_tiss', 'Por favor preencha o campo "6 - Versão do TISS".');
                }
                
                if ($('#id_aux_tipo_identificacao').val() == 1 && !$('#ope_codigo_empresa').val()) {
                    addErrorMsg('ope_codigo_empresa', 'Por favor preencha o campo "4 - Cód Empresa na Op.');
                }                
                if ($('#id_aux_identificacao_xml').val() == 1 && !$('#ope_codigo_empresa').val()) {
                    addErrorMsg('ope_codigo_empresa', 'Por favor preencha o campo "4 - Cód Empresa na Op.');
                }
                if (!$('label[class="error"]').length) {
                    $('#formDados').submit();
                }
            }
            
            function addErrorMsg(target, msg) {
                _html = '<label class="error" for="' + target + '">' + msg + '</label>';
                $('#' + target).after(_html);
            }
        </script>
    </div>
</div>
